#i10l {
    max-width: 730px;
    min-height: 80%;
}

#i10l {
    max-width: 730px;
}

#i10l {
    max-width: 650px;
    padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 0px;
    padding-left: 50px;
    margin-top: 60px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    text-align: left;
    width: auto;
    float: none;
}

#ibxf1lw {
    text-align: center;
    margin-top: 30px;
    margin-right: 0px;
    margin-bottom: 8px;
    margin-left: 0px;
}

.c1691 {
    margin-bottom: 500px;
    height: auto;
    background-color: rgba(255, 255, 255, 0);
    min-height: auto;
}

#description {
    resize: none;
}

.c1867 {
    height: auto;
    min-height: auto;
}

#chooseBtn {
    margin-right: 5px;
}

.c1859 {
    height: auto;
    min-height: 700px;
    background-color: rgba(78, 85, 91, 0);
}

.col-xl-12.col-lg-12.col-md-12.col-sm-4.col-12.c1867 {
    height: 700px;
    min-height: 100%;
}

.col-sm-3.col-form-label {
    max-width: 50%;
    width: auto;
}

.btn.btn-primary.btn-lg {
    font-size: 15px;
    float: none;
    position: static;
}

#btn-return{
    float: left;
}

.col-sm-9 {
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
    max-width: 83.3%;
}

.btn.btn-primary {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 5px;
    padding-left: 12px;
}

.c60077 {
    min-height: 75px;
}

.c60086 {
    min-height: 75px;
}

.c60069 {
    min-height: 75px;
}

.col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12.c60086 {
    text-align: right;
    min-height: 50px;
    height: 50px;
    padding-top: 7px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
}

.col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12.c60077 {
    max-width: 50%;
    min-height: 50px;
    height: 50px;
    padding-top: 7px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
}

.row.c60069 {
    height: 50px;
    min-height: 50px;
}

#newProductbtn {
    margin-top: 20px;
    margin-left: 45px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload {
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 20px;
    border-radius: 3px;
}

#opisArea {
    resize: none;
}

#availableCBox, #saleCBox, #tblImg {
    text-align: center;
}

.list-group-item:hover {
    background-color: rgba(0, 211, 238, 0.2);
    cursor: auto;
}

@media (max-width: 480px) {
    .col-xl-12.col-lg-12.col-md-12.col-sm-4.col-12.c1867 {
        min-height: 1100px;
    }

    .col-xl-12.col-lg-12.col-md-12.col-sm-4.col-12.c1867 {
        min-height: 1000px;
    }

    .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12.c60077 {
        text-align: center;
        max-width: 100%;
    }

    .col-xl-6.col-lg-6.col-md-6.col-sm-12.col-12.c60086 {
        text-align: center;
    }

    .col-xl-12.col-lg-12.col-md-12.col-sm-4.col-12.c1867 {
        min-height: 1100px;
    }
}

.form-group.has-success, .form-group.has-success .form-control-feedback {
    color: #468847;
}

.form-group.has-success .input-group-text {
    background-color: #dff0d8;
    border-color: #468847;
}

.form-group.has-success .form-control {
    border-color: #468847;
}

.form-group.has-error, .form-group.has-error .form-control-feedback {
    color: red;
}

.form-group.has-error .input-group-text {
    background-color: #dff0d8;
    border-color: red;
}

.form-group.has-error .form-control {
    border-color: red;
}