<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="webapp/containers/headContainer :: headContainer(title='Plastika Drašković - Pretraga')"></head>
<body>

<div th:replace="webapp/containers/headerContainer :: headerContainer" th:with="${categories}"></div>

<!--=============================================
=            breadcrumb area         =
=============================================-->

<div class="breadcrumb-area pt-15 pb-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb container  =======-->

                <div class="breadcrumb-container">
                    <nav>
                        <ul>
                            <li class="parent-page"><a th:href="@{/}">Početna</a></li>
                            <li th:text="Pretraga"></li>
                        </ul>
                    </nav>
                </div>
                <!--=======  End of breadcrumb container  =======-->
            </div>
        </div>
    </div>
</div>

<div class="shop-page-content mb-50" th:if="${products.size()>0}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-1 order-lg-2">

                <!--=======  Shop header  =======-->

                <div class="shop-header mb-30">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center">
                            <!--=======  view mode  =======-->

                            <div class="view-mode-icons mb-xs-10">
                                <a class="active" data-target="grid" href="#"><i class="icon ion-md-apps"></i></a>
                                <a data-target="list" href="#"><i class="icon ion-ios-list"></i></a>
                            </div>

                            <!--=======  End of view mode  =======-->

                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column flex-sm-row justify-content-between align-items-left align-items-sm-center">
                            <!--=======  Sort by dropdown  =======-->
                            <div class="sort-by-dropdown d-flex align-items-center mb-xs-10">
                                <p class="mr-10 mb-0">Sortiraj: </p>
                                <select class="nice-select" id="sort-by" name="sort-by">
                                    <option value="min-price">Najjeftinije prvo</option>
                                    <option value="max-price">Najskuplje prvo</option>
                                    <option selected value="name-asc">Naziv A-Z</option>
                                    <option value="name-desc">Naziv Z-A</option>
                                </select>
                            </div>

                            <div class="sort-by-dropdown d-flex align-items-center mb-xs-10">
                                <p class="mr-10 mb-0">Prikaži: </p>
                                <select class="nice-select" id="show-by" name="show-by">
                                    <option value="20">20</option>
                                    <option value="40">40</option>
                                    <option value="60">60</option>
                                    <option value="100">100</option>
                                </select>
                            </div>

                            <!--=======  End of Sort by dropdown  =======-->

                            <p class="result-show-message" th:text="'Prikazano 1-12 od '+${pagination.getTotalElements()}"></p>
                        </div>
                    </div>
                </div>

                <!--=======  End of Shop header  =======-->

                <!--=======  shop product display area  =======-->
                <div class="shop-product-wrap grid row mb-30 no-gutters">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12" th:each="product : ${products}">
                        <!--=======  grid view product  =======-->

                        <!--=======  single product  =======-->

                        <div class="fl-product shop-grid-view-product">
                            <div class="image" th:classappend="${product.isSale()}?'sale-product'">
                                <a th:href="@{/product/single_product/__${product.id}__}">
                                    <img alt="" class="img-fluid" th:src="@{'/images/' + ${product.images.get(0).name}}">
                                    <img alt="" class="img-fluid" th:src="@{'/images/' + ${product.images.get(0).name}}">
                                </a>
                            </div>
                            <div class="content">
                                <h2 class="product-title"><a th:href="@{/product/single_product/__${product.id}__}" th:text="${product.name}"></a></h2>
                                <div class="rating">
                                    <i class="fa fa-star" th:classappend="${product.getAverageRating()>=1}?'active'"></i>
                                    <i class="fa fa-star" th:classappend="${product.getAverageRating()>=2}?'active'"></i>
                                    <i class="fa fa-star" th:classappend="${product.getAverageRating()>=3}?'active'"></i>
                                    <i class="fa fa-star" th:classappend="${product.getAverageRating()>=4}?'active'"></i>
                                    <i class="fa fa-star" th:classappend="${product.getAverageRating()>=5}?'active'"></i>
                                </div>
                                <p class="product-price">
                                    <span class="main-price discounted" th:if="${product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinPrice()}+' - '+${product.getMaxPrice()}+ ' RSD'"></span>
                                    <span class="main-price discounted" th:if="${product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinPrice()}+ ' RSD'"></span>
                                    <br th:if="${product.isSale()&&product.productAttributes.size()>1}">
                                    <span class="discounted-price" th:if="${product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinDiscountedPrice()}+' - '+${product.getMaxDiscountedPrice()}+ ' RSD'"></span>
                                    <span class="discounted-price" th:if="${product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinDiscountedPrice()}+ ' RSD'"></span>
                                    <span class="discounted-price" th:if="${!product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinPrice()}+' - '+${product.getMaxPrice()}+ ' RSD'"></span>
                                    <span class="discounted-price" th:if="${!product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinPrice()}+ ' RSD'"></span>
                                </p>

                                <div class="hover-icons">
                                    <ul>
                                        <li><a data-tooltip="Dodaj u korpu" th:href="@{/product/single_product/__${product.id}__}"><i class="icon ion-md-cart"></i></a></li>
                                        <li><a data-tooltip="Dodaj u listu želja" href="#" th:onclick="|openWishListDialog(${product.id})|"> <i class="icon ion-md-heart-empty"></i></a></li>
                                        <li><a data-tooltip="Detaljnije" href="#" id="details" th:onclick="'javascript:openProductModal(\'' + ${product.id} + '\');'"><i class="icon ion-md-open"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--=======  End of single product  =======-->

                        <!--=======  End of grid view product  =======-->

                        <!--=======  list view product  =======-->

                        <div class="fl-product shop-list-view-product">
                            <div class="image" th:classappend="${product.isSale()}?'sale-product'">
                                <a th:href="@{/product/single_product/__${product.id}__}">
                                    <img alt="" class="img-fluid" th:src="@{'/images/' + ${product.images.get(0).name}}">
                                    <img alt="" class="img-fluid" th:src="@{'/images/' + ${product.images.get(0).name}}">
                                </a>
                            </div>
                            <div class="content">
                                <h2 class="product-title"><a th:href="@{/product/single_product/__${product.id}__}" th:text="${product.name}"></a></h2>
                                <div class="rating">
                                    <i class="fa fa-star" th:classappend="${product.getAverageRating()>=1}?'active'"></i>
                                    <i class="fa fa-star" th:classappend="${product.getAverageRating()>=2}?'active'"></i>
                                    <i class="fa fa-star" th:classappend="${product.getAverageRating()>=3}?'active'"></i>
                                    <i class="fa fa-star" th:classappend="${product.getAverageRating()>=4}?'active'"></i>
                                    <i class="fa fa-star" th:classappend="${product.getAverageRating()>=5}?'active'"></i>
                                </div>
                                <p class="product-price">
                                    <span class="main-price discounted" th:if="${product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinPrice()}+' - '+${product.getMaxPrice()}+ ' RSD'"></span>
                                    <span class="main-price discounted" th:if="${product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinPrice()}+ ' RSD'"></span>
                                    <br th:if="${product.isSale()&&product.productAttributes.size()>1}">
                                    <span class="discounted-price" th:if="${product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinDiscountedPrice()}+' - '+${product.getMaxDiscountedPrice()}+ ' RSD'"></span>
                                    <span class="discounted-price" th:if="${product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinDiscountedPrice()}+ ' RSD'"></span>
                                    <span class="discounted-price" th:if="${!product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinPrice()}+' - '+${product.getMaxPrice()}+ ' RSD'"></span>
                                    <span class="discounted-price" th:if="${!product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinPrice()}+ ' RSD'"></span>
                                </p>

                                <p class="product-description" th:text="${product.description}"></p>

                                <div class="hover-icons">
                                    <ul>
                                        <li><a data-tooltip="Dodaj u korpu" th:href="@{/product/single_product/__${product.id}__}">Dodaj u korpu</a></li>
                                        <li><a href="#"><i class="icon ion-md-heart-empty"></i></a></li>
                                        <li><a data-tooltip="Detaljnije" href="#" th:onclick="'javascript:openProductModal(\'' + ${product.id} + '\');'"><i class="icon ion-md-options"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--=======  End of list view product  =======-->

                    </div>
                </div>

                <!--=======  End of shop product display area  =======-->

                <!--=======  pagination area  =======-->

                <div class="pagination-area" th:if="${pagination.getTotalPages() > 0}">
                    <ul>
                        <li th:classappend="${pagination.getNumber() eq 0} ? 'disabled'"><a th:onclick="'javascript:loadPage(\''+ ${pagination.getNumber()-1} +'\');'"><i class="fa fa-angle-double-left"></i></a></li>
                        <li th:each="pageNumber : ${#numbers.sequence(0, pagination.getTotalPages() - 1)}"><a th:classappend="${pageNumber eq pagination.getNumber()} ? 'active'" th:onclick="'javascript:loadPage(\''+ ${pageNumber} +'\');'" th:text="${pageNumber}+1"></a></li>
                        <li th:classappend="${pagination.getNumber()+1 eq pagination.getTotalPages()} ? 'disabled'"><a th:onclick="'javascript:loadPage(\''+ ${pagination.getNumber()+1} +'\');'"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>

                <!--=======  End of pagination area  =======-->
            </div>
        </div>
    </div>
</div>
<div class="shop-page-content mb-50" th:unless="${products.size()>0}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-1 order-lg-2">
                <p style="font-weight: bold; font-size: 20px" th:text="'Rezultati pretraživanja za pojam: '+${search}"></p>
                <p style="font-weight: bold; font-size: 16px">Nema proizvoda koji zadovoljavaju zadati kriterijum.</p>
                <p style="font-weight: bold; font-size: 14px">Predlozi:</p>
                <p style="font-weight: normal; font-size: 14px">Uverite se da ste sve ključne reči upisali ispravno.</p>
                <p style="font-weight: normal; font-size: 14px">Probajte sa drugim ključnim rečima.</p>
                <p style="font-weight: normal; font-size: 14px">Probajte uopštenije klične reči.</p>
                <p style="font-weight: normal; font-size: 14px">Probajte manje ključnih reči.</p>
            </div>
        </div>
    </div>
</div>

<a class="scroll-top" href="#"></a>

<!--QUICK VIEW MODAL-->
<div aria-hidden="true" class="modal fade quick-view-modal-container" id="quick-view-modal-container" role="dialog" tabindex="-1"></div>

<div th:replace="webapp/containers/footerContainer :: footerContainer"></div>

<div th:insert="webapp/containers/scriptsContainer :: scriptsContainer"></div>

<script th:inline="javascript" type="text/javascript">

    $(document).ready(function () {
        $('.modal').on('shown.bs.modal', function (e) {
            $('.small-image-slider').resize();
            addProductSlider();
        });
        /*<![CDATA[*/
        var search = /*[[${search}]]*/ 'SearchParam';
        var products_size = /*[[${products.size()}]]*/ 'SearchParam';
        /*]]>*/
        $('#sort-by').on('change', function () {
            showSearchedProductList(search, 0, $('#show-by').val(), $('#sort-by').val());
        });

        $('#show-by').on('change', function () {
            showSearchedProductList(search, 0, $('#show-by').val(), $('#sort-by').val());
        });
        if (products_size > 0)
            refreshProductHeader(search, 0, $('#show-by').val(), $('#sort-by').val());
    });

    function openWishListDialog(productID) {
        $.ajax({
            url: '/product/add_product_to_wishlist/' + productID,
            type: 'get',
            success: function (response) {
                bootbox.dialog({
                    title: 'Lista želja',
                    message: 'Uspešno ste dodali artikal ' + response + ' u listu želja',
                    size: 'medium',
                    onEscape: false,
                    buttons: {
                        cancel: {
                            label: "Nastavi sa kupovinom",
                            className: 'btn-success',
                            callback: function () {
                                refreshMinicart();
                            }
                        },
                        ok: {
                            label: "Pregledaj listu želja",
                            className: 'btn-success',
                            callback: function () {
                                showWishListProducts();
                            }
                        }
                    }
                });
            }
        });
    }

    function refreshMinicart() {
        $.ajax({
            url: '/cart/refresh_minicart',
            type: 'get',
            success: function (response) {
                $(".navigation-menu-top").replaceWith(response);
                $("#cart-icon").on("click", function (event) {
                    event.stopPropagation();
                    $("#cart-floating-box").slideToggle();
                    $("#accountList").slideUp("slow");
                    $("#languageList").slideUp("slow");
                });

                $("body:not(#cart-icon)").on("click", function () {
                    $("#cart-floating-box").slideUp("slow");
                });
            }
        });
    }

    function showWishListProducts() {
        window.location = '/product/show_wishlist';
    }

    function openProductModal(productID) {
        $.ajax({
            url: '/product/product_modal/' + productID,
            type: 'get',
            success: function (response) {
                $(".modal").html(response);
                $(".modal").modal('show');
            }
        });
    }

    function showSearchedProductList(search, page, size, sort) {
        $.ajax({
            url: '/product/product_list_searched_fragment/' + search + '/' + page + '/' + size + '/' + sort,
            type: 'get',
            success: function (response) {
                $('.shop-product-wrap').html(response);
            }
        });
        refreshPagination(search, page, size);
        refreshProductHeader(search, page, size);
    }

    function refreshPagination(search, page, size) {
        $.ajax({
            url: '/product/refresh_search_pagination/' + search + '/' + page + '/' + size,
            type: 'get',
            success: function (response) {
                $(".pagination-area").replaceWith(response);
            }
        });
    }

    function refreshProductHeader(categoryId, page, size) {
        $.ajax({
            url: '/product/refresh_searched_product_header/' + categoryId + '/' + page + '/' + size,
            type: 'get',
            success: function (response) {
                $(".result-show-message").replaceWith(response);
            }
        });
    }

    function loadPage(page) {
        /*<![CDATA[*/
        var search = /*[[${search}]]*/ 'SearchParam';
        /*]]>*/
        showSearchedProductList(search, page, $('#show-by').val(), $('#sort-by').val());
        $('html,body').animate({
            scrollTop: 0
        }, 1000);
    }

    function addProductSlider() {
        $('.small-image-slider, .quickview-small-image-slider').slick({
            prevArrow: '<i class="fa fa-angle-left slick-prev"></i>',
            nextArrow: '<i class="fa fa-angle-right slick-next"></i>',
            arrows: true,
            dots: false,
            slidesToShow: 4,
            responsive: [
                {
                    breakpoint: 1499,
                    settings: {
                        slidesToShow: 4,
                    }
                },
                {
                    breakpoint: 1199,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 991,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 3,
                        arrows: false
                    }
                },
                {
                    breakpoint: 575,
                    settings: {
                        slidesToShow: 3,
                        arrows: false
                    }
                },
                {
                    breakpoint: 479,
                    settings: {
                        slidesToShow: 2,
                        arrows: false
                    }
                }
            ]
        });
    }

</script>
</body>
</html>