<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="webapp/containers/headContainer :: headContainer"></head>
<body>

<div th:replace="webapp/containers/headerContainer :: headerContainer" th:with="${categories}"></div>

<!--=============================================
=            breadcrumb area         =
=============================================-->

<div class="breadcrumb-area pt-15 pb-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb container  =======-->

                <div class="breadcrumb-container">
                    <nav>
                        <ul>
                            <li class="parent-page"><a th:href="@{/}">Početna</a></li>
                            <li th:text="Pretraga"></li>
                        </ul>
                    </nav>
                </div>
                <!--=======  End of breadcrumb container  =======-->
            </div>
        </div>
    </div>
</div>

<div class="shop-page-content mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-1 order-lg-2">

                <!--=======  Shop header  =======-->

                <div class="shop-header mb-30">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center">
                            <!--=======  view mode  =======-->

                            <div class="view-mode-icons mb-xs-10">
                                <a class="active" href="#" data-target="grid"><i class="icon ion-md-apps"></i></a>
                                <a href="#" data-target="list"><i class="icon ion-ios-list"></i></a>
                            </div>

                            <!--=======  End of view mode  =======-->

                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column flex-sm-row justify-content-between align-items-left align-items-sm-center">
                            <!--=======  Sort by dropdown  =======-->

                            <div class="sort-by-dropdown d-flex align-items-center mb-xs-10">
                                <p class="mr-10 mb-0">Sortiraj po: </p>
                                <select name="sort-by" id="sort-by" class="nice-select">
                                    <option value="0">Popularnosti</option>
                                    <option value="0">Ceni rastuće</option>
                                    <option value="0">Ceni opadajuće</option>
                                    <option value="0">Nazivu</option>
                                </select>
                            </div>

                            <!--=======  End of Sort by dropdown  =======-->

                            <p th:text="'Prikazano 1-12 od '+${pagination.getTotalElements()}" class="result-show-message"></p>
                        </div>
                    </div>
                </div>

                <!--=======  End of Shop header  =======-->

                <!--=======  shop product display area  =======-->
                <div class="shop-product-wrap grid row mb-30 no-gutters">
                    <div th:each="product : ${products}" class="col-lg-3 col-md-6 col-sm-6 col-12">
                        <!--=======  grid view product  =======-->

                        <!--=======  single product  =======-->

                        <div class="fl-product shop-grid-view-product">
                            <div class="image">
                                <a th:href="@{/product/single_product/__${product.id}__}">
                                    <img th:src="@{'/images/' + ${product.images.get(0).name}}" class="img-fluid" alt="">
                                    <img th:src="@{'/images/' + ${product.images.get(0).name}}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <h2 class="product-title"><a th:text="${product.name}" th:href="@{/product/single_product/__${product.id}__}"></a></h2>
                                <div class="rating">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="product-price">
                                    <!--                                <span class="main-price discounted">$71</span>-->
                                    <span th:text="${product.productAttributes.get(0).price}+' RSD'" class="discounted-price"></span>
                                </p>

                                <div class="hover-icons">
                                    <ul>
                                        <li><a href="#" data-tooltip="Dodaj u korpu"><i class="icon ion-md-cart"></i></a></li>
                                        <li><a href="#" data-tooltip="Dodaj u listu želja"><i class="icon ion-md-heart-empty"></i></a></li>
                                        <li><a href="#" id="details" data-tooltip="Detaljnije" th:onclick="'javascript:openProductModal(\'' + ${product.id} + '\');'"><i class="icon ion-md-open"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--=======  End of single product  =======-->

                        <!--=======  End of grid view product  =======-->

                        <!--=======  list view product  =======-->

                        <div class="fl-product shop-list-view-product">
                            <div class="image">
                                <a th:href="@{/product/single_product/__${product.id}__}">
                                    <img th:src="@{'/images/' + ${product.images.get(0).name}}" class="img-fluid" alt="">
                                    <img th:src="@{'/images/' + ${product.images.get(0).name}}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <h2 class="product-title"><a th:text="${product.name}" th:href="@{/product/single_product/__${product.id}__}"></a></h2>
                                <div class="rating">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="product-price">
                                    <!--                                <span class="main-price discounted">$71</span>-->
                                    <span th:text="${product.productAttributes.get(0).price}+' RSD'" class="discounted-price"></span>
                                </p>

                                <p class="product-description" th:text="${product.description}"></p>

                                <div class="hover-icons">
                                    <ul>
                                        <li><a href="#" data-tooltip="Dodaj u korpu">Dodaj u korpu</a></li>
                                        <li><a href="#"><i class="icon ion-md-heart-empty"></i></a></li>
                                        <li><a href="#" data-tooltip="Detaljnije" th:onclick="'javascript:openProductModal(\'' + ${product.id} + '\');'"><i class="icon ion-md-options"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--=======  End of list view product  =======-->

                    </div>
                </div>

                <!--=======  End of shop product display area  =======-->

                <!--=======  pagination area  =======-->

                <div th:if="${pagination.getTotalPages() > 0}" class="pagination-area">
                    <ul>
                        <li th:each="pageNumber : ${#numbers.sequence(0, pagination.getTotalPages() - 1)}">
                            <a th:onclick="'javascript:loadPage(\''+ ${pageNumber} +'\');'" th:classappend="${pageNumber eq pagination.getNumber()} ? 'active'" th:text="${pageNumber}+1"></a></li>
                        <li th:classappend="${pagination.getNumber()+1 eq pagination.getTotalPages()} ? 'disabled'">
                            <a th:onclick="'javascript:loadPage(\''+ ${pagination.getNumber()+1} +'\');'">
                                <i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>

                <!--=======  End of pagination area  =======-->
            </div>
        </div>
    </div>
</div>

<!--QUICK VIEW MODAL-->
<div class="modal fade quick-view-modal-container" id="quick-view-modal-container" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div th:replace="webapp/containers/footerContainer :: footerContainer"></div>

<div th:insert="webapp/containers/scriptsContainer :: scriptsContainer"></div>

<script th:inline="javascript" type="text/javascript">

    $(document).ready(function () {
        $('.modal').on('shown.bs.modal', function (e) {
            $('.small-image-slider').resize();
            addProductSlider();
        });
    });

    function openProductModal(productID) {
        $.ajax({
            url: '/product/product_modal/' + productID,
            type: 'get',
            success: function (response) {
                $(".modal").html(response);
                $(".modal").modal('show');
            }
        });
    }

    function showSearchedProductList(search, page) {
        $.ajax({
            url: '/product/product_list_searched_fragment/' + search + '/' + page,
            type: 'get',
            success: function (response) {
                $('.shop-product-wrap').html(response);
            }
        });
        refreshPagination(search, page);
     //   refreshProductHeader(search,page);
    }

    function refreshPagination(search, page) {
        $.ajax({
            url: '/product/refresh_search_pagination/' + search + '/' + page,
            type: 'get',
            success: function (response) {
                $(".pagination-area").replaceWith(response);
            }
        });
    }

    function refreshProductHeader(categoryId, page) {
        $.ajax({
            url: '/product/refresh_product_header/' + categoryId + '/' + page,
            type: 'get',
            success: function (response) {
                $(".result-show-message").replaceWith(response);
            }
        });
    }

    function loadPage(page) {
        /*<![CDATA[*/
        var search = /*[[${search}]]*/ 'SearchParam';
        /*]]>*/
        showSearchedProductList(search,page);
    }

    function addProductSlider() {
        $('.small-image-slider, .quickview-small-image-slider').slick({
            prevArrow: '<i class="fa fa-angle-left slick-prev"></i>',
            nextArrow: '<i class="fa fa-angle-right slick-next"></i>',
            arrows: true,
            dots: false,
            slidesToShow: 4,
            responsive: [
                {
                    breakpoint: 1499,
                    settings: {
                        slidesToShow: 4,
                    }
                },
                {
                    breakpoint: 1199,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 991,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 3,
                        arrows: false
                    }
                },
                {
                    breakpoint: 575,
                    settings: {
                        slidesToShow: 3,
                        arrows: false
                    }
                },
                {
                    breakpoint: 479,
                    settings: {
                        slidesToShow: 2,
                        arrows: false
                    }
                }
            ]
        });
    }

</script>
</body>
</html>