<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="shop-product-wrap grid row mb-30 no-gutters">
    <div th:fragment="searched_products" th:each="product : ${products}" class="col-lg-3 col-md-6 col-sm-6 col-12">
        <!--=======  grid view product  =======-->

        <!--=======  single product  =======-->

        <div class="fl-product shop-grid-view-product">
            <div class="image" th:classappend="${product.isSale()}?'sale-product'">
                <a th:href="@{/product/single_product/__${product.id}__}">
                    <img th:src="@{'/images/' + ${product.images.get(0).name}}" class="img-fluid" alt="">
                    <img th:src="@{'/images/' + ${product.images.get(0).name}}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="content">
                <h2 class="product-title"><a th:text="${product.name}" th:href="@{/product/single_product/__${product.id}__}"></a></h2>
                <div class="rating">
                    <i class="fa fa-star active"></i>
                    <i class="fa fa-star active"></i>
                    <i class="fa fa-star active"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p class="product-price">
                    <span class="main-price discounted" th:if="${product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinPrice()}+' - '+${product.getMaxPrice()}+ ' RSD'"></span>
                    <span class="main-price discounted" th:if="${product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinPrice()}+ ' RSD'"></span>
                    <br th:if="${product.isSale()&&product.productAttributes.size()>1}">
                    <span class="discounted-price" th:if="${product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinDiscountedPrice()}+' - '+${product.getMaxDiscountedPrice()}+ ' RSD'"></span>
                    <span class="discounted-price" th:if="${product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinDiscountedPrice()}+ ' RSD'"></span>
                    <span class="discounted-price" th:if="${!product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinPrice()}+' - '+${product.getMaxPrice()}+ ' RSD'"></span>
                    <span class="discounted-price" th:if="${!product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinPrice()}+ ' RSD'"></span>
                </p>

                <div class="hover-icons">
                    <ul>
                        <li><a data-tooltip="Dodaj u korpu" th:href="@{/product/single_product/__${product.id}__}"><i class="icon ion-md-cart"></i></a></li>
                        <li><a data-tooltip="Dodaj u listu želja" href="#" th:onclick="|openWishListDialog(${product.id})|"> <i class="icon ion-md-heart-empty"></i></a></li>
                        <li><a href="#" id="details" data-tooltip="Detaljnije" th:onclick="'javascript:openProductModal(\'' + ${product.id} + '\');'"><i class="icon ion-md-open"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--=======  End of single product  =======-->

        <!--=======  End of grid view product  =======-->

        <!--=======  list view product  =======-->

        <div class="fl-product shop-list-view-product">
            <div class="image" th:classappend="${product.isSale()}?'sale-product'">
                <a th:href="@{/product/single_product/__${product.id}__}">
                    <img th:src="@{'/images/' + ${product.images.get(0).name}}" class="img-fluid" alt="">
                    <img th:src="@{'/images/' + ${product.images.get(0).name}}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="content">
                <h2 class="product-title"><a th:text="${product.name}" th:href="@{/product/single_product/__${product.id}__}"></a></h2>
                <div class="rating">
                    <i class="fa fa-star active"></i>
                    <i class="fa fa-star active"></i>
                    <i class="fa fa-star active"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p class="product-price">
                    <span class="main-price discounted" th:if="${product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinPrice()}+' - '+${product.getMaxPrice()}+ ' RSD'"></span>
                    <span class="main-price discounted" th:if="${product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinPrice()}+ ' RSD'"></span>
                    <br th:if="${product.isSale()&&product.productAttributes.size()>1}">
                    <span class="discounted-price" th:if="${product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinDiscountedPrice()}+' - '+${product.getMaxDiscountedPrice()}+ ' RSD'"></span>
                    <span class="discounted-price" th:if="${product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinDiscountedPrice()}+ ' RSD'"></span>
                    <span class="discounted-price" th:if="${!product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinPrice()}+' - '+${product.getMaxPrice()}+ ' RSD'"></span>
                    <span class="discounted-price" th:if="${!product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinPrice()}+ ' RSD'"></span>
                </p>

                <p class="product-description" th:text="${product.description}"></p>

                <div class="hover-icons">
                    <ul>
                        <li><a data-tooltip="Dodaj u korpu" th:href="@{/product/single_product/__${product.id}__}">Dodaj u korpu</a></li>
                        <li><a href="#"><i class="icon ion-md-heart-empty"></i></a></li>
                        <li><a href="#" data-tooltip="Detaljnije" th:onclick="'javascript:openProductModal(\'' + ${product.id} + '\');'"><i class="icon ion-md-options"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!--=======  End of list view product  =======-->

    </div>
</div>
</body>
</html>