<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="webapp/containers/headContainer :: headContainer"></head>

<body>

<div th:replace="webapp/containers/headerContainer :: headerContainer" th:with="${categories}"></div>

<!--=============================================
=            breadcrumb area         =
=============================================-->

<div class="breadcrumb-area pt-15 pb-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb container  =======-->

                <div class="breadcrumb-container">
                    <nav>
                        <ul>
                            <li class="parent-page"><a th:href="@{/}">Početna</a></li>
                            <li id="breadcrumb_category" th:class="${selected_subcategory!=null}?'parent-page'" th:value="${selected_category.id}"><a th:href="@{/product/product_list_category/__${selected_category.id}__}" th:text="${selected_category.name}"></a></li>
                            <li id="breadcrumb_subcategory" th:if="${selected_subcategory!=null}" th:value="${selected_subcategory.id}"><a th:href="@{/product/product_list_sub_category/__${selected_subcategory.id}__}" th:text="${selected_subcategory.name}"></a></li>
                        </ul>
                    </nav>
                </div>
                <!--=======  End of breadcrumb container  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of breadcrumb area  ======-->

<!--=============================================
=            shop page content         =
=============================================-->

<div class="shop-page-content mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 order-2 order-lg-1">
                <!--=======  page sidebar   =======-->

                <div class="page-sidebar">
                    <!--=======  single sidebar block  =======-->

                    <div class="single-sidebar">
                        <h3 class="sidebar-title">KATEGORIJE</h3>

                        <div class="category">
                            <ul>
                                <li th:each="category : ${categories}"><a th:value="${category.id}" th:text="${category.name}"></a></li>
                            </ul>
                        </div>
                    </div>

                    <!--=======  End of single sidebar block  =======-->

                    <!--=======  single sidebar block  =======-->

                    <div class="single-sidebar price-range-bg">
                        <h3 class="sidebar-title filter-price-title">FILTER PO CENI</h3>
                        <div class="sidebar-price">
                            <div id="price-range"></div>
                            <input class="price-amount" data-max="0" data-min="0" id="price-amount" readonly type="text">
                        </div>
                    </div>

                    <!--=======  End of single sidebar block  =======-->

                    <!--=======  single sidebar block  =======-->

                    <div class="single-sidebar mb-30" id="product_colors">
                        <h3 class="sidebar-title color-title">BOJE</h3>
                        <div class="color-category">
                            <ul id="selected_colors">
                                <li th:each="entry:${colorMap}"><a th:text="${entry.key.getName()}"></a> <span class="counter" th:text="'('+${entry.value}+')'"></span></li>
                            </ul>
                        </div>
                    </div>

                    <!--=======  End of single sidebar block  =======-->

                    <!--=======  single sidebar block  =======-->

                    <div class="single-sidebar">
                        <h3 class="sidebar-title">POPULARNI TAGOVI</h3>

                        <!--=======  tag container  =======-->

                        <ul class="tag-container">
                            <li><a href="shop-left-sidebar.html">new</a> </li>
                            <li><a href="shop-left-sidebar.html">bags</a> </li>
                            <li><a href="shop-left-sidebar.html">new</a> </li>
                            <li><a href="shop-left-sidebar.html">kids</a> </li>
                            <li><a href="shop-left-sidebar.html">fashion</a> </li>
                            <li><a href="shop-left-sidebar.html">Accessories</a> </li>
                        </ul>

                        <!--=======  End of tag container  =======-->
                    </div>

                    <!--=======  End of single sidebar block  =======-->
                </div>

                <!--=======  End of page sidebar   =======-->
            </div>

            <div class="col-lg-9 order-1 order-lg-2">

                <!--=======  Shop header  =======-->

                <div class="shop-header mb-30">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-center">
                            <!--=======  view mode  =======-->

                            <div class="view-mode-icons mb-xs-10">
                                <a class="active" href="#" data-target="grid"><i class="icon ion-md-apps"></i></a>
                                <a href="#" data-target="list"><i class="icon ion-ios-list"></i></a>
                            </div>

                            <!--=======  End of view mode  =======-->

                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column flex-sm-row justify-content-between align-items-left align-items-sm-center">
                            <!--=======  Sort by dropdown  =======-->

                            <div class="sort-by-dropdown d-flex align-items-center mb-xs-10">
                                <p class="mr-10 mb-0">Sortiraj: </p>
                                <select name="sort-by" id="sort-by" class="nice-select">
                                    <option value="min-price">Najjeftinije prvo</option>
                                    <option value="max-price">Najskuplje prvo</option>
                                    <option selected value="name-asc">Naziv A-Z</option>
                                    <option value="name-desc">Naziv Z-A</option>
                                </select>
                            </div>

                            <div class="sort-by-dropdown d-flex align-items-center mb-xs-10">
                                <p class="mr-10 mb-0">Prikaži: </p>
                                <select class="nice-select" id="show-by" name="show-by">
                                    <option value="16">16</option>
                                    <option value="30">30</option>
                                    <option value="60">60</option>
                                    <option value="100">100</option>
                                </select>
                            </div>

                            <!--=======  End of Sort by dropdown  =======-->

                            <p th:text="'Prikazano 1-12 od '+${pagination.getTotalElements()}" class="result-show-message"></p>
                        </div>
                    </div>
                </div>

                <!--=======  End of Shop header  =======-->

                <!--=======  shop products display area  =======-->
                <div class="shop-product-wrap grid row mb-30 no-gutters">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12" th:each="product : ${products}">
                        <!--=======  grid view product  =======-->

                        <div class="fl-product shop-grid-view-product">
                            <div class="image" th:classappend="${product.isSale()}?'sale-product'">
                                <a th:href="@{/product/single_product/__${product.id}__}">
                                    <img th:src="@{'/images/' + ${product.images.get(0).name}}" class="img-fluid" alt="">
                                    <img th:src="@{'/images/' + ${product.images.get(0).name}}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <h2 class="product-title"><a th:text="${product.getName()}" href="single-product.html">Officiis debitis</a></h2>
                                <div class="rating">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="product-price">
                                    <span class="main-price discounted" th:if="${product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinPrice()}+' - '+${product.getMaxPrice()}+ ' RSD'"></span>
                                    <span class="main-price discounted" th:if="${product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinPrice()}+ ' RSD'"></span>
                                    <br th:if="${product.isSale()&&product.productAttributes.size()>1}">
                                    <span class="discounted-price" th:if="${product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinDiscountedPrice()}+' - '+${product.getMaxDiscountedPrice()}+ ' RSD'"></span>
                                    <span class="discounted-price" th:if="${product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinDiscountedPrice()}+ ' RSD'"></span>
                                    <span class="discounted-price" th:if="${!product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinPrice()}+' - '+${product.getMaxPrice()}+ ' RSD'"></span>
                                    <span class="discounted-price" th:if="${!product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinPrice()}+ ' RSD'"></span>
                                </p>

                                <div class="hover-icons">
                                    <ul>
                                        <li><a data-tooltip="Dodaj u korpu" th:href="@{/product/single_product/__${product.id}__}"><i class="icon ion-md-cart"></i></a></li>
                                        <li><a data-tooltip="Dodaj u listu želja" href="#" th:onclick="|openWishListDialog(${product.id})|"> <i class="icon ion-md-heart-empty"></i></a></li>
                                        <li><a href="#" data-tooltip="Detaljnije" th:onclick="'javascript:openProductModal(\'' + ${product.id} + '\');'"><i class="icon ion-md-open"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--=======  End of grid view product  =======-->

                        <!--=======  list view product  =======-->

                        <div class="fl-product shop-list-view-product">
                            <div class="image" th:classappend="${product.isSale()}?'sale-product'">
                                <a th:href="@{/product/single_product/__${product.id}__}">
                                    <img th:src="@{'/images/' + ${product.images.get(0).name}}" class="img-fluid" alt="">
                                    <img th:src="@{'/images/' + ${product.images.get(0).name}}" class="img-fluid" alt="">
                                </a>
                            </div>
                            <div class="content">
                                <h2 class="product-title"><a th:href="@{/product/single_product/__${product.id}__}" th:text="${product.name}">Officiis debitis</a></h2>
                                <div class="rating">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p class="product-price">
                                    <span class="main-price discounted" th:if="${product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinPrice()}+' - '+${product.getMaxPrice()}+ ' RSD'"></span>
                                    <span class="main-price discounted" th:if="${product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinPrice()}+ ' RSD'"></span>
                                    <br th:if="${product.isSale()&&product.productAttributes.size()>1}">
                                    <span class="discounted-price" th:if="${product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinDiscountedPrice()}+' - '+${product.getMaxDiscountedPrice()}+ ' RSD'"></span>
                                    <span class="discounted-price" th:if="${product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinDiscountedPrice()}+ ' RSD'"></span>
                                    <span class="discounted-price" th:if="${!product.isSale()&&product.productAttributes.size()>1}" th:text="${product.getMinPrice()}+' - '+${product.getMaxPrice()}+ ' RSD'"></span>
                                    <span class="discounted-price" th:if="${!product.isSale()&&product.productAttributes.size()==1}" th:text="${product.getMinPrice()}+ ' RSD'"></span>
                                </p>

                                <p th:text="${product.description}" class="product-description"></p>

                                <div class="hover-icons">
                                    <ul>
                                        <li><a data-tooltip="Dodaj u korpu" th:href="@{/product/single_product/__${product.id}__}">Dodaj u korpu</a></li>
                                        <li><a data-tooltip="Dodaj u listu želja" href="#" th:onclick="|openWishListDialog(${product.id})|"> <i class="icon ion-md-heart-empty"></i></a></li>
                                        <li><a data-tooltip="Detaljnije" href="#" th:onclick="'javascript:openProductModal(\'' + ${product.id} + '\');'"><i class="icon ion-md-open"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--=======  End of list view product  =======-->
                    </div>
                </div>

                <!--=======  End of shop products display area  =======-->

                <!--=======  pagination area  =======-->

                <div th:if="${pagination.getTotalPages() > 0}" class="pagination-area mb-md-50 mb-sm-50">
                    <ul>
                        <li th:classappend="${pagination.getNumber() eq 0} ? 'disabled'"><a th:onclick="'javascript:loadPage(\''+ ${pagination.getNumber()-1} +'\');'"><i class="fa fa-angle-double-left"></i></a></li>
                        <li th:each="pageNumber : ${#numbers.sequence(0, pagination.getTotalPages() - 1)}"><a th:classappend="${pageNumber eq pagination.getNumber()} ? 'active'" th:onclick="'javascript:loadPage(\''+ ${pageNumber} +'\');'" th:text="${pageNumber}+1"></a></li>
                        <li th:classappend="${pagination.getNumber()+1 eq pagination.getTotalPages()} ? 'disabled'"><a th:onclick="'javascript:loadPage(\''+ ${pagination.getNumber()+1} +'\');'"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>

                <!--=======  End of pagination area  =======-->
            </div>
        </div>
    </div>
</div>

<a class="scroll-top" href="#"></a>

<!--QUICK VIEW MODAL-->
<div class="modal fade quick-view-modal-container" id="quick-view-modal-container" tabindex="-1" role="dialog" aria-hidden="true"></div>
<!--=====  End of shop page content  ======-->

<!--FOOTER-->

<div th:replace="webapp/containers/footerContainer :: footerContainer"></div>

<div th:insert="webapp/containers/scriptsContainer :: scriptsContainer"></div>

<script th:inline="javascript" type="text/javascript">
    var minPrice = 0;
    var maxPrice = 0;

    $(document).ready(function () {
        /*<![CDATA[*/
        var categoryId = /*[[${selected_category.id}]]*/ 'SearchParam';
        /*]]>*/
        var subcategoryId = $("#breadcrumb_subcategory").attr('value');
        setSliderMinMaxPriceByCategory(categoryId);
        if (subcategoryId !== undefined)
            console.log(subcategoryId);
        setSliderMinMaxPriceBySubCategory(subcategoryId);

        $('.modal').on('shown.bs.modal', function (e) {
            $('.small-image-slider').resize();
            addProductSlider();
        });

        $('.category > ul > li a').each(function () {
            if ($(this).attr('value') === $("#breadcrumb_category").attr('value')) {
                $(this).addClass('active');
            }
        });

        $('.category > ul > li a').on('click', function (e) {
            $('.category > ul > li a').removeClass();
            $(this).addClass('active');

            setSliderMinMaxPriceByCategory($(this).attr("value"));
            $('.nice-select').niceSelect('destroy');
            $('#sort-by').removeAttr('style');
            $('#sort-by').val('name-asc');
            $('#show-by').removeAttr('style');
            $('#show-by').val('16');
            $('.nice-select').niceSelect();
            $('.color-category > ul > li > a').each(function () {
                $(this).parent().removeClass();
            });
            refreshBreadCrumb($(this).text(), '');
            showProductList($(this).attr("value"), 0, $('#show-by').val(), minPrice, maxPrice, "name-asc", 'empty');
        });

        $('#sort-by').on('change', function () {
            var categoryId = $(".category > ul > li a.active").attr("value");
            var subcategoryId = $("#breadcrumb_subcategory").attr("value");
            var min = $("#price-range").slider("values", 0);
            var max = $("#price-range").slider("values", 1);
            var selected_colors = 'empty';
            $('.color-category > ul > li > a').each(function () {
                if ($(this).parent().hasClass('active')) {
                    selected_colors += ' ' + $(this).text();
                }
            });

            if (subcategoryId !== undefined)
                showProductListBySubCategory(subcategoryId, 0, $('#show-by').val(), min, max, this.value, selected_colors);
            else
                showProductList(categoryId, 0, $('#show-by').val(), min, max, this.value, selected_colors);
        });

        $('#show-by').on('change', function () {
            var categoryId = $(".category > ul > li a.active").attr("value");
            var subcategoryId = $("#breadcrumb_subcategory").attr("value");
            var min = $("#price-range").slider("values", 0);
            var max = $("#price-range").slider("values", 1);
            var selected_colors = 'empty';
            $('.color-category > ul > li > a').each(function () {
                if ($(this).parent().hasClass('active')) {
                    selected_colors += ' ' + $(this).text();
                }
            });
            if (subcategoryId !== undefined)
                showProductListBySubCategory(subcategoryId, 0, this.value, min, max, $('#sort-by').val(), selected_colors);
            else
                showProductList(categoryId, 0, this.value, min, max, $('#sort-by').val(), selected_colors);
        });

        $('#price-range').slider({
            change: function (event, ui) {
                var categoryId = $(".category > ul > li a.active").attr("value");
                var subcategoryId = $("#breadcrumb_subcategory").attr("value");
                var selected_colors = 'empty';
                $('.color-category > ul > li > a').each(function () {
                    if ($(this).parent().hasClass('active')) {
                        selected_colors += ' ' + $(this).text();
                    }
                });
                if (subcategoryId !== undefined)
                    showProductListBySubCategory(subcategoryId, 0, $('#show-by').val(), ui.values[0], ui.values[1], $('#sort-by').val(), selected_colors);
                else
                    showProductList(categoryId, 0, $('#show-by').val(), ui.values[0], ui.values[1], $('#sort-by').val(), selected_colors);
            }
        });

        if (subcategoryId !== undefined) {
            refreshProductHeaderBySubCategory(subcategoryId, 0, $('#show-by').val(), minPrice, maxPrice, 'empty');
            refreshProductColorsBySubCategory(subcategoryId, 0, $('#show-by').val(), minPrice, maxPrice, "name-asc", 'empty');
        } else {
            refreshProductHeader($(".category > ul > li a.active").attr("value"), 0, $('#show-by').val(), minPrice, maxPrice, 'empty');
            refreshProductColors($(".category > ul > li a.active").attr("value"), 0, $('#show-by').val(), minPrice, maxPrice, "name-asc", 'empty');
        }
    });

    function openWishListDialog(productID) {
        $.ajax({
            url: '/product/add_product_to_wishlist/' + productID,
            type: 'get',
            success: function (response) {
                bootbox.dialog({
                    title: 'Lista želja',
                    message: 'Uspešno ste dodali artikal ' + response + ' u listu želja',
                    size: 'medium',
                    onEscape: false,
                    buttons: {
                        cancel: {
                            label: "Nastavi sa kupovinom",
                            className: 'btn-success',
                            callback: function () {
                            }
                        },
                        ok: {
                            label: "Pregledaj listu želja",
                            className: 'btn-success',
                            callback: function () {
                                showWishListProducts();
                            }
                        }
                    }
                });
            }
        });
    }

    function showWishListProducts() {
        window.location = '/product/show_wishlist';
    }

    function openProductModal(productID) {
        $.ajax({
            url: '/product/product_modal/' + productID,
            type: 'get',
            success: function (response) {
                $(".modal").html(response);
                $(".modal").modal('show');
            }
        });
    }

    function setSliderMinMaxPriceByCategory(categoryId) {
        $.ajax({
            url: '/product/products_min_price_by_category/' + categoryId,
            type: 'get',
            async: false,
            success: function (response) {
                $("#price-range").slider('option', 'min', response);
                minPrice = response;
                $('#price-amount').val('Cena: ' + minPrice + ' - ' + maxPrice + ' RSD');
            }
        });
        $.ajax({
            url: '/product/products_max_price_by_category/' + categoryId,
            type: 'get',
            async: false,
            success: function (response) {
                $("#price-range").slider('option', 'max', response);
                maxPrice = response;
                $('#price-amount').val('Cena: ' + minPrice + ' - ' + maxPrice + ' RSD');
            }
        });
    }

    function setSliderMinMaxPriceBySubCategory(id) {
        if (id !== undefined) {
            $.ajax({
                url: '/product/products_min_price_by_subcategory/' + id,
                type: 'get',
                async: false,
                success: function (response) {
                    $("#price-range").slider('option', 'min', response);
                    minPrice = response;
                    $('#price-amount').val('Cena: ' + minPrice + ' - ' + maxPrice + ' RSD');
                }
            });
            $.ajax({
                url: '/product/products_max_price_by_subcategory/' + id,
                type: 'get',
                async: false,
                success: function (response) {
                    $("#price-range").slider('option', 'max', response);
                    maxPrice = response;
                    $('#price-amount').val('Cena: ' + minPrice + ' - ' + maxPrice + ' RSD');
                }
            });
        }
    }

    function showProductList(categoryID, page, size, minPrice, maxPrice, sort, colors) {
        $.ajax({
            url: '/product/product_list_category_fragment/' + categoryID + '/' + page + '/' + size + '/' + minPrice + '/' + maxPrice + '/' + sort + '/' + colors,
            type: 'get',
            success: function (response) {
                $('.shop-product-wrap').html(response);
            }
        });

        refreshPagination(categoryID, page, size, minPrice, maxPrice, sort, colors);
        refreshProductHeader(categoryID, page, size, minPrice, maxPrice, colors);
        if (page <= 0) {
            refreshProductColors(categoryID, page, size, minPrice, maxPrice, sort, colors);
        }
    }

    function showProductListBySubCategory(subcategoryID, page, size, minPrice, maxPrice, sort, colors) {
        $.ajax({
            url: '/product/product_list_subcategory_fragment/' + subcategoryID + '/' + page + '/' + size + '/' + minPrice + '/' + maxPrice + '/' + sort + '/' + colors,
            type: 'get',
            success: function (response) {
                $('.shop-product-wrap').html(response);
            }
        });

        refreshPaginationBySubCategory(subcategoryID, page, size, minPrice, maxPrice, sort, colors);
        refreshProductHeaderBySubCategory(subcategoryID, page, size, minPrice, maxPrice, colors);
        if (page <= 0) {
            refreshProductColorsBySubCategory(subcategoryID, page, size, minPrice, maxPrice, sort, colors);
        }
    }

    function refreshBreadCrumb(categoryName, subcategoryName) {
        $("#breadcrumb_category").text(categoryName);
        $("#breadcrumb_subcategory").text(subcategoryName);
    }

    function refreshPagination(categoryId, page, size, min, max, sort, colors) {
        $.ajax({
            url: '/product/refresh_pagination/' + categoryId + '/' + page + '/' + size + '/' + min + '/' + max + '/' + sort + '/' + colors,
            type: 'get',
            success: function (response) {
                $(".pagination-area").replaceWith(response);
            }
        });
    }

    function refreshPaginationBySubCategory(subcategoryId, page, size, min, max, sort, colors) {
        $.ajax({
            url: '/product/refresh_pagination_by_subcategory/' + subcategoryId + '/' + page + '/' + size + '/' + min + '/' + max + '/' + sort + '/' + colors,
            type: 'get',
            success: function (response) {
                $(".pagination-area").replaceWith(response);
            }
        });
    }

    function refreshProductColors(categoryID, page, size, minPrice, maxPrice, sort, colors) {
        $.ajax({
            url: '/product/refresh_colors/' + categoryID + '/' + page + '/' + size + '/' + minPrice + '/' + maxPrice + '/' + sort,
            type: 'get',
            success: function (response) {
                $("#product_colors").replaceWith(response);

                $('.color-category > ul > li > a').each(function () {
                    if (colors !== 'empty' && colors.includes($(this).text())) {
                        $(this).parent().addClass('active');
                    } else
                        $(this).parent().removeClass();
                });

                $('.color-category > ul > li >a').on('click', function () {
                    if ($(this).parent().hasClass('active')) {
                        $(this).parent().removeClass();
                    } else {
                        $(this).parent().addClass('active');
                    }
                    var selected_colors = 'empty';
                    $('.color-category > ul > li > a').each(function () {
                        if ($(this).parent().hasClass('active')) {
                            selected_colors += ' ' + $(this).text();
                        }
                    });
                    var id = $(".category> ul > li a.active").attr("value");
                    var min = $("#price-range").slider("values", 0);
                    var max = $("#price-range").slider("values", 1);
                    var sort = $('#sort-by').val();
                    var size = $('#show-by').val();
                    showProductList(id, 0, size, min, max, sort, selected_colors);
                });
            }
        });
    }

    function refreshProductColorsBySubCategory(subcategoryID, page, size, minPrice, maxPrice, sort, colors) {
        $.ajax({
            url: '/product/refresh_colors_by_subcategory/' + subcategoryID + '/' + page + '/' + size + '/' + minPrice + '/' + maxPrice + '/' + sort,
            type: 'get',
            success: function (response) {
                $("#product_colors").replaceWith(response);

                $('.color-category > ul > li > a').each(function () {
                    if (colors !== 'empty' && colors.includes($(this).text())) {
                        $(this).parent().addClass('active');
                    } else
                        $(this).parent().removeClass();
                });

                $('.color-category > ul > li >a').on('click', function () {
                    if ($(this).parent().hasClass('active')) {
                        $(this).parent().removeClass();
                    } else {
                        $(this).parent().addClass('active');
                    }
                    var selected_colors = 'empty';
                    $('.color-category > ul > li > a').each(function () {
                        if ($(this).parent().hasClass('active')) {
                            selected_colors += ' ' + $(this).text();
                        }
                    });
                    var id = $("#breadcrumb_subcategory").attr("value");
                    var min = $("#price-range").slider("values", 0);
                    var max = $("#price-range").slider("values", 1);
                    var sort = $('#sort-by').val();
                    var size = $('#show-by').val();
                    showProductListBySubCategory(id, 0, size, min, max, sort, selected_colors);
                });
            }
        });
    }

    function refreshProductHeader(categoryId, page, size, min, max, colors) {
        $.ajax({
            url: '/product/refresh_product_header/' + categoryId + '/' + page + '/' + size + '/' + min + '/' + max + '/' + colors,
            type: 'get',
            success: function (response) {
                $(".result-show-message").replaceWith(response);
            }
        });
    }

    function refreshProductHeaderBySubCategory(subcategoryId, page, size, min, max, colors) {
        $.ajax({
            url: '/product/refresh_product_header_by_subcategory/' + subcategoryId + '/' + page + '/' + size + '/' + min + '/' + max + '/' + colors,
            type: 'get',
            success: function (response) {
                $(".result-show-message").replaceWith(response);
            }
        });
    }

    function loadPage(page) {
        var categoryId = $(".category> ul > li a.active").attr("value");
        var subcategoryId = $("#breadcrumb_subcategory").attr("value");
        var min = $("#price-range").slider("values", 0);
        var max = $("#price-range").slider("values", 1);
        var sort = $('#sort-by').val();
        var size = $('#show-by').val();
        var selected_colors = 'empty';

        $('.color-category > ul > li > a').each(function () {
            if ($(this).parent().hasClass('active')) {
                selected_colors += ' ' + $(this).text();
            }
        });
        if (subcategoryId !== undefined) showProductListBySubCategory(subcategoryId, page, size, min, max, sort, selected_colors);
        else showProductList(categoryId, page, size, min, max, sort, selected_colors);
        $('html,body').animate({
            scrollTop: 0
        }, 1000);
    }

    function addProductSlider() {
        $('.small-image-slider, .quickview-small-image-slider').slick({
            prevArrow: '<i class="fa fa-angle-left slick-prev"></i>',
            nextArrow: '<i class="fa fa-angle-right slick-next"></i>',
            arrows: true,
            dots: false,
            slidesToShow: 4,
            responsive: [
                {
                    breakpoint: 1499,
                    settings: {
                        slidesToShow: 4,
                    }
                },
                {
                    breakpoint: 1199,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 991,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 3,
                        arrows: false
                    }
                },
                {
                    breakpoint: 575,
                    settings: {
                        slidesToShow: 3,
                        arrows: false
                    }
                },
                {
                    breakpoint: 479,
                    settings: {
                        slidesToShow: 2,
                        arrows: false
                    }
                }
            ]
        });
    }

</script>

</body>
</html>