<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="webapp/containers/headContainer :: headContainer"></head>

<body>

<div th:replace="webapp/containers/headerContainer :: headerContainer" th:with="${categories}"></div>


<!--=============================================
	=            breadcrumb area         =
	=============================================-->

<div class="breadcrumb-area pt-15 pb-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb container  =======-->
                <div class="breadcrumb-container">
                    <nav>
                        <ul>
                            <li class="parent-page"><a th:href="@{/}">Početna</a></li>
                            <li class="parent-page"><a th:text="${product.category.name}" th:href="@{/product/product_list_category/__${product.category.id}__}"></a></li>
                            <li th:text="${product.getName()}"></li>
                        </ul>
                    </nav>
                </div>
                <!--=======  End of breadcrumb container  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of breadcrumb area  ======-->

<!--=============================================
=            single product content         =
=============================================-->

<div class="single-product-content-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-xs-12 mb-xxs-25 mb-xs-25 mb-sm-25">
                <!-- single product tabstyle one image gallery -->
                <div class="product-image-slider fl-product-image-slider fl3-product-image-slider">
                    <!--product large image start -->
                    <div class="tab-content product-large-image-list fl-product-large-image-list fl3-product-large-image-list" id="myTabContent">
                        <div th:each="image,iStat : ${product.images}" th:class="${iStat.count==1} ? 'tab-pane fade show active':'tab-pane fade'" th:id="'single-slide-'+${iStat.count}" role="tabpanel" th:aria-labelledby="'single-slide-tab-'+${iStat.count}">
                            <!--Single Product Image Start-->
                            <div class="single-product-img img-full">
                                <img th:src="@{'/images/' + ${image.name}}" class="img-fluid" alt="">
                                <a th:href="@{'/images/' + ${image.name}}" class="big-image-popup"><i class="fa fa-search-plus"></i></a>
                            </div>
                            <!--Single Product Image End-->
                        </div>
                    </div>
                    <!--product large image End-->

                    <!--product small image slider Start-->
                    <div class="product-small-image-list fl-product-small-image-list fl3-product-small-image-list">
                        <div class="nav small-image-slider fl3-small-image-slider" role="tablist">
                            <div th:each="image,iStat  : ${product.images}" class="single-small-image img-full">
                                <a data-toggle="tab" th:id="'single-slide-tab-'+${iStat.count}" th:href="@{'#single-slide-'+${iStat.count}}"><img th:src="@{'/images/' + ${image.name}}" class="img-fluid" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!--product small image slider End-->
                </div>
                <!-- end of single product tabstyle one image gallery -->
            </div>
            <div class="col-lg-7 col-md-6 col-xs-12">
                <!-- product view description -->
                <div class="product-feature-details">
                    <h2 class="product-title mb-15" th:text="${product.getName()}"></h2>

                    <div class="rating d-inline-block mb-15">
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star active"></i>
                        <i class="fa fa-star"></i>
                    </div>

                    <p class="d-inline-block ml-10 review-link"><a href="#">(1 ocena)</a></p>

                    <h2 class="product-price mb-0">
                        <!--                        <span class="main-price discounted">$12.90</span>-->
                        <span th:text="${product.productAttributes.get(0).getPrice()}+' DIN'" class="discounted-price"></span>
                    </h2>

                    <p class="product-description mb-20" th:text="${product.description}"></p>

                    <div class="size mb-20">
                        <span class="title"> Size:</span> <br>
                        <select name="chooseSize" id="chooseSize" class="nice-select">
                            <option th:each="attribute : ${product.productAttributes}" th:value="${attribute}" th:text="${attribute.size}"></option>
                        </select>
                    </div>

                    <div class="color mb-20">
                        <span class="title"> Boja:</span> <br>
                        <a href="#"><span class="color-block color-choice-1"></span></a>
                        <a href="#"><span class="color-block color-choice-2"></span></a>
                        <a href="#"><span class="color-block color-choice-3 active"></span></a>
                    </div>
                    <div class="cart-buttons mb-20">
                        <span class="quantity-title mr-10">Količina: </span>
                        <div class="pro-qty mb-20">
                            <input type="text" value="1">
                        </div>
                        <div class="add-to-cart-btn d-block">
                            <a href="#" class="fl-btn"><i class="fa fa-shopping-cart"></i> Dodaj u korpu</a>
                        </div>
                    </div>

                    <p class="wishlist-link mb-20 pb-15">
                        <a href="#"> <i class="icon ion-md-heart-empty"></i> Pretraži listu želja</a>
                    </p>

                    <div class="category-list-container mb-20">
                        <span>Categories: </span>
                        <ul>
                            <li><a href="#">Beds</a>,</li>
                            <li><a href="#">Chests &amp; Dressers</a>,</li>
                            <li><a href="#">HeadBoards</a>,</li>
                            <li><a href="#">Lighting</a>,</li>
                            <li><a href="#">Nightstands</a></li>
                        </ul>
                    </div>
                </div>
                <!-- end of product quick view description -->
            </div>
        </div>
    </div>
</div>

<!--=====  End of single product content  ======-->

<!--=======  product description review   =======-->

<div class="product-description-review-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  product description review container  =======-->

                <div class="tab-slider-wrapper product-description-review-container">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="description-tab" data-toggle="tab" href="#product-description" role="tab"
                               aria-selected="true">Opis</a>
                            <a class="nav-item nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab"
                               aria-selected="false">Pregled</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="product-description" role="tabpanel" aria-labelledby="description-tab">
                            <!--=======  product description  =======-->

                            <div class="product-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla augue nec est tristique auctor. Donec non est at libero vulputate rutrum. Morbi ornare lectus
                                    quis justo gravida semper. Nulla tellus mi, vulputate adipiscing cursus eu, suscipit id nulla.</p>

                                <p>Pellentesque aliquet, sem eget laoreet ultrices, ipsum metus feugiat sem, quis fermentum turpis eros eget velit. Donec ac tempus ante. Fusce ultricies massa massa.
                                    Fusce aliquam, purus eget sagittis vulputate, sapien libero hendrerit est, sed commodo augue nisi non neque. Lorem ipsum dolor sit amet, consectetur adipiscing
                                    elit. Sed tempor, lorem et placerat vestibulum, metus nisi posuere nisl, in accumsan elit odio quis mi. Cras neque metus, consequat et blandit et, luctus a nunc.
                                    Etiam gravida vehicula tellus, in imperdiet ligula euismod eget.</p>
                            </div>

                            <!--=======  End of product description  =======-->
                        </div>
                        <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
                            <!--=======  review content  =======-->

                            <div class="product-ratting-wrap">
                                <div class="pro-avg-ratting">
                                    <h4>4.5 <span>(Prosek)</span></h4>
                                    <span>Bazirano na 9 komentara</span>
                                </div>
                                <div class="ratting-list">
                                    <div class="sin-list float-left">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span>(5)</span>
                                    </div>
                                    <div class="sin-list float-left">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(3)</span>
                                    </div>
                                    <div class="sin-list float-left">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(1)</span>
                                    </div>
                                    <div class="sin-list float-left">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(0)</span>
                                    </div>
                                    <div class="sin-list float-left">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span>(0)</span>
                                    </div>
                                </div>
                                <div class="rattings-wrapper">

                                    <div class="sin-rattings">
                                        <div class="ratting-author">
                                            <h3>Cristopher Lee</h3>
                                            <div class="ratting-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <span>(5)</span>
                                            </div>
                                        </div>
                                        <p>enim ipsam voluptatem quia voluptas sit
                                            aspernatur aut odit aut fugit, sed quia res eos
                                            qui ratione voluptatem sequi Neque porro
                                            quisquam est, qui dolorem ipsum quia dolor sit
                                            amet, consectetur, adipisci veli</p>
                                    </div>

                                    <div class="sin-rattings">
                                        <div class="ratting-author">
                                            <h3>Rashed Mahmud</h3>
                                            <div class="ratting-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <span>(5)</span>
                                            </div>
                                        </div>
                                        <p>enim ipsam voluptatem quia voluptas sit
                                            aspernatur aut odit aut fugit, sed quia res eos
                                            qui ratione voluptatem sequi Neque porro
                                            quisquam est, qui dolorem ipsum quia dolor sit
                                            amet, consectetur, adipisci veli</p>
                                    </div>

                                    <div class="sin-rattings">
                                        <div class="ratting-author">
                                            <h3>Hasan Mubarak</h3>
                                            <div class="ratting-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <span>(5)</span>
                                            </div>
                                        </div>
                                        <p>enim ipsam voluptatem quia voluptas sit
                                            aspernatur aut odit aut fugit, sed quia res eos
                                            qui ratione voluptatem sequi Neque porro
                                            quisquam est, qui dolorem ipsum quia dolor sit
                                            amet, consectetur, adipisci veli</p>
                                    </div>

                                </div>
                                <div class="ratting-form-wrapper fix">
                                    <h3>Dodaj svoj komentar</h3>
                                    <form action="#">
                                        <div class="ratting-form row">
                                            <div class="col-12 mb-15">
                                                <h5>Ocena:</h5>
                                                <div class="ratting-star fix">
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12 mb-15">
                                                <label for="name">Ime:</label>
                                                <input id="name" placeholder="Ime" type="text">
                                            </div>
                                            <div class="col-md-6 col-12 mb-15">
                                                <label for="email">Mejl:</label>
                                                <input id="email" placeholder="Mejl" type="text">
                                            </div>
                                            <div class="col-12 mb-15">
                                                <label for="your-review">Tvoj komentar:</label>
                                                <textarea name="review" id="your-review"
                                                          placeholder="Napiši komentar"></textarea>
                                            </div>
                                            <div class="col-12">
                                                <input value="Dodaj komentar" type="submit">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!--=======  End of review content  =======-->
                        </div>
                    </div>
                </div>

                <!--=======  End of product description review container  =======-->
            </div>
        </div>
    </div>
</div>

<!--=======  End of product description review   =======-->

<!--=============================================
=            related product slider         =
=============================================-->

<div class="related-product-slider-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  section title  =======-->

                <div class="section-title">
                    <h2>SLIČNI PROIZVODI</h2>
                </div>

                <!--=======  End of section title  =======-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!--=======  tab product slider  =======-->

                <div class="fl-slider tab-product-slider">
                    <!--=======  single product  =======-->

                    <div class="fl-product">
                        <div class="image sale-product">
                            <a th:href="@{/product/single_product/__${product.id}__}">
                                <img th:src="@{'/images/' + ${product.images.get(0).name}}" class="img-fluid" alt="">
                                <img th:src="@{'/images/' + ${product.images.get(0).name}}" class="img-fluid" alt="">
                            </a>
                            <!-- wishlist icon -->
                            <span class="wishlist-icon"><a href="#"><i class="icon ion-md-heart-empty"></i></a></span>
                        </div>
                        <div class="content">
                            <h2 class="product-title"><a th:text="${product.name}" th:href="@{/product/single_product/__${product.id}__}"></a></h2>
                            <div class="rating">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="product-price">
                                <!--                                <span class="main-price discounted">$71</span>-->
                                <span th:text="${product.productAttributes.get(0).price}+' RSD'" class="discounted-price"></span>
                            </p>

                            <div class="hover-icons">
                                <ul>
                                    <li><a href="#" data-tooltip="Dodaj u korpu"><i class="icon ion-md-cart"></i></a></li>
                                    <li><a href="#" data-tooltip="Dodaj u listu želja"><i class="icon ion-md-heart-empty"></i></a></li>
                                    <li><a href="#" id="details" data-target="#quick-view-modal-container" data-toggle="modal" data-tooltip="Detaljnije" th:onclick="'javascript:setId(\'' + ${product.id} + '\');'"><i class="icon ion-md-open"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--=======  End of single product  =======-->

                </div>

                <!--=======  End of tab product slider  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of related product slider  ======-->

<!--FOOTER-->

<div th:replace="webapp/containers/footerContainer :: footerContainer"></div>

<!--END OF FOOTER-->

<!--SEARCH OVERLAY-->

<div class="search-overlay" id="search-overlay">
    <a href="#" class="search-overlay-close" id="search-overlay-close"><i class="fa fa-times"></i></a>
    <div class="search-box">
        <input type="search" placeholder="Search entire store here">
        <button><i class="icon ion-md-search"></i></button>
    </div>
</div>

<!--END OF SEARCH OVERLAY-->

<!--QUICK VIEW MODAL-->

<div class="modal fade quick-view-modal-container" id="quick-view-modal-container" tabindex="-1" role="dialog" aria-hidden="true">

    <div th:replace="webapp/product/single_product_modal :: product_modal"></div>

</div>

<!--END OF QUICK VIEW MODAL-->

<!-- SCROLL TO TOP  -->
<a href="#" class="scroll-top"></a>
<!-- END OF SCROLL TO TOP -->

<div th:replace="webapp/containers/scriptsContainer :: scriptsContainer"></div>

<script th:inline="javascript" type="text/javascript">
    var id;
    $(document).ready(function () {
        $('#quick-view-modal-container').on('shown.bs.modal', function () {
            console.log(id);
            openProductModal(id);
        });
    });

    function openProductModal(productID) {
        $.ajax({
            url: '/product/product_modal/' + productID,
            type: 'get',
            success: function (response) {
                $('.modal-dialog modal-dialog-centered').replaceWith(response);
            }
        });
    }

    function setId(id) {
        this.id = id;
    }

</script>


</body>
</html>