<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="webapp/containers/headContainer :: headContainer(title='Plastika Drašković - '+${single_product.getName()})"></head>

<body>

<div th:replace="webapp/containers/headerContainer :: headerContainer" th:with="${categories}"></div>


<!--=============================================
	=            breadcrumb area         =
	=============================================-->

<div class="breadcrumb-area pt-15 pb-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb container  =======-->
                <div class="breadcrumb-container">
                    <nav>
                        <ul>
                            <li class="parent-page"><a th:href="@{/}">Početna</a></li>
                            <li class="parent-page"><a
                                    th:href="@{/product/product_list_category/__${single_product.category.id}__}"
                                    th:text="${single_product.category.name}"></a></li>
                            <li th:text="${single_product.getName()}"></li>
                        </ul>
                    </nav>
                </div>
                <!--=======  End of breadcrumb container  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of breadcrumb area  ======-->

<!--=============================================
=            single product content         =
=============================================-->

<div class="single-product-content-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-xs-12 mb-xxs-25 mb-xs-25 mb-sm-25">
                <!-- single product tabstyle one image gallery -->
                <div class="product-image-slider fl-product-image-slider fl3-product-image-slider">
                    <!--product large image start -->
                    <div class="tab-content product-large-image-list fl-product-large-image-list fl3-product-large-image-list"
                         id="myTabContent">
                        <div role="tabpanel" th:aria-labelledby="'single-slide-tab-'+${iStat.count}"
                             th:class="${iStat.count==1} ? 'tab-pane fade show active':'tab-pane fade'"
                             th:each="image,iStat : ${single_product.images}" th:id="'single-slide-'+${iStat.count}">
                            <!--Single Product Image Start-->
                            <div class="single-product-img img-full">
                                <img alt="" class="img-fluid" id="imgtodrag" th:src="@{'/images/' + ${image.name}}">
                                <a class="big-image-popup" th:href="@{'/images/' + ${image.name}}"><i
                                        class="fa fa-search-plus"></i></a>
                            </div>
                            <!--Single Product Image End-->
                        </div>
                    </div>
                    <!--product large image End-->

                    <!--product small image slider Start-->
                    <div class="product-small-image-list fl-product-small-image-list fl3-product-small-image-list">
                        <div class="nav image-slider fl3-image-slider" role="tablist">
                            <div class="single-small-image img-full" th:each="image,iStat  : ${single_product.images}">
                                <a data-toggle="tab" th:href="@{'#single-slide-'+${iStat.count}}"
                                   th:id="'single-slide-tab-'+${iStat.count}"><img alt="" class="img-fluid"
                                                                                   th:src="@{'/images/' + ${image.name}}"></a>
                            </div>
                        </div>
                    </div>
                    <!--product small image slider End-->
                </div>
                <!-- end of single product tabstyle one image gallery -->
            </div>
            <div class="col-lg-7 col-md-6 col-xs-12">
                <!-- product view description -->
                <div class="product-feature-details">
                    <h2 class="product-title mb-15" th:text="${single_product.getName()}"></h2>

                    <div class="rating d-inline-block mb-15" id="single-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>

                    <p class="d-inline-block ml-10 review-link" th:if="${reviews.size()>0}">
                        <a th:if="${reviews.size()>1}" th:text="'('+${reviews.size()}+' Ocene)'"></a>
                        <a th:if="${reviews.size()==1}" th:text="'('+${reviews.size()}+' Ocena)'"></a>
                    </p>

                    <div class="availability mb-0">
                        <span class="title">Dostupnost:  </span>
                        <h3 class="product-available mb-15" th:if="${single_product.isAvailable()}">( NA STANJU )</h3>
                        <h3 class="product-not-available mb-15" th:unless="${single_product.isAvailable()}">( NIJE NA STANJU )</h3>
                    </div>

                    <div class="price mb-0">
                        <span class="title">Cena:  </span>
                        <h2 class="product-price mb-0">
                        <span class="main-price" th:classappend="${single_product.isSale()} ? 'discounted'"
                              th:text="${single_product.productAttributes.get(0).getPrice()}+' DIN'"></span>
                            <span class="discounted-price" th:if="${single_product.isSale()}"
                                  th:text="${single_product.productAttributes.get(0).getDiscounted_price()}+' DIN'"></span>
                            <span class="discount-percentage" th:if="${single_product.isSale()}"
                                  th:text="'Ušteda '+${(single_product.productAttributes.get(0).getPrice()-single_product.productAttributes.get(0).getDiscounted_price())*100/single_product.productAttributes.get(0).getPrice()}+'%'">Save 8%</span>
                        </h2>
                    </div>

                    <br>
                    <div class="manufacturer mb-0">
                        <span class="title">Proizvođač:  </span>
                        <p class="product-manufacturer mb-20" th:text="' '+${single_product.manufacturer}"></p>
                    </div>

                    <p class="product-description mb-20" th:text="${single_product.description}"></p>

                    <div class="size mb-20">
                        <span class="title"> Veličina:</span> <br>
                        <select class="nice-select" id="chooseSize" name="chooseSize">
                            <option th:each="attribute : ${single_product.productAttributes}"
                                    th:text="${attribute.size}"
                                    th:value="${attribute.price}+'-'+${attribute.getDiscounted_price()}"></option>
                        </select>
                    </div>

                    <div class="color mb-20">
                        <span class="title"> Boja:</span> <br>
                        <a th:each="color,iter:${single_product.getProductColors()}" th:value="${color.name}">
                            <span class="color-block" th:classappend="${iter.first}?'active'"
                                  th:style="'background-color:'+${color.code}+';'"
                                  th:title="${color.name}"></span>
                        </a>
                    </div>

                    <div class="cart-buttons mb-20">
                        <span class="quantity-title mr-10">Količina: </span>
                        <div class="pro-qty mb-20">
                            <input id="quantity" type="text" value="1">
                        </div>
                        <div class="add-to-cart-btn ml-10 d-inline-block">
                            <a class="fl-btn" href="#" th:if="${single_product.isAvailable()}"
                               th:onclick="'javascript:addToCart();'"><i class="fa fa-shopping-cart"></i> Dodaj u korpu</a>
                            <a class="fl-btn" href="#" th:if="${!single_product.isAvailable()}" th:onclick="'javascript:shakeProduct();'"><i class="fa fa-shopping-cart"></i> Dodaj u korpu</a>
                        </div>
                    </div>

                    <p class="wishlist-link mb-20 pb-15">
                        <a th:href="@{/product/show_wishlist}"> <i class="icon ion-md-heart-empty"></i> Pretraži listu
                            želja</a>
                    </p>

                    <div class="category-list-container mb-20">
                        <span>Kategorije: </span>
                        <ul>
                            <li th:each="sub_category:${single_product.category.subcategories}"><a
                                    th:href="@{/product/product_list_sub_category/__${sub_category.id}__}"
                                    th:text="${sub_category.getName()}"></a>,
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end of product quick view description -->
            </div>
        </div>
    </div>
</div>

<!--=====  End of single product content  ======-->

<!--=======  product description review   =======-->

<div class="product-description-review-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  product description review container  =======-->

                <div class="tab-slider-wrapper product-description-review-container">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a aria-selected="true" class="nav-item nav-link active" data-toggle="tab"
                               href="#product-description" id="description-tab"
                               role="tab">Opis</a>
                            <a aria-selected="false" class="nav-item nav-link" data-toggle="tab" href="#review"
                               id="review-tab"
                               role="tab">Pregled</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div aria-labelledby="description-tab" class="tab-pane fade show active"
                             id="product-description" role="tabpanel">
                            <!--=======  product description  =======-->

                            <div class="product-description">
                                <p th:if="${single_product.getDescription().isEmpty()}">Trenutno ne postoji opis za izabrani proizvod</p>
                                <p th:text="${single_product.getDescription()}+'.'" th:unless="${single_product.getDescription().isEmpty()}"></p>
                            </div>

                            <!--=======  End of product description  =======-->
                        </div>
                        <div aria-labelledby="review-tab" class="tab-pane fade" id="review" role="tabpanel">
                            <!--=======  review content  =======-->

                            <div class="product-ratting-wrap">
                                <div th:if="${reviews.size()>0}">
                                    <div class="pro-avg-ratting">
                                        <h4 th:text="${avgRating}"><span>(Prosek)</span></h4>
                                        <span th:text="'Bazirano na '+${reviews.size()}+ ' komentara'"></span>
                                    </div>
                                    <div class="ratting-list">
                                        <div class="sin-list float-left">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <span th:text="'('+${ratings[4]}+')'"></span>
                                        </div>
                                        <div class="sin-list float-left">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <span th:text="'('+${ratings[3]}+')'"></span>
                                        </div>
                                        <div class="sin-list float-left">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <span th:text="'('+${ratings[2]}+')'"></span>
                                        </div>
                                        <div class="sin-list float-left">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <span th:text="'('+${ratings[1]}+')'"></span>
                                        </div>
                                        <div class="sin-list float-left">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <span th:text="'('+${ratings[0]}+')'"></span>
                                        </div>
                                    </div>
                                    <div class="rattings-wrapper">
                                        <div class="sin-rattings" th:each="review:${reviews}">
                                            <div class="ratting-author">
                                                <h3 th:text="${review.getReviewer()}"></h3>
                                                <div class="ratting-star" th:if="${review.getRating()==1}">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <span th:text="${review.getRating()}">(5)</span>
                                                </div>
                                                <div class="ratting-star" th:if="${review.getRating()==2}">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <span th:text="${review.getRating()}">(5)</span>
                                                </div>
                                                <div class="ratting-star" th:if="${review.getRating()==3}">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <span th:text="${review.getRating()}">(5)</span>
                                                </div>
                                                <div class="ratting-star" th:if="${review.getRating()==4}">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <span th:text="${review.getRating()}">(5)</span>
                                                </div>
                                                <div class="ratting-star" th:if="${review.getRating()==5}">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <span th:text="${review.getRating()}">(5)</span>
                                                </div>
                                            </div>
                                            <p th:text="${review.getComment()}"></p>
                                        </div>
                                    </div>
                                </div>
                                <div th:unless="${reviews.size()>0}">

                                    <p style="font-size: 20px; font-weight: bold; text-align: center; margin-bottom: 50px; margin-top: 30px;">
                                        Trenutno ne postoje ocene i komentari za izabrani
                                        proizvod</p>

                                </div>
                                <div class="ratting-form-wrapper fix">
                                    <h3>Oceni proizvod i dodaj svoj komentar</h3>
                                    <form action="#" id="comment_form">
                                        <div class="ratting-form row">
                                            <div class="col-12 mb-15">
                                                <h5>Ocena:</h5>
                                                <!-- Rating Stars Box -->
                                                <div class='rating-stars'>
                                                    <ul id='stars'>
                                                        <li class='star' data-value='1' title='Poor'><i
                                                                class='fa fa-star fa-fw'></i></li>
                                                        <li class='star' data-value='2' title='Fair'><i
                                                                class='fa fa-star fa-fw'></i></li>
                                                        <li class='star' data-value='3' title='Good'><i
                                                                class='fa fa-star fa-fw'></i></li>
                                                        <li class='star' data-value='4' title='Excellent'><i
                                                                class='fa fa-star fa-fw'></i></li>
                                                        <li class='star' data-value='5' title='WOW!!!'><i
                                                                class='fa fa-star fa-fw'></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12 mb-15">
                                                <label for="name">Ime:</label>
                                                <input id="name" name="name" placeholder="Ime" type="text">
                                            </div>
                                            <div class="col-md-6 col-12 mb-15">
                                                <label for="email">Mejl:</label>
                                                <input id="email" name="email" placeholder="Mejl" type="text">
                                            </div>
                                            <div class="col-12 mb-15">
                                                <label for="comment">Tvoj komentar:</label>
                                                <textarea id="comment" name="comment"
                                                          placeholder="Napiši komentar"></textarea>
                                            </div>
                                            <div class="col-12">
                                                <input th:onclick="'javascript:addReview();'" type="submit"
                                                       value="Dodaj komentar">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!--=======  End of review content  =======-->
                        </div>
                    </div>
                </div>

                <!--=======  End of product description review container  =======-->
            </div>
        </div>
    </div>
</div>

<!--=======  End of product description review   =======-->

<!--=============================================
=            related product slider         =
=============================================-->

<div class="related-product-slider-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  section title  =======-->

                <div class="section-title">
                    <h2>SLIČNI PROIZVODI</h2>
                </div>

                <!--=======  End of section title  =======-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!--=======  tab product slider  =======-->

                <div class="fl-slider tab-product-slider">
                    <!--=======  single product  =======-->

                    <div class="fl-product" th:each="similar_product :${similar_products}">
                        <div class="image" th:classappend="${similar_product.isSale()}?'sale-product'">
                            <a th:href="@{/product/single_product/__${similar_product.id}__}">
                                <img alt="" class="img-fluid"
                                     th:src="@{'/images/' + ${similar_product.images.get(0).name}}">
                                <img alt="" class="img-fluid"
                                     th:src="@{'/images/' + ${similar_product.images.get(0).name}}">
                            </a>
                        </div>
                        <div class="content">
                            <h2 class="product-title"><a th:href="@{/product/single_product/__${similar_product.id}__}"
                                                         th:text="${similar_product.name}"></a></h2>
                            <div class="rating">
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star active"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p class="product-price">
                                <span class="main-price discounted"
                                      th:if="${similar_product.isSale()&&similar_product.productAttributes.size()>1}"
                                      th:text="${similar_product.getMinPrice()}+' - '+${similar_product.getMaxPrice()}+ ' RSD'"></span>
                                <span class="main-price discounted"
                                      th:if="${similar_product.isSale()&&similar_product.productAttributes.size()==1}"
                                      th:text="${similar_product.getMinPrice()}+ ' RSD'"></span>
                                <br th:if="${similar_product.isSale()&&similar_product.productAttributes.size()>1}">
                                <span class="discounted-price"
                                      th:if="${similar_product.isSale()&&similar_product.productAttributes.size()>1}"
                                      th:text="${similar_product.getMinDiscountedPrice()}+' - '+${similar_product.getMaxDiscountedPrice()}+ ' RSD'"></span>
                                <span class="discounted-price"
                                      th:if="${similar_product.isSale()&&similar_product.productAttributes.size()==1}"
                                      th:text="${similar_product.getMinDiscountedPrice()}+ ' RSD'"></span>
                                <span class="discounted-price"
                                      th:if="${!similar_product.isSale()&&similar_product.productAttributes.size()>1}"
                                      th:text="${similar_product.getMinPrice()}+' - '+${similar_product.getMaxPrice()}+ ' RSD'"></span>
                                <span class="discounted-price"
                                      th:if="${!similar_product.isSale()&&similar_product.productAttributes.size()==1}"
                                      th:text="${similar_product.getMinPrice()}+ ' RSD'"></span>
                            </p>

                            <div class="hover-icons">
                                <ul>
                                    <li><a data-tooltip="Dodaj u korpu"
                                           th:href="@{/product/single_product/__${similar_product.id}__}"><i
                                            class="icon ion-md-cart"></i></a></li>
                                    <li><a data-tooltip="Dodaj u listu želja" href="#"
                                           th:onclick="|openWishListDialog(${similar_product.id})|"> <i
                                            class="icon ion-md-heart-empty"></i></a></li>
                                    <li><a data-tooltip="Detaljnije" href="#"
                                           th:onclick="'javascript:openProductModal(\'' + ${similar_product.id} + '\');'"><i
                                            class="icon ion-md-open"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--=======  End of single product  =======-->
                </div>
                <!--=======  End of tab product slider  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of related product slider  ======-->

<!--FOOTER-->

<div th:replace="webapp/containers/footerContainer :: footerContainer"></div>

<!--END OF FOOTER-->

<!--SEARCH OVERLAY-->

<div class="search-overlay" id="search-overlay">
    <a class="search-overlay-close" href="#" id="search-overlay-close"><i class="fa fa-times"></i></a>
    <div class="search-box">
        <input placeholder="Search entire store here" type="search">
        <button><i class="icon ion-md-search"></i></button>
    </div>
</div>

<!--END OF SEARCH OVERLAY-->

<!--QUICK VIEW MODAL-->
<div aria-hidden="true" class="modal fade quick-view-modal-container" id="quick-view-modal-container" role="dialog"
     tabindex="-1"></div>

<!--END OF QUICK VIEW MODAL-->

<!-- SCROLL TO TOP  -->
<a class="scroll-top" href="#"></a>
<!-- END OF SCROLL TO TOP -->

<div th:insert="webapp/containers/scriptsContainer :: scriptsContainer"></div>

<script th:inline="javascript" type="text/javascript">
    $(document).ready(function () {
        $('.modal').on('shown.bs.modal', function (e) {
            $('.small-image-slider').resize();
            addProductSlider();
        });

        /*<![CDATA[*/
        var savings = /*[[${(single_product.productAttributes.get(0).getPrice()-single_product.productAttributes.get(0).getDiscounted_price())*100/single_product.productAttributes.get(0).getPrice()}]]*/ 'SearchParam';
        var avgRating = /*[[${avgRating}]]*/ '0';
        var available =  /*[[${single_product.isAvailable()}]]*/ '0';
        /*]]>*/
        $('.fl-btn').on('click', function () {
            if (available) {
                var cart = $('.minicart-section').children(":first").children(":first");
                var imgtodrag = $('.single-product-img').children(":first");
                if (imgtodrag) {
                    var imgclone = imgtodrag.clone()
                        .offset({
                            top: imgtodrag.offset().top,
                            left: imgtodrag.offset().left
                        })
                        .css({
                            'opacity': '0.5',
                            'position': 'absolute',
                            'height': '150px',
                            'width': '150px',
                            'z-index': '100'
                        })
                        .appendTo($('body'))
                        .animate({
                            'top': cart.offset().top + 10,
                            'left': cart.offset().left + 10,
                            'width': 75,
                            'height': 75
                        }, 1000, 'easeInOutExpo');

                    setTimeout(function () {
                        cart.effect("bounce", {
                            times: 2
                        }, 200);
                    }, 1500);

                    imgclone.animate({
                        'width': 0,
                        'height': 0
                    }, function () {
                        $(this).detach()
                    });
                }
            }
        });

        $('.discount-percentage').text('Ušteda ' + Math.round(parseInt(savings)) + ' %');

        $('#chooseSize').on('change', function () {
            var value = this.value.split("-");
            var price = value[0];
            var discounted_price = value[1];
            if (discounted_price > 0) {
                var discount_percentage = (price - discounted_price) * 100 / price;
                $('.main-price').addClass('discounted');
                $('.main-price').text(price + ' DIN');
                $('.discounted-price').text(discounted_price + ' DIN');
                $('.discount-percentage').text('Ušteda ' + Math.round(discount_percentage) + ' %');
            } else {
                $('.main-price').text(price + ' DIN');
            }
        });

        $('.color span.color-block').on('click', function (e) {
            $('.color span.color-block').removeClass('active');
            $(this).addClass('active');
        });

        $('#comment_form').on('submit', function (e) {
            var rating = $('#stars li.selected').length;
            if (rating < 1) e.preventDefault();
        });

        $('#single-rating').children('i').each(function (index, e) {
            if (avgRating == 0)
                return false;
            $(this).addClass('active');
            if (index + 1 == avgRating)
                return false;
        });

        //prikaz i akcija na zvezdice
        $('#stars li').on('mouseover', function () {
            var onStar = parseInt($(this).data('value'), 10);

            $(this).parent().children('li.star').each(function (e) {
                if (e < onStar) {
                    $(this).addClass('hover');
                } else {
                    $(this).removeClass('hover');
                }
            });

        }).on('mouseout', function () {
            $(this).parent().children('li.star').each(function (e) {
                $(this).removeClass('hover');
            });
        });

        $('#stars li').on('click', function () {
            var onStar = parseInt($(this).data('value'), 10); // The star currently selected
            var stars = $(this).parent().children('li.star');

            for (i = 0; i < stars.length; i++) {
                $(stars[i]).removeClass('selected');
            }

            for (i = 0; i < onStar; i++) {
                $(stars[i]).addClass('selected');
            }
        });
    });

    function openWishListDialog(productID) {
        $.ajax({
            url: '/product/add_product_to_wishlist/' + productID,
            type: 'get',
            success: function (response) {
                bootbox.dialog({
                    title: 'Lista želja',
                    message: 'Uspešno ste dodali artikal ' + response + ' u listu želja',
                    size: 'medium',
                    onEscape: false,
                    buttons: {
                        cancel: {
                            label: "Nastavi sa kupovinom",
                            className: 'btn-success',
                            callback: function () {
                                refreshMinicart();
                            }
                        },
                        ok: {
                            label: "Pregledaj listu želja",
                            className: 'btn-success',
                            callback: function () {
                                showWishListProducts();
                            }
                        }
                    }
                });
            }
        });
    }

    function showWishListProducts() {
        window.location = '/product/show_wishlist';
    }

    function addReview() {
        /*<![CDATA[*/
        var product_id = /*[[${single_product.id}]]*/ 'SearchParam';
        /*]]>*/

        /*<![CDATA[*/
        var product_name = /*[[${single_product.name}]]*/ 'SearchParam1';
        /*]]>*/

        var reviewer = $('#name').val();
        var email = $('#email').val();
        var comment = $('#comment').val();
        var rating = $('#stars li.selected').length;

        var review = {
            "productId": product_id,
            "reviewer": reviewer,
            "comment": comment,
            "rating": rating,
            "email": email
        };

        $.ajax({
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            url: "/product/add_review",
            data: JSON.stringify(review),
            beforeSend: function(xhr){
                $('.select_element_you_want_to_load_into').html('Loading...');
            },
            success: function (result) {
                console.log("Uspesnost");
                bootbox.dialog({
                    title: 'Ocena artikla',
                    message: 'Uspešno ste ocenili artikal ' + product_name,
                    size: 'medium',
                    onEscape: false,
                    buttons: {
                        ok: {
                            label: "OK",
                            className: 'btn-success',
                            callback: function () {
                            }
                        }
                    }
                });
            }
        });
    }

    function addToCart() {
        /*<![CDATA[*/
        var product_id = /*[[${single_product.id}]]*/ 'SearchParam';
        var sale = /*[[${single_product.isSale()}]]*/ 'SearchParam';
        /*]]>*/
        var price = '';
        if (sale) price = $('.product-price span.discounted-price').text().split(' DIN')[0];
        else price = $('.product-price span.main-price').text().split(' DIN')[0];
        var quantity = $('#quantity').val();
        var size = $('.nice-select > span.current').text();
        var color = $(".color").find("span").filter(".active").parent().attr('value');
        var cartItem = {
            "product_id": product_id,
            "quantity": quantity,
            "size": size,
            "color": color,
            "price": price
        };

        $.ajax({
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            url: "/cart/add_to_cart",
            data: JSON.stringify(cartItem),
            success: function (result) {
                refreshMinicart();
            }
        });
    }

    function shakeProduct() {
        $('.availability').effect("bounce", {times: 3}, "slow");
        return false;
    }

    function refreshMinicart() {
        $.ajax({
            url: '/cart/refresh_minicart',
            type: 'get',
            success: function (response) {
                $(".navigation-menu-top").replaceWith(response);
                $("#cart-icon").on("click", function (event) {
                    event.stopPropagation();
                    $("#cart-floating-box").slideToggle();
                    $("#accountList").slideUp("slow");
                    $("#languageList").slideUp("slow");
                });

                $("body:not(#cart-icon)").on("click", function () {
                    $("#cart-floating-box").slideUp("slow");
                });
            }
        });
    }

    function openProductModal(productID) {
        $.ajax({
            url: '/product/product_modal/' + productID,
            type: 'get',
            success: function (response) {
                $(".modal").html(response);
                $(".modal").modal('show');
            }
        });
    }

    function addProductSlider() {
        $('.small-image-slider, .quickview-small-image-slider').slick({
            prevArrow: '<i class="fa fa-angle-left slick-prev"></i>',
            nextArrow: '<i class="fa fa-angle-right slick-next"></i>',
            arrows: true,
            dots: false,
            slidesToShow: 4,
            responsive: [
                {
                    breakpoint: 1499,
                    settings: {
                        slidesToShow: 4,
                    }
                },
                {
                    breakpoint: 1199,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 991,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 3,
                        arrows: false
                    }
                },
                {
                    breakpoint: 575,
                    settings: {
                        slidesToShow: 3,
                        arrows: false
                    }
                },
                {
                    breakpoint: 479,
                    settings: {
                        slidesToShow: 2,
                        arrows: false
                    }
                }
            ]
        });
    }

</script>

</body>
</html>