<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="modal-dialog modal-dialog-centered" role="document" th:fragment="modal_fragment">
    <div class="modal-content">
        <div class="modal-header">
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-xs-12 mb-xxs-25 mb-xs-25 mb-sm-25">
                    <!-- single product tabstyle one image gallery -->
                    <div class="product-image-slider fl-product-image-slider fl3-product-image-slider quickview-product-image-slider">
                        <!--product large image start -->
                        <div class="tab-content product-large-image-list fl-product-large-image-list fl3-product-large-image-list quickview-product-large-image-list"
                             id="myTabContent2">
                            <div role="tabpanel"
                                 th:aria-labelledby="'single-slide-tab-'+${iStat.count}+'-q'"
                                 th:class="${iStat.count==1} ? 'tab-pane fade show active':'tab-pane fade'"
                                 th:each="image,iStat : ${product.images}"
                                 th:id="'single-slide-'+${iStat.count}+'-q'">
                                <!--Single Product Image Start-->
                                <div class="single-product-img img-full">
                                    <img alt="" class="img-fluid"
                                         th:onerror="'this.onerror==null; this.src=\'' + @{/img/not-found.png} + '\';'"
                                         th:src="@{'/images/' + ${image.name}}">
                                </div>
                                <!--Single Product Image End-->
                            </div>
                        </div>
                        <!--product large image End-->

                        <!--product small image slider Start-->
                        <div class="product-small-image-list fl-product-small-image-list fl3-product-small-image-list quickview-product-small-image-list">
                            <div class="nav small-image-slider fl3-small-image-slider" role="tablist">
                                <div class="single-small-image img-full" th:each="image,iStat : ${product.images}">
                                    <a data-toggle="tab" th:href="@{'#single-slide-'+${iStat.count}+'-q'}"
                                       th:id="'single-slide-tab-'+${iStat.count}+'-q'">
                                        <img alt="" class="img-fluid"
                                             th:onerror="'this.onerror==null; this.src=\'' + @{/img/not-found.png} + '\';'"
                                             th:src="@{'/images/' + ${image.name}}">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--product small image slider End-->
                    </div>
                    <!-- end of single product tabstyle one image gallery -->
                </div>
                <div class="col-lg-7 col-md-6 col-xs-12">
                    <!-- product quick view description -->
                    <div class="product_modal_rating">
                        <div class="product-feature-details">
                            <h2 class="product-title mb-15" th:text="${product.name}"></h2>

                            <div class="rating d-inline-block mb-15" id="single-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>

                            <div class="availability mb-0">
                                <span class="title" th:text="#{availability}">Dostupnost:  </span>
                                <h3 class="product-available mb-15" th:if="${product.isAvailable()}"
                                    th:text="'( '+#{in.stock}+' )'">( NA STANJU )</h3>
                                <h3 class="product-not-available mb-15" th:text="'( '+#{out.of.stock}+' )'"
                                    th:unless="${product.isAvailable()}">( NIJE NA
                                    STANJU )</h3>
                            </div>

                            <div class="price mb-0">
                                <span class="title" th:text="#{price}">Cena:  </span>
                                <h2 class="product-price mb-0">
                            <span class="main-price-modal" th:classappend="${product.isSale()} ? 'discounted'"
                                  th:text="${product.productAttributes.get(0).getPrice()}+' DIN'"></span>
                                    <span class="discounted-price" th:if="${product.isSale()}"
                                          th:text="${product.productAttributes.get(0).getDiscounted_price()}+' DIN'"></span>
                                    <span class="discount-percentage" th:if="${product.isSale()}"
                                          th:text="'Ušteda '+${(product.productAttributes.get(0).getPrice()-product.productAttributes.get(0).getDiscounted_price())*100/product.productAttributes.get(0).getPrice()}+'%'"></span>
                                </h2>
                            </div>

                            <br>
                            <div class="manufacturer mb-0">
                                <span class="title" th:text="#{manufacturer}">Proizvođač:  </span>
                                <p class="product-manufacturer mb-20" th:text="' '+${product.manufacturer}"></p>
                            </div>

                            <p class="product-description mb-15" th:text="${product.description}"></p>

                            <div class="size mb-15">
                                <span class="title" th:text="#{size}"> Veličina:</span> <br>
                                <select class="nice-select-modal" id="chooseSize" name="chooseSize">
                                    <option th:each="attribute : ${product.productAttributes}"
                                            th:text="${attribute.size}"
                                            th:value="${attribute.price}+'-'+${attribute.getDiscounted_price()}"></option>
                                </select>
                            </div>

                            <div class="color mb-15">
                                <span class="title" th:text="#{color}"> Boja:</span> <br>
                                <a th:each="color,iter:${product.getProductColors()}"><span class="color-block"
                                                                                            th:classappend="${iter.first}?'active'"
                                                                                            th:style="'background-color:'+${color.code}+';'"
                                                                                            th:title="${color.name}"></span></a>
                            </div>
                        </div>
                    </div>
                    <!-- end of product quick view description -->
                </div>
            </div>
        </div>

        <script th:inline="javascript" type="text/javascript">
            $(document).ready(function () {
                /*<![CDATA[*/
                var savings = /*[[${(product.productAttributes.get(0).getPrice()-product.productAttributes.get(0).getDiscounted_price())*100/product.productAttributes.get(0).getPrice()}]]*/ 'SearchParam';
                var avgRating = /*[[${avgRating}]]*/ '0';
                /*]]>*/
                $('.discount-percentage').text('Ušteda ' + Math.round(parseInt(savings)) + ' %');
                $('.nice-select-modal').niceSelect();

                $('#chooseSize').on('change', function () {
                    var value = this.value.split("-");
                    var price = value[0];
                    var discounted_price = value[1];
                    if (discounted_price > 0) {
                        var discount_percentage = (price - discounted_price) * 100 / price;
                        $('.main-price-modal').addClass('discounted');
                        $('.main-price-modal').text(price + ' DIN');
                        $('.discounted-price-modal').text(discounted_price + ' DIN');
                        $('.discount-percentage').text('Ušteda ' + Math.round(discount_percentage) + ' %');
                    } else {
                        $('.main-price-modal').text(price + ' DIN');
                    }
                });

                $('#single-rating').children('i').each(function (index, e) {
                    if (avgRating === 0) return false;
                    $(this).addClass('active');
                    if (index + 1 === avgRating) return false;
                });

                $('.color span.color-block').on('click', function (e) {
                    $('.color span.color-block').removeClass('active');
                    $(this).addClass('active');
                });
            });
        </script>
    </div>
</div>
</body>
</html>