<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="modal_fragment" class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-xs-12 mb-xxs-25 mb-xs-25 mb-sm-25">
                    <!-- single product tabstyle one image gallery -->
                    <div class="product-image-slider fl-product-image-slider fl3-product-image-slider quickview-product-image-slider">
                        <!--product large image start -->
                        <div class="tab-content product-large-image-list fl-product-large-image-list fl3-product-large-image-list quickview-product-large-image-list" id="myTabContent2">
                            <div th:each="image,iStat : ${product.images}" th:class="${iStat.count==1} ? 'tab-pane fade show active':'tab-pane fade'" th:id="'single-slide-'+${iStat.count}+'-q'" role="tabpanel" th:aria-labelledby="'single-slide-tab-'+${iStat.count}+'-q'">
                                <!--Single Product Image Start-->
                                <div class="single-product-img img-full">
                                    <img th:src="@{'/images/' + ${image.name}}" class="img-fluid" alt="">
                                </div>
                                <!--Single Product Image End-->
                            </div>
                        </div>
                        <!--product large image End-->

                        <!--product small image slider Start-->
                        <div class="product-small-image-list fl-product-small-image-list fl3-product-small-image-list quickview-product-small-image-list">
                            <div class="nav small-image-slider fl3-small-image-slider" role="tablist">
                                <div th:each="image,iStat  : ${product.images}" class="single-small-image img-full">
                                    <a data-toggle="tab" th:id="'single-slide-tab-'+${iStat.count}+'-q'" th:href="@{'#single-slide-'+${iStat.count}+'-q'}">
                                        <img th:src="@{'/images/' + ${image.name}}" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!--product small image slider End-->
                    </div>
                    <!-- end of single product tabstyle one image gallery -->
                </div>
                <div class="col-lg-7 col-md-6 col-xs-12">
                    <!-- product quick view description -->
                    <div class="product-feature-details">
                        <h2 th:text="${product.name}" class="product-title mb-15"></h2>

                        <h2 class="product-price mb-15">
                            <span class="main-price-modal" th:classappend="${product.isSale()} ? 'discounted'" th:text="${product.productAttributes.get(0).getPrice()}+' DIN'"></span>
                            <span class="discounted-price-modal" th:if="${product.isSale()}" th:text="${product.productAttributes.get(0).getDiscounted_price()}+' DIN'"></span>
                            <span class="discount-percentage" th:if="${product.isSale()}" th:text="'Ušteda '+${(product.productAttributes.get(0).getPrice()-product.productAttributes.get(0).getDiscounted_price())*100/product.productAttributes.get(0).getPrice()}+'%'">Save 8%</span>
                        </h2>

                        <div class="manufacturer mb-0">
                            <span class="title">Proizvođač:  </span>
                            <p class="product-manufacturer mb-20" th:text="' '+${product.manufacturer}"></p>
                        </div>

                        <p class="product-description mb-15" th:text="${product.description}"></p>

                        <div class="size mb-15">
                            <span class="title"> Veličina:</span> <br>
                            <select class="nice-select-modal" id="chooseSize" name="chooseSize">
                                <option th:each="attribute : ${product.productAttributes}" th:text="${attribute.size}" th:value="${attribute.price}+'-'+${attribute.getDiscounted_price()}"></option>
                            </select>
                        </div>

                        <div class="color mb-15">
                            <span class="title"> Boja:</span> <br>
                            <a th:each="color,iter:${product.getProductColors()}"><span class="color-block" th:classappend="${iter.first}?'active'" th:style="'background-color:'+${color.code}+';'"></span></a>
                        </div>
                    </div>
                    <!-- end of product quick view description -->
                </div>
            </div>
        </div>
        <script th:inline="javascript" type="text/javascript">
            $(document).ready(function () {
                /*<![CDATA[*/
                var savings = /*[[${(product.productAttributes.get(0).getPrice()-product.productAttributes.get(0).getDiscounted_price())*100/product.productAttributes.get(0).getPrice()}
]]*/ 'SearchParam';
                /*]]>*/
                $('.discount-percentage').text('Ušteda ' + Math.round(parseInt(savings)) + ' %');
                $('.nice-select-modal').niceSelect();

                $('#chooseSize').on('change', function () {
                    console.log('modal radi');
                    var value = this.value.split("-");
                    var price = value[0];
                    var discounted_price = value[1];
                    if (discounted_price > 0) {
                        var discount_percentage = (price - discounted_price) * 100 / price;
                        $('.main-price-modal').addClass('discounted');
                        $('.main-price-modal').text(price + ' DIN');
                        $('.discounted-price-modal').text(discounted_price + ' DIN');
                        $('.discount-percentage').text('Ušteda ' + Math.round(discount_percentage) + ' %');
                    } else {
                        $('.main-price-modal').text(price + ' DIN');
                    }
                });

                $('.color span.color-block').on('click', function (e) {
                    $('.color span.color-block').removeClass('active');
                    $(this).addClass('active');
                });
            });
        </script>
    </div>
</div>
</body>
</html>