<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="webapp/containers/headContainer :: headContainer(title='Plastika Drašković - Zaboravljena šifra' )"></head>
</head>
<body>
<div th:replace="webapp/containers/headerContainer :: headerContainer" th:with="${categories}"></div>
<div class="breadcrumb-area pt-15 pb-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb container  =======-->

                <div class="breadcrumb-container">
                    <nav>
                        <ul>
                            <li class="parent-page"><a th:href="@{/}">Početna</a></li>
                            <li>Zaboravljena šifra</li>
                        </ul>
                    </nav>
                </div>

                <!--=======  End of breadcrumb container  =======-->
            </div>
        </div>
    </div>
</div>
<div class="page-section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30" style="margin: auto;">
                <div class="panel panel-default text-center">
                    <div class="panel-body " style="width: 80%;">
                        <div class="text-center">
                            <h3><i class="glyphicon glyphicon-lock" style="font-size:2em;"></i></h3>
                            <h2 class="text-center">Zaboravljena šifra?</h2>
                            <p>Unesite vaš email kako bi smo Vam poslali link za resetovanje šifre.</p>
                            <div class="panel-body" style="width: 60%;margin: auto;">
                                <div th:if="${successMessage}">
                                    <div class="alert alert-info">
                                        <p th:text="${successMessage}"></p>
                                    </div>
                                </div>
                                <form method="post" th:action="@{/customer/process_forgot_password}">
                                    <div class="input-group" style="display: inline-flex;">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-envelope color-blue"></i></span>
                                        <input class="form-control" id="email" placeholder="Email adresa"
                                               th:name="email"/>
                                    </div>
                                    <div th:if="${errorMessage}">
                                        <div class="alert alert-danger">
                                            <p th:text="${errorMessage}"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success btn-block" type="submit">Resetuj šifru</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                        Novi korisnik? <a th:href="@{/customer/register}">Registruj se</a>
                    </div>
                </div>
                <div class="col-md-8 mt-10 mb-20 text-left">
                    Već registrovan? <a th:href="@{/customer/login}">Prijavi se</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div th:replace="webapp/containers/footerContainer :: footerContainer"></div>
<div th:insert="webapp/containers/scriptsContainer :: scriptsContainer"></div>

</body>
</html>