<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="webapp/containers/headContainer :: headContainer(title='Plastika Drašković - Prijava' )"></head>
<body>
<div th:replace="webapp/containers/headerContainer :: headerContainer" th:with="${categories}"></div>

<!--=============================================
	=            breadcrumb area         =
	=============================================-->

<div class="breadcrumb-area pt-15 pb-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb container  =======-->

                <div class="breadcrumb-container">
                    <nav>
                        <ul>
                            <li class="parent-page"><a th:href="@{/}">Početna</a></li>
                            <li>Prijava</li>
                        </ul>
                    </nav>
                </div>

                <!--=======  End of breadcrumb container  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of breadcrumb area  ======-->

<div class="page-section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                <!-- Login Form s-->
                <form method="post" th:action="@{/login_customer}">
                    <div class="login-form">
                        <h4 class="login-title">Prijava</h4>
                        <div class="row">
                            <div class="error col-md-12 col-12" th:if="${param.error}"
                                 th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                                <span style="color:red;" th:text="${errorMsg}">Podaci za prijavu nisu validni, pokušajte ponovo</span>
                            </div>
                            <div class="col-md-12 col-12 mb-20">
                                <label>Korisničko ime</label>
                                <input class="mb-0" placeholder="Korisničko ime" th:name="username" type="text">
                            </div>
                            <div class="col-12 mb-20">
                                <label>Šifra</label>
                                <input class="mb-0" placeholder="Šifra" th:name="password" type="password">
                            </div>
                            <div class="col-md-8">
                                <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                                    <input id="remember-me" name="remember-me" type="checkbox">
                                    <label for="remember-me">Zapamti me</label>
                                </div>
                            </div>
                            <div class="col-md-4 mt-10 mb-20 text-left text-md-right">
                                <a th:href="@{/customer/forgot}"> Zaboravljena šifra?</a>
                            </div>
                            <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
                            <div class="col-md-12">
                                <button class="register-button mt-0" type="submit">Uloguj se</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!--FOOTER-->

<div th:replace="webapp/containers/footerContainer :: footerContainer"></div>

<!--END OF FOOTER-->

<div th:insert="webapp/containers/scriptsContainer :: scriptsContainer"></div>

</body>
</html>