<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="webapp/containers/headContainer :: headContainer"></head>
<body>
<div th:replace="webapp/containers/headerContainer :: headerContainer"  th:with="${categories}"></div>

<!--=============================================
	=            breadcrumb area         =
	=============================================-->

<div class="breadcrumb-area pt-15 pb-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb container  =======-->

                <div class="breadcrumb-container">
                    <nav>
                        <ul>
                            <li class="parent-page"><a th:href="@{/}">Početna</a></li>
                            <li>Registracija</li>
                        </ul>
                    </nav>
                </div>

                <!--=======  End of breadcrumb container  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of breadcrumb area  ======-->

<!--=============================================
   =            Register page content         =
   =============================================-->

<div class="page-section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                <form id="registration_form" method="post" th:action="@{/customer/registerUser}"
                      th:object="${customer}">
                    <div class="login-form">
                        <h4 class="login-title">Registracija</h4>
                        <div class="row">
                            <div class="col-md-6 col-12 mb-20">
                                <label for="name1">Ime</label>
                                <input class="mb-0" id="name1" name="name1" th:field="*{firstName}" type="text">
                            </div>
                            <div class="col-md-6 col-12 mb-20">
                                <label for="name2">Prezime</label>
                                <input class="mb-0" id="name2" name="name2" th:field="*{lastName}" type="text">
                            </div>
                            <div class="col-md-12 mb-20">
                                <label for="email">Mejl adresa*</label>
                                <input class="mb-0" id="email" name="email" th:field="*{email}" type="email">
                            </div>
                            <div class="col-md-12 mb-20">
                                <label for="username">Korisničko ime*</label>
                                <input class="mb-0" id="username" minlength="8" name="username" th:field="*{username}"
                                       type="text">
                            </div>
                            <div class="col-md-6 mb-20">
                                <label for="password">Šifra</label>
                                <input class="mb-0" id="password" minlength="8" name="password" th:field="*{password}"
                                       type="password">
                            </div>
                            <div class="col-md-6 mb-20">
                                <label for="confirm_password">Potvrdi šifru</label>
                                <input class="mb-0" data-rule-confirm_password="true" data-rule-equalTo="#password"
                                       id="confirm_password" name="confirm_password" type="password">
                            </div>
                            <div class="col-12">
                                <button class="register-button mt-0" type="submit">Registruj se</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--FOOTER-->

<div th:replace="webapp/containers/footerContainer :: footerContainer"></div>

<!--END OF FOOTER-->
<!--=====  End of Login Register page content  ======-->

<div th:insert="webapp/containers/scriptsContainer :: scriptsContainer" ></div>

</body>
</html>