<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="webapp/containers/headContainer :: headContainer(title='Plastika Drašković - Resetovanje šifre' )"></head>
</head>
<body>
<div th:replace="webapp/containers/headerContainer :: headerContainer" th:with="${categories}"></div>
<div class="breadcrumb-area pt-15 pb-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb container  =======-->

                <div class="breadcrumb-container">
                    <nav>
                        <ul>
                            <li class="parent-page"><a th:href="@{/}">Početna</a></li>
                            <li>Resetovanje šifre</li>
                        </ul>
                    </nav>
                </div>

                <!--=======  End of breadcrumb container  =======-->
            </div>
        </div>
    </div>
</div>
<div class="page-section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30" style="margin: auto;">
                <div class="panel panel-default text-center">
                    <div class="panel-body " style="width: 80%;">
                        <div class="text-center">
                            <h3><i class="glyphicon glyphicon-lock" style="font-size:2em;"></i></h3>
                            <h2 class="text-center">Resetovanje šifre</h2>
                            <div class="panel-body">

                                <div th:if="${errorMessage}">
                                    <div class="alert alert-danger">
                                        <span th:text="${errorMessage}"></span>
                                    </div>
                                </div>
                                <div th:if="${customer!=null}">
                                    <form method="post" th:action="@{/customer/process_reset_password}"
                                          th:object="${customer}">
                                        <input th:name="token" th:value="${token}" type="hidden"/>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" id="password" minlength="8" name="password"
                                                       placeholder="Nova šifra" th:field="*{password}" type="password"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input class="form-control" data-rule-confirm_password="true"
                                                       data-rule-equalTo="#password" id="confirm_password"
                                                       placeholder="Potvrdi šifru" th:field="*{new_password}"
                                                       type="password"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-block btn-success" type="submit">Resetuj šifru
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                        Novi korisnik? <a th:href="@{/customer/register}">Registruj se</a>
                    </div>
                </div>
                <div class="col-md-8 mt-10 mb-20 text-left">
                    Već registrovan? <a th:href="@{/customer/login}">Prijavi se</a>
                </div>

            </div>
        </div>
    </div>
</div>
<div th:replace="webapp/containers/footerContainer :: footerContainer"></div>
<div th:insert="webapp/containers/scriptsContainer :: scriptsContainer"></div>

</body>
</html>