<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="d-md-flex justify-content-md-center footer-basic" style="padding-bottom: 10px;padding-top: 10px;margin: 10px;"
     th:fragment="adminLayoutFooter">
    <footer class="text-primary">
        <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i
                class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a
                href="#"><i class="icon ion-social-facebook"></i></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Početna</a></li>
            <li class="list-inline-item"><a href="#">Usluge</a></li>
            <li class="list-inline-item"><a href="#">O nama</a></li>
            <li class="list-inline-item"><a href="#">Pravila</a></li>
            <li class="list-inline-item"><a href="#">Polisa</a></li>
        </ul>
        <p class="copyright">Company Name © 2017</p>
    </footer>
</div>


</body>
</html>