<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-light navbar-expand-md navigation-clean-search" th:fragment="adminLayoutMenu">
    <div class="container"><a class="navbar-brand" href="#">Plastika Drašković</a>
        <button class="navbar-toggler" data-target="#navcol-1" data-toggle="collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/productList}">Proizvodi</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Porudžbine</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Korisnici</a></li>
            </ul>
            <form class="form-inline mr-auto" target="_self">
                <div class="form-group"></div>
            </form>
            <a class="btn btn-light action-button" href="#" role="button">E-prodavnica</a>
        </div>
    </div>
</nav>
</body>
</html>