<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="footer-container" th:fragment="footerContainer">
    <!--=======  footer navigation  =======-->

    <div class="footer-navigation pt-40 pb-20 pb-lg-40 pt-sm-30 pb-sm-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <!--=======  address block  =======-->

                    <div class="address-block" style="padding-top: 20px;">
                        <div class="image">
                            <a th:href="@{/}">
                                <img alt="" class="img-fluid" style="width: 250px;" th:src="@{'/img/logo.png'}">
                            </a>
                        </div>

                        <div class="address-text">
                            <ul>
                                <li>Adresa: Vojvode Stepe 148, 36000 Kraljevo.</li>
                                <li>Telefon: 062 464 406</li>
                                <li>Email: plastika.draskovic@gmail.com</li>
                            </ul>
                        </div>
                    </div>

                    <!--=======  End of address block  =======-->
                </div>
                <div class="col-lg-2 col-md-6">
                    <!--=======  widget block  =======-->

                    <div class="widget-block">
                        <h4 class="footer-widget-title mb-sm-10">INFORMACIJE</h4>
                        <ul>
                            <li><a th:href="@{/about}">O nama</a></li>
                            <li><a th:href="@{/contact}">Kontakt</a></li>
                            <li><a th:href="@{/shipping_info}">Informacije o dostavi</a></li>
                            <li><a th:href="@{/selling_terms}">Uslovi kupovine</a></li>
                        </ul>
                    </div>

                    <!--=======  End of widget block  =======-->
                </div>
                <div class="col-lg-2 col-md-6">
                    <!--=======  widget block  =======-->

                    <div class="widget-block">
                        <h4 class="footer-widget-title mt-sm-20 mb-sm-10">MOJ NALOG</h4>
                        <ul>
                            <li><a th:href="@{/customer/my_account}">Moj nalog</a></li>
                            <li><a th:href="@{/cart/show_cart}">Korpa</a></li>
                            <li><a th:href="@{/product/show_wishlist}">Lista želja</a></li>
                        </ul>
                    </div>

                    <!--=======  End of widget block  =======-->
                </div>
                <div class="col-lg-4 col-md-6">
                    <!--=======  widget block  =======-->

                    <div class="widget-block">
                        <h4 class="footer-widget-title mt-sm-20 mb-sm-10">KONTAKTIRAJTE NAS </h4>
                        <p>Kontaktirajte nas kako biste imali najnovije informacije o proizvodima ili predloge kako bismo usavršili naš sajt.</p>

                        <div class="newsletter-form mb-20">
                            <form id="mc-form" class="mc-form">
                                <button type="submit" value="submit"><a th:href="@{/contact}">Kontakt</a></button>
                            </form>
                        </div>
                    </div>

                    <!--=======  End of widget block  =======-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>