<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="header-container header-sticky" th:fragment="headerContainer">

    <!--=============================================
    =            header top         =
    =============================================-->

    <div class="header-top pt-15 pb-15">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="header-top-text text-center text-lg-left mb-0 mb-md-15 mb-sm-15">
                        <p><i class="icon ion-md-alarm"></i> Besplatna dostava za porudžbine preko 2000 din. - <span class="support-no">Podrška: (064) 462-22-352</span></p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <!--=======  header top dropdowns  =======-->

                    <div class="header-top-dropdown d-flex justify-content-center justify-content-lg-end">

                        <!--=======  single dropdown  =======-->
                        <a sec:authorize="!isAuthenticated()" th:href="@{/customer/login}">Prjavi se </a>
                        <span sec:authorize="!isAuthenticated()"> / </span>
                        <a sec:authorize="!isAuthenticated()" th:href="@{/customer/register}"> Registruj se</a>
                        <div class="single-dropdown">
                            <a href="#" id="changeAccount" sec:authorize="isAuthenticated()"><span id="accountMenuName" th:text="${#authentication.getPrincipal().getUsername()}"></span><span><i class="fa fa-angle-down"></i></span></a>
                            <div class="language-currency-list hidden" id="accountList">
                                <ul>
                                    <li sec:authorize="isAuthenticated()"><a th:href="@{/cart/show_cart}">Korpa</a></li>
                                    <li sec:authorize="isAuthenticated()"><a th:href="@{/product/show_wishlist}">Lista
                                        želja</a></li>
                                    <li sec:authorize="isAuthenticated()"><a th:href="@{/customer/my_account}">Moj
                                        nalog</a></li>
                                    <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/administration/product_list}">Administracija</a>
                                    </li>
                                    <li sec:authorize="isAuthenticated()"><a th:href="@{/customer/logout}">Odjavi
                                        se </a></li>
                                </ul>
                            </div>
                        </div>
                        <!--=======  End of single dropdown  =======-->
                    </div>
                    <!--=======  End of header top dropdowns  =======-->
                </div>
            </div>
        </div>
    </div>

    <!--=====  End of header top  ======-->

    <!--=============================================
    =            navigation menu top            =
    =============================================-->


    <div class="navigation-menu-top pt-35 pb-35 pt-md-15 pb-md-15 pt-sm-15 pb-sm-15">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-lg-2 col-md-6 col-sm-6 order-1 order-lg-1">
                    <!--=======  logo  =======-->

                    <div class="logo">
                        <a th:href="@{/}">
                            <img alt="" class="img-fluid" th:src="@{'/img/logo.png'}">
                        </a>
                    </div>

                    <!--=======  End of logo  =======-->
                </div>
                <div class="col-12 col-lg-7 col-md-12 col-sm-12 order-3 order-lg-2"></div>
                <div class=" col-6 col-lg-3 col-md-6 col-sm-6 order-2 order-lg-3">
                    <!--=======  cart icon  =======-->
                    <div class="minicart-section">
                        <a href="#" id="cart-icon">
                            <span class="image"><i class="icon ion-md-cart"></i></span>
                            <h5 th:text="${session.cart!=null}?${session.cart.getTotal()}+' RSD':'0 RSD'">215.00 RSD <i class="fa fa-angle-down"></i></h5>
                            <p th:text="${session.cart!=null}?${session.cart.getCartItems().size()}+' artikla':'0 artikla'"></p>
                        </a>

                        <!-- cart floating box -->
                        <div class="cart-floating-box hidden" id="cart-floating-box">
                            <div class="cart-items" th:if="${session.cart!=null}">
                                <div class="cart-float-single-item d-flex" th:each=" item:${session.cart.getCartItems()}">
                                    <span class="remove-item" id="remove-item"><a onclick=deleteFromMiniCart(this.getAttribute('data-size'),this.getAttribute('data-price'),this.getAttribute('data-color')); th:data-color="${item.getColor()}" th:data-price="${item.getPrice()}" th:data-size="${item.getSize()}"><i class="icon ion-md-close"></i></a></span>
                                    <div class="cart-float-single-item-image">
                                        <a th:href="@{/product/single_product/__${item.product.id}__}"><img alt="" class="img-fluid" th:src="@{'/images/' + ${item.product.images.get(0).name}}"></a>
                                    </div>
                                    <div class="cart-float-single-item-desc">
                                        <p class="product-title"><a th:href="@{/product/single_product/__${item.product.id}__}" th:text="${item.product.getName()}"></a></p>
                                        <p class="quantity" th:text="'Količina:' +${item.getQuantity()}"></p>
                                        <p class="price" th:text="${item.getTotalPrice()}+' RSD'"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-calculation">
                                <div class="calculation-details">
                                    <p class="total">Ukupno
                                        <span th:if="${session.cart!=null}" th:text="${session.cart.getTotal()+ ' RSD'}"></span>
                                        <span th:text=" '0 RSD'" th:unless="${session.cart!=null}"></span>
                                    </p>
                                </div>
                                <div class="floating-cart-btn text-center">
                                    <a class="fl-btn pull-left" th:href="@{/cart/show_cart}">Korpa</a>
                                    <a class="fl-btn pull-right" th:href="@{/checkout/show_checkout}">Završi kupovinu</a>
                                </div>
                            </div>
                        </div>
                        <!-- end of cart floating box -->
                    </div>
                    <div class="wishlist-section">
                        <a id="wishlist-icon" th:href="@{/product/show_wishlist}">
                            <span class="image"><i class="icon ion-md-heart"></i></span>
                            <h5><i class="fa fa-angle-down"></i></h5>
                            <p th:if="${session.wishlist_products!=null}" th:text="${session.wishlist_products.size()}"></p>
                            <p th:unless="${session.wishlist_products!=null}">0</p>
                        </a>
                    </div>
                    <!--=======  End of cart icon  =======-->
                </div>
            </div>
        </div>
    </div>

    <!--=======  End of navigation menu top  =======-->

    <!--=============================================
    =            navigation menu         =
    =============================================-->

    <div class="navigation-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <!--=======  sticky logo  =======-->

                <div class="sticky-logo">
                    <a th:href="@{/}">
                        <img alt="" class="img-fluid" th:src="@{'/img/logo.png'}">
                    </a>
                </div>

                <!--=======  End of sticky logo  =======-->

                <!--=======  search icon for tablet  =======-->

                <div class="search-icon-menutop-tablet text-right d-inline-block d-lg-none">
                    <a href="#" id="search-overlay-active-button">
                        <i class="icon ion-md-search"></i>
                    </a>
                </div>

                <!--=======  End of search icon for tablet  =======-->

                <div class="col-12 col-lg-6" id="navigation-section">
                    <!-- navigation section -->
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li class="menu-item-has-children" th:each="category: ${categories}"><a th:href="@{/product/product_list_category/__${category.id}__}" th:text="${category.name}"></a>
                                    <ul class="sub-menu">
                                        <li th:each="sub_category: ${category.subcategories}"><a th:href="@{/product/product_list_sub_category/__${sub_category.id}__}" th:text="${sub_category.name}"></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- end of navigation section -->
                </div>
                <form id="searchForm" method="get" th:action="@{/product/searchProductsByName}" th:object="${search}">
                    <div class="col-12 col-lg-3" id="search-section">
                        <!--=======  navigation search bar  =======-->
                        <div class="navigation-search d-none d-lg-block">
                            <input id="search" name="search" oninput="setCustomValidity('')" oninvalid="this.setCustomValidity('Unesite reč pretrage')" placeholder="Pretraga proizvoda ..." required th:value="${search}" type="search">
                            <button type="submit"><i class="icon ion-md-search"></i></button>
                        </div>
                        <!--=======  End of navigation search bar  =======-->
                    </div>
                </form>
                <div class="col-12 d-block d-lg-none">
                    <!-- Mobile Menu -->
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>

    <!--=====  End of navigation menu  ======-->

</div>
</body>
</html>