<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="header-container header-sticky" th:fragment="headerContainer">

    <!--=============================================
    =            header top         =
    =============================================-->

    <div class="header-top pt-15 pb-15">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="header-top-text text-center text-lg-left mb-0 mb-md-15 mb-sm-15">
                        <p><i class="icon ion-md-alarm"></i> Besplatna dostava za porudžbine preko 2000 din. - <span class="support-no">Podrška: (064) 462-22-352</span></p>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <!--=======  header top dropdowns  =======-->

                    <div class="header-top-dropdown d-flex justify-content-center justify-content-lg-end">

                        <!--=======  single dropdown  =======-->

                        <div class="single-dropdown">
                            <a href="#" id="changeAccount"><span id="accountMenuName">Moj nalog <i class="fa fa-angle-down"></i></span></a>
                            <div class="language-currency-list hidden" id="accountList">
                                <ul>
                                    <li sec:authorize="isAuthenticated()"><a href="cart.html">Korpa</a></li>
                                    <li sec:authorize="isAuthenticated()"><a href="@{/account_details}">Moj nalog</a></li>
                                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Prjavi se</a></li>
                                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/register}">Registruj se</a></li>
                                    <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/administration/product_list}">Administracija</a></li>
                                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Odjavi se </a></li>
                                    <li sec:authorize="isAuthenticated()" th:text="${#authentication.getPrincipal().getUsername()}"></li>
                                </ul>
                            </div>
                        </div>
                        <!--=======  End of single dropdown  =======-->
                    </div>
                    <!--=======  End of header top dropdowns  =======-->
                </div>
            </div>
        </div>
    </div>

    <!--=====  End of header top  ======-->

    <!--=============================================
    =            navigation menu top            =
    =============================================-->


    <div class="navigation-menu-top pt-35 pb-35 pt-md-15 pb-md-15 pt-sm-15 pb-sm-15">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-6 col-lg-2 col-md-6 col-sm-6 order-1 order-lg-1">
                    <!--=======  logo  =======-->

                    <div class="logo">
                        <a th:href="@{/}">
                            <img th:src="@{'/img/logo.png'}" class="img-fluid" alt="">
                        </a>
                    </div>

                    <!--=======  End of logo  =======-->
                </div>
                <div class="col-12 col-lg-8 col-md-12 col-sm-12 order-3 order-lg-2"></div>
                <div class=" col-6 col-lg-2 col-md-6 col-sm-6 order-2 order-lg-3">
                    <!--=======  cart icon  =======-->

                    <div class="minicart-section">
                        <a href="#" id="cart-icon">
                            <span class="image"><i class="icon ion-md-cart"></i></span>
                            <h5>215.00 RSD <i class="fa fa-angle-down"></i></h5>
                            <p>3 artikla</p>
                        </a>

                        <!-- cart floating box -->
                        <div class="cart-floating-box hidden" id="cart-floating-box">
                            <div class="cart-items">
                                <!--                                dinamicko dodavanje artikala u korpu ide foreach-->
                                <div class="cart-float-single-item d-flex">
                                    <span class="remove-item" id="remove-item"><a href="#"><i class="icon ion-md-close"></i></a></span>
                                    <div class="cart-float-single-item-image">
                                        <a href="single-product.html"><img src="assets/images/products/product01.jpg" class="img-fluid" alt=""></a>
                                    </div>
                                    <div class="cart-float-single-item-desc">
                                        <p class="product-title"><a href="single-product.html">Artikal 1 </a></p>
                                        <p class="quantity">Količina: 1</p>
                                        <p class="price">100 RSD</p>
                                    </div>
                                </div>
                            </div>
                            <div class="cart-calculation">
                                <div class="calculation-details">
                                    <p class="total">Ukupno <span>100 RSD</span></p>
                                </div>
                                <div class="floating-cart-btn text-center">
                                    <a class="fl-btn pull-left" href="cart.html">Korpa</a>
                                    <a class="fl-btn pull-right" href="checkout.html">Završi kupovinu</a>
                                </div>
                            </div>
                        </div>
                        <!-- end of cart floating box -->
                    </div>

                    <!--=======  End of cart icon  =======-->
                </div>
            </div>
        </div>
    </div>

    <!--=======  End of navigation menu top  =======-->

    <!--=============================================
    =            navigation menu         =
    =============================================-->

    <div class="navigation-menu">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <!--=======  sticky logo  =======-->

                <div class="sticky-logo">
                    <a th:href="@{/}">
                        <img th:src="@{'/img/logo.png'}" class="img-fluid" alt="">
                    </a>
                </div>

                <!--=======  End of sticky logo  =======-->

                <!--=======  search icon for tablet  =======-->

                <div class="search-icon-menutop-tablet text-right d-inline-block d-lg-none">
                    <a href="#" id="search-overlay-active-button">
                        <i class="icon ion-md-search"></i>
                    </a>
                </div>

                <!--=======  End of search icon for tablet  =======-->

                <div class="col-12 col-lg-6" id="navigation-section">
                    <!-- navigation section -->
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li th:each="category: ${categories}" class="menu-item-has-children"><a th:text="${category.name}" th:href="@{/product/product_list_category/__${category.id}__}"></a>
                                    <ul class="sub-menu">
                                        <li th:each="sub_category: ${category.subcategories}"><a th:text="${sub_category.name}" th:href="@{/product/product_list_sub_category/__${sub_category.id}__}"></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- end of navigation section -->
                </div>
                <form id="searchForm" th:action="@{/product/searchProductsByName}" th:object="${search}" method="get">
                    <div class="col-12 col-lg-3" id="search-section">
                        <!--=======  navigation search bar  =======-->
                        <div class="navigation-search d-none d-lg-block">
                            <input required type="search" name="search" id="search" th:value="${search}" placeholder="Pretraga proizvoda ...">
                            <button type="submit"><i class="icon ion-md-search"></i></button>
                        </div>
                        <!--=======  End of navigation search bar  =======-->
                    </div>
                </form>
                <div class="col-12 d-block d-lg-none">
                    <!-- Mobile Menu -->
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>

    <!--=====  End of navigation menu  ======-->

</div>
</body>
</html>