<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="webapp/containers/headContainer :: headContainer(title='Plastika Drašković - Obrada porudžbine')"></head>

<body>
<div th:replace="webapp/containers/headerContainer :: headerContainer" th:with="${categories}"></div>

<div class="breadcrumb-area pt-15 pb-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb container  =======-->

                <div class="breadcrumb-container">
                    <nav>
                        <ul>
                            <li class="parent-page"><a th:href="@{/}">Početna</a></li>
                            <li>Obrada porudžbine</li>
                        </ul>
                    </nav>
                </div>
                <!--=======  End of breadcrumb container  =======-->
            </div>
        </div>
    </div>
</div>

<div class="page-section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Checkout Form s-->
                <form class="checkout-form" id="checkout-form-validation" method="post"
                      th:action="@{/checkout/place_order}" th:object="${order}">
                    <div class="row row-40">

                        <div class="col-lg-7 mb-20">

                            <!-- Billing Address -->
                            <div class="mb-40" id="billing-form">
                                <h4 class="checkout-title">ISPORUKA</h4>

                                <div class="row">

                                    <div class="col-md-6 col-12 mb-20">
                                        <label for="customer_first_name"
                                               th:if="${order.getCustomer()!=null}">Ime*</label>
                                        <input id="customer_first_name" name="customer_first_name"
                                               required
                                               th:field="*{customer.firstName}" th:if="${order.getCustomer()!=null}"
                                               type="text">
                                        <label for="guest_first_name" th:if="${order.getCustomer()==null}">Ime*</label>
                                        <input id="guest_first_name" name="guest_first_name"
                                               required
                                               th:field="*{guest.firstName}" th:if="${order.getCustomer()==null}"
                                               type="text">
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label for="customer_last_name"
                                               th:if="${order.getCustomer()!=null}">Prezime*</label>
                                        <input id="customer_last_name" name="customer_last_name"
                                               required
                                               th:field="*{customer.lastName}" th:if="${order.getCustomer()!=null}"
                                               type="text">
                                        <label for="guest_last_name"
                                               th:if="${order.getCustomer()==null}">Prezime*</label>
                                        <input id="guest_last_name" name="guest_last_name"
                                               required
                                               th:field="*{guest.lastName}" th:if="${order.getCustomer()==null}"
                                               type="text">
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label for="customer_email" th:if="${order.getCustomer()!=null}">Email*</label>
                                        <input id="customer_email" name="customer_email"
                                               required
                                               th:field="*{customer.email}" th:if="${order.getCustomer()!=null}"
                                               type="email">
                                        <label for="guest_email" th:if="${order.getCustomer()==null}">Email*</label>
                                        <input id="guest_email" name="guest_email"
                                               required
                                               th:field="*{guest.email}" th:if="${order.getCustomer()==null}"
                                               type="email">
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label for="customer_phone_number"
                                               th:if="${order.getCustomer()!=null}">Telefon*</label>
                                        <input id="customer_phone_number" maxlength="15" name="customer_phone_number"
                                               required
                                               th:field="*{customer.phoneNumber}"
                                               th:if="${order.getCustomer()!=null}" type="number">
                                        <label for="guest_phone_number"
                                               th:if="${order.getCustomer()==null}">Telefon*</label>
                                        <input id="guest_phone_number" maxlength="15" name="guest_phone_number" required
                                               th:field="*{guest.phoneNumber}"
                                               th:if="${order.getCustomer()==null}" type="number">
                                    </div>

                                    <div class="col-12 mb-20">
                                        <label for="customer_address"
                                               th:if="${order.getCustomer()!=null}">Adresa*</label>
                                        <input id="customer_address" name="customer_address"
                                               required
                                               th:field="*{customer.address}" th:if="${order.getCustomer()!=null}"
                                               type="text">
                                        <label for="guest_address" th:if="${order.getCustomer()==null}">Adresa*</label>
                                        <input id="guest_address" name="guest_address"
                                               required
                                               th:field="*{guest.address}" th:if="${order.getCustomer()==null}"
                                               type="text">
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Država*</label>
                                        <select class="nice-select" th:field="*{customer.country}"
                                                th:if="${order.getCustomer()!=null}">
                                            <option value="Srbija">Srbija</option>
                                        </select>
                                        <select class="nice-select" th:field="*{guest.country}"
                                                th:if="${order.getCustomer()==null}">
                                            <option value="Srbija">Srbija</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label for="customer_city" th:if="${order.getCustomer()!=null}">Grad*</label>
                                        <input id="customer_city" name="customer_city"
                                               required
                                               th:field="*{customer.city}" th:if="${order.getCustomer()!=null}"
                                               type="text">
                                        <label for="guest_city" th:if="${order.getCustomer()==null}">Grad*</label>
                                        <input id="guest_city" name="guest_city"
                                               required
                                               th:field="*{guest.city}" th:if="${order.getCustomer()==null}"
                                               type="text">
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label for="customer_zip_code" th:if="${order.getCustomer()!=null}">Poštanski
                                            broj*</label>
                                        <input id="customer_zip_code" maxlength="5"
                                               name="customer_zip_code" required
                                               th:field="*{customer.zipCode}" th:if="${order.getCustomer()!=null}"
                                               type="number">
                                        <label for="guest_zip_code" th:if="${order.getCustomer()==null}">Poštanski
                                            broj*</label>
                                        <input id="guest_zip_code" maxlength="5"
                                               name="guest_zip_code" required
                                               th:field="*{guest.zipCode}" th:if="${order.getCustomer()==null}"
                                               type="number">
                                    </div>

                                    <div class="col-12 mb-20">
                                        <div class="check-box">
                                            <input id="create_account" type="checkbox">
                                            <label for="create_account"><a th:href="@{/customer/register}">Kreiraj
                                                nalog?</a></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="row">

                                <!-- Cart Total -->
                                <div class="col-12 mb-60">

                                    <h4 class="checkout-title">Kupovina</h4>

                                    <div class="checkout-cart-total">

                                        <h4>Artikli <span>Ukupno</span></h4>

                                        <ul th:field="*{orderItems}">
                                            <li th:each="item : ${order.getOrderItems()}"
                                                th:text="${item.getProduct().getName()}+'  x'+${item.getQuantity()}">
                                            </li>
                                        </ul>

                                        <ul id="second_ul" th:field="*{orderItems}">
                                            <span th:each="item : ${order.getOrderItems()}"
                                                  th:text="${item.getTotalPrice()}+' RSD'"></span>
                                        </ul>

                                        <p>Ukupno <span th:text="${order.getOrderTotal()}+ ' RSD'"></span></p>
                                        <p>Poštarina <span
                                                th:text="${order.getOrderTotal()>3000}?'Besplatna isporuka': '/'"></span>
                                        </p>
                                        <h4>Ukupan iznos za uplatu<span th:field="*{orderTotal}"
                                                                        th:text="${order.getOrderTotal()}+' RSD'"></span>
                                        </h4>
                                    </div>
                                </div>

                                <!-- Payment Method -->
                                <div class="col-12">
                                    <h4 class="checkout-title">Izaberite način plaćanja</h4>
                                    <div class="checkout-payment-method">
                                        <div class="singled-method">
                                            <input id="payment_cash" name="payment_cash" required type="checkbox"
                                                   value="cash">
                                            <label class="payment_method_label" for="payment_cash">Plaćanje
                                                prilikom preuzimanja</label>
                                        </div>

                                        <div class="singsle-method">
                                            <input class="accept_terms" id="accept_terms" name="terms_box" required
                                                   type="checkbox">
                                            <label class="terms_label" for="accept_terms"><a th:href="@{/selling_terms}">Prihvatam uslove kupovine</a></label>
                                        </div>
                                    </div>
                                    <button class="place-order" type="submit">Potvrdi kupovinu</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="webapp/containers/footerContainer :: footerContainer"></div>

<div class="search-overlay" id="search-overlay">
    <a class="search-overlay-close" href="#" id="search-overlay-close"><i class="fa fa-times"></i></a>
    <div class="search-box">
        <input placeholder="Search entire store here" type="search">
        <button><i class="icon ion-md-search"></i></button>
    </div>
</div>
<div class="loader">Loading...</div>
<a class="scroll-top" href="#"></a>

<div th:insert="webapp/containers/scriptsContainer :: scriptsContainer"></div>

<script th:inline="javascript" type="text/javascript">
    $(document).ready(function () {

        $("#checkout-form-validation").submit(function (e) {
            $('.loader').show();
            e.preventDefault();

            var form = $(this);
            var url = form.attr('action');
            if (!form.valid()) return false;
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(), // serializes the form's elements.
                beforeSend: function (xhr) {

                },
                success: function (order_id) {
                    $('.loader').hide();
                    window.location = '/checkout/order_confirm/' + order_id;
                }
            });
        });
    });
</script>
</body>

</html>