<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="webapp/containers/headContainer :: headContainer"></head>

<body>
<div th:replace="webapp/containers/headerContainer :: headerContainer" th:with="${categories}"></div>

<div class="breadcrumb-area pt-15 pb-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb container  =======-->

                <div class="breadcrumb-container">
                    <nav>
                        <ul>
                            <li class="parent-page"><a th:href="@{/}">Početna</a></li>
                            <li>Obrada porudžbine</li>
                        </ul>
                    </nav>
                </div>
                <!--=======  End of breadcrumb container  =======-->
            </div>
        </div>
    </div>
</div>

<div class="page-section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Checkout Form s-->
                <form class="checkout-form" method="post" th:action="@{/checkout/place_order}" th:object="${order}">
                    <div class="row row-40">

                        <div class="col-lg-7 mb-20">

                            <!-- Billing Address -->
                            <div class="mb-40" id="billing-form">
                                <h4 class="checkout-title">ISPORUKA</h4>

                                <div class="row">

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Ime*</label>
                                        <input placeholder="Ime" th:field="*{customer.firstName}"
                                               th:if="${order.getCustomer()!=null}"
                                               type="text">
                                        <input placeholder="Ime" th:field="*{guest.firstName}"
                                               th:if="${order.getCustomer()==null}"
                                               type="text">
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Prezime*</label>
                                        <input placeholder="Prezime" th:field="*{customer.lastName}"
                                               th:if="${order.getCustomer()!=null}"
                                               type="text">
                                        <input placeholder="Prezime" th:field="*{guest.lastName}"
                                               th:if="${order.getCustomer()==null}"
                                               type="text">
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Email*</label>
                                        <input placeholder="Email" th:field="*{customer.email}"
                                               th:if="${order.getCustomer()!=null}"
                                               type="email">
                                        <input placeholder="Email" th:field="*{guest.email}"
                                               th:if="${order.getCustomer()==null}"
                                               type="text">
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Telefon*</label>
                                        <input placeholder="Broj telefona" th:field="*{customer.phoneNumber}"
                                               th:if="${order.getCustomer()!=null}"
                                               type="text">
                                        <input placeholder="Broj telefona" th:field="*{guest.phoneNumber}"
                                               th:if="${order.getCustomer()==null}"
                                               type="text">
                                    </div>

                                    <div class="col-12 mb-20">
                                        <label>Adresa*</label>
                                        <input placeholder="Adresa" th:field="*{customer.address}"
                                               th:if="${order.getCustomer()!=null}"
                                               type="text">
                                        <input placeholder="Adresa" th:field="*{guest.address}"
                                               th:if="${order.getCustomer()==null}"
                                               type="text">
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Država*</label>
                                        <select class="nice-select" th:field="*{customer.country}"
                                                th:if="${order.getCustomer()!=null}">
                                            <option value="Srbija">Srbija</option>
                                        </select>
                                        <select class="nice-select" th:field="*{guest.country}"
                                                th:if="${order.getCustomer()==null}">
                                            <option value="Srbija">Srbija</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Grad*</label>
                                        <input placeholder="Grad" th:field="*{customer.city}"
                                               th:if="${order.getCustomer()!=null}"
                                               type="text">
                                        <input placeholder="Grad" th:field="*{guest.city}"
                                               th:if="${order.getCustomer()==null}"
                                               type="text">
                                    </div>

                                    <div class="col-md-6 col-12 mb-20">
                                        <label>Poštanski broj*</label>
                                        <input placeholder="Poštanski broj" th:field="*{customer.zipCode}"
                                               th:if="${order.getCustomer()!=null}" type="text">
                                        <input placeholder="Poštanski broj" th:field="*{guest.zipCode}"
                                               th:if="${order.getCustomer()==null}" type="text">
                                    </div>

                                    <div class="col-12 mb-20">
                                        <div class="check-box">
                                            <input id="create_account" type="checkbox">
                                            <label for="create_account"><a th:href="@{/customer/register}">Kreiraj
                                                nalog?</a></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-5">
                            <div class="row">

                                <!-- Cart Total -->
                                <div class="col-12 mb-60">

                                    <h4 class="checkout-title">Kupovina</h4>

                                    <div class="checkout-cart-total">

                                        <h4>Artikli <span>Ukupno</span></h4>

                                        <ul th:field="*{orderItems}">
                                            <li th:each="item : ${order.getOrderItems()}"
                                                th:text="${item.getProduct().getName()}+'  x'+${item.getQuantity()}+' '+${item.getTotalPrice()}">
                                            </li>
                                        </ul>

                                        <p>Ukupno <span th:text="${order.getOrderTotal()}+ ' RSD'"></span></p>
                                        <p>Poštarina <span
                                                th:text="${order.getOrderTotal()>3000}?'00.00 RSD': '350 RSD'"></span>
                                        </p>
                                        <h4>Ukupan iznos za uplatu<span th:field="*{orderTotal}"
                                                                        th:text="${order.getOrderTotal()}+' RSD'"></span>
                                        </h4>
                                    </div>
                                </div>

                                <!-- Payment Method -->
                                <div class="col-12">
                                    <h4 class="checkout-title">Izaberite način plaćanja</h4>
                                    <div class="checkout-payment-method">

                                        <div class="single-method">
                                            <input id="payment_cash" name="payment-method" type="radio" value="cash">
                                            <label for="payment_cash">Plaćanje gotovinski prilikom preuzimanja</label>
                                            <p data-method="cash">Plaćanje se vrši kada roba stigne na vašu adresu.</p>
                                        </div>

                                        <!--                                        <div class="single-method">-->
                                        <!--                                            <input id="payment_bank" name="payment-method" type="radio" value="bank">-->
                                        <!--                                            <label for="payment_bank">Direct Bank Transfer</label>-->
                                        <!--                                            <p data-method="bank">Usled obavljanja radova na unapređenju sistema, usluga-->
                                        <!--                                                onlajn plaćanja računa neće biti dostupna do daljnjeg.</p>-->
                                        <!--                                        </div>-->

                                        <!--                                        <div class="single-method">-->
                                        <!--                                            <input id="payment_paypal" name="payment-method" type="radio"-->
                                        <!--                                                   value="paypal">-->
                                        <!--                                            <label for="payment_paypal">Online plaćanje platnom karticom</label>-->
                                        <!--                                            <p data-method="paypal">Usled obavljanja radova na unapređenju sistema,-->
                                        <!--                                                usluga onlajn plaćanja računa neće biti dostupna do daljnjeg.</p>-->
                                        <!--                                        </div>-->

                                        <div class="single-method">
                                            <input id="accept_terms" type="checkbox">
                                            <label for="accept_terms">Prihvatam uslove kupovine</label>
                                        </div>

                                    </div>

                                    <button class="place-order" type="submit">Potvrdi kupovinu</button>

                                </div>

                            </div>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div th:replace="webapp/containers/footerContainer :: footerContainer"></div>

<div class="search-overlay" id="search-overlay">
    <a class="search-overlay-close" href="#" id="search-overlay-close"><i class="fa fa-times"></i></a>
    <div class="search-box">
        <input placeholder="Search entire store here" type="search">
        <button><i class="icon ion-md-search"></i></button>
    </div>
</div>

<a class="scroll-top" href="#"></a>

<div th:insert="webapp/containers/scriptsContainer :: scriptsContainer"></div>

</body>
</html>