<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="webapp/containers/headContainer :: headContainer(title='Plastika Drašković - Potvrda porudžbine')"></head>
<body>
<div th:replace="webapp/containers/headerContainer :: headerContainer" th:with="${categories}"></div>
<div class="breadcrumb-area pt-15 pb-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb container  =======-->

                <div class="breadcrumb-container">
                    <nav>
                        <ul>
                            <li class="parent-page"><a th:href="@{/}">Početna</a></li>
                            <li>Potvrda Vaše porudžbine</li>
                        </ul>
                    </nav>
                </div>
                <!--=======  End of breadcrumb container  =======-->
            </div>
        </div>
    </div>
</div>

<div class="shop-page-content mb-50" th:if="${order!=null}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 order-1 order-lg-2">
                <p style="font-weight: bold; font-size: 20px"> Vaša porudžbina je primljena</p>
                <p style="font-weight: bold; font-size: 16px">Hvala što kupujete kod nas.</p>
                <p style="font-weight: bold; font-size: 14px"
                   th:text="'Broj vaše porudžbine je: '+${order.getId()}"></p>
                <p style="font-weight: normal; font-size: 14px">Primićete email sa potvrdom kao i detaljima vaše
                    porudžbine.</p>
                <div class="order-summary-button">
                    <a th:href="@{/}">
                        <button class="checkout-btn">Nastavi kupovinu</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="webapp/containers/footerContainer :: footerContainer"></div>

<div class="search-overlay" id="search-overlay">
    <a class="search-overlay-close" href="#" id="search-overlay-close"><i class="fa fa-times"></i></a>
    <div class="search-box">
        <input placeholder="Search entire store here" type="search">
        <button><i class="icon ion-md-search"></i></button>
    </div>
</div>

<a class="scroll-top" href="#"></a>

<div th:insert="webapp/containers/scriptsContainer :: scriptsContainer"></div>

</body>
</html>