<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{home.html}">

<head th:replace="webapp/containers/headContainer :: headContainer"></head>

<body>

<div th:replace="webapp/containers/headerContainer :: headerContainer" th:with="${categories}"></div>

<!--SLIDER-->

<div class="hero-area mb-30">
    <!--=======  slider container  =======-->

    <div class="slider-container">
        <!--=======  hero slider one  =======-->

        <div class="hero-slider">
            <!--=======  slider item  =======-->

            <div class="hero-slider-item slider-bg-1">


                <!--=======  slider content  =======-->

                <div class="d-flex flex-column justify-content-center align-items-start h-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="slider-content">
                                    <p>Exclusive Offer -60% Off This Week </p>
                                    <h1>Carronade <span>Pendant Lamp-Black </span></h1>
                                    <p class="slider-price">starting at <span>$260.99</span></p>
                                    <a href="shop-left-sidebar.html" class="slider-btn">SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--=======  End of slider content  =======-->
            </div>

            <!--=======  End of slider item  =======-->

            <!--=======  slider item  =======-->

            <div class="hero-slider-item slider-bg-2">
                <!--=======  slider content  =======-->

                <div class="d-flex flex-column justify-content-center align-items-start h-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="slider-content">
                                    <p>Exclusive Offer -20% Off This Week </p>
                                    <h1>Conbox Fan <span>Collection 2018</span></h1>
                                    <p class="slider-price">starting at <span>$260.99</span></p>
                                    <a href="shop-left-sidebar.html" class="slider-btn">SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--=======  End of slider content  =======-->
            </div>

            <!--=======  End of slider item  =======-->

            <!--=======  slider item  =======-->

            <div class="hero-slider-item slider-bg-3">
                <!--=======  slider content  =======-->

                <div class="d-flex flex-column justify-content-center align-items-start h-100">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="slider-content">
                                    <p>Exclusive Offer -30% Off This Week </p>
                                    <h1>Decorative <span>Outdoor Chair 2018  </span></h1>
                                    <p class="slider-price">starting at <span>$260.99</span></p>
                                    <a href="shop-left-sidebar.html" class="slider-btn">SHOP NOW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--=======  End of slider content  =======-->
            </div>

            <!--=======  End of slider item  =======-->

        </div>

        <!--=======  End of hero slider one  =======-->
    </div>

    <!--=======  End of slider container  =======-->
</div>

<!--END OFF SLIDER-->

<!--=============================================
=            tab slider section         =
=============================================-->

<div class="tab-product-slider-container mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  tab slider wraspper  =======-->

                <div class="tab-slider-wrapper">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="featured-tab" data-toggle="tab" href="#featured" role="tab"
                               aria-selected="true">Popularni proizvodi</a>
                            <a class="nav-item nav-link" id="new-arrival-tab" data-toggle="tab" href="#new-arrivals" role="tab"
                               aria-selected="false">Novi proizvodi</a>
                            <a class="nav-item nav-link" id="nav-onsale-tab" data-toggle="tab" href="#on-sale" role="tab"
                               aria-selected="false">Proizvodi na akciji</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">

                        <div class="tab-pane fade show active" id="featured" role="tabpanel" aria-labelledby="featured-tab">
                            <!--=======  tab product slider  =======-->

                            <div class="fl-slider tab-product-slider">
                                <!--=======  single product  =======-->

                                <div th:each="popular_product:${popular_products}" class="fl-product">
                                    <div class="image">
                                        <a th:href="@{/product/single_product/__${popular_product.id}__}">
                                            <img th:src="@{'/images/' + ${popular_product.images.get(0).name}}" class="img-fluid" alt="">
                                            <img th:src="@{'/images/' + ${popular_product.images.get(0).name}}" class="img-fluid" alt="">
                                        </a>
                                        <!-- wishlist icon -->
                                        <span class="wishlist-icon"><a href="#"><i class="icon ion-md-heart-empty"></i></a></span>
                                    </div>
                                    <div class="content">
                                        <h2 class="product-title"><a th:text="${popular_product.getName()}" th:href="@{/product/single_product/__${popular_product.id}__}"></a></h2>
                                        <div class="rating">
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <p class="product-price">
                                            <!--                                    <span   class="main-price discounted"></span>-->
                                            <span th:text="${popular_product.productAttributes.get(0).price}+' RSD'" class="discounted-price"></span>
                                        </p>

                                        <div class="hover-icons">
                                            <ul>
                                                <li><a href="#" data-tooltip="Dodaj u korpu"><i class="icon ion-md-cart"></i></a></li>
                                                <li><a href="#" data-tooltip="Dodaj u listu želja"><i class="icon ion-md-heart-empty"></i></a></li>
                                                <li><a href="#" data-tooltip="Detaljnije" th:onclick="'javascript:openProductModal(\'' + ${popular_product.id} + '\');'"><i class="icon ion-md-open"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--=======  End of single product  =======-->

                            </div>

                            <!--=======  End of tab product slider  =======-->
                        </div>

                        <div class="tab-pane fade" id="new-arrivals" role="tabpanel" aria-labelledby="new-arrival-tab">
                            <!--=======  tab product slider  =======-->

                            <div class="fl-slider tab-product-slider">
                                <!--=======  single product  =======-->

                                <div th:each="new_product:${new_products}" class="fl-product">
                                    <div class="image">
                                        <a th:href="@{/product/single_product/__${new_product.id}__}">
                                            <img th:src="@{'/images/' + ${new_product.images.get(0).name}}" class="img-fluid" alt="">
                                            <img th:src="@{'/images/' + ${new_product.images.get(0).name}}" class="img-fluid" alt="">
                                        </a>
                                        <!-- wishlist icon -->
                                        <span class="wishlist-icon"><a href="#"><i class="icon ion-md-heart-empty"></i></a></span>
                                    </div>
                                    <div class="content">
                                        <h2 class="product-title"><a th:text="${new_product.getName()}" th:href="@{/product/single_product/__${new_product.id}__}"></a></h2>
                                        <div class="rating">
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <p class="product-price">
                                            <!--                                    <span   class="main-price discounted"></span>-->
                                            <span th:text="${new_product.productAttributes.get(0).price}+' RSD'" class="discounted-price"></span>
                                        </p>

                                        <div class="hover-icons">
                                            <ul>
                                                <li><a href="#" data-tooltip="Dodaj u korpu"><i class="icon ion-md-cart"></i></a></li>
                                                <li><a href="#" data-tooltip="Dodaj u listu želja"><i class="icon ion-md-heart-empty"></i></a></li>
                                                <li><a href="#" data-tooltip="Detaljnije"  th:onclick="'javascript:openProductModal(\'' + ${new_product.id} + '\');'"><i class="icon ion-md-open"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--=======  End of single product  =======-->

                            </div>

                            <!--=======  End of tab product slider  =======-->
                        </div>

                        <div class="tab-pane fade" id="on-sale" role="tabpanel" aria-labelledby="nav-onsale-tab">
                            <!--=======  tab product slider  =======-->

                            <div class="fl-slider tab-product-slider">
                                <!--=======  single product  =======-->

                                <div th:each="sale_product:${sale_products}" class="fl-product">
                                    <div class="image sale-product">
                                        <a th:href="@{/product/single_product/__${sale_product.id}__}">
                                            <img th:src="@{'/images/' + ${sale_product.images.get(0).name}}" class="img-fluid" alt="">
                                            <img th:src="@{'/images/' + ${sale_product.images.get(0).name}}" class="img-fluid" alt="">
                                        </a>
                                        <!-- wishlist icon -->
                                        <span class="wishlist-icon"><a href="#"><i class="icon ion-md-heart-empty"></i></a></span>
                                    </div>
                                    <div class="content">
                                        <h2 class="product-title"><a th:text="${sale_product.getName()}" th:href="@{/product/single_product/__${sale_product.id}__}"></a></h2>
                                        <div class="rating">
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star active"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <p class="product-price">
                                            <!--                                    <span   class="main-price discounted"></span>-->
                                            <span th:text="${sale_product.productAttributes.get(0).price}+' RSD'" class="discounted-price"></span>
                                        </p>

                                        <div class="hover-icons">
                                            <ul>
                                                <li><a href="#" data-tooltip="Dodaj u korpu"><i class="icon ion-md-cart"></i></a></li>
                                                <li><a href="#" data-tooltip="Dodaj u listu želja"><i class="icon ion-md-heart-empty"></i></a></li>
                                                <li><a href="#" data-tooltip="Detaljnije" th:onclick="'javascript:openProductModal(\'' + ${sale_product.id} + '\');'"><i class="icon ion-md-open"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <!--=======  End of single product  =======-->

                            </div>

                            <!--=======  End of tab product slider  =======-->
                        </div>
                    </div>
                </div>

                <!--=======  End of tab slider wraspper  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of tab slider section  ======-->

<!--=============================================
=            slider with banner and sidebar         =
=============================================-->

<div class="slider-banner-sidebar-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  slider with banner and sidebar container  =======-->

                <div class="slider-banner-sidebar-container">
                    <div class="row no-gutters">
                        <div class="col-lg-3 col-xl-2 col-md-4">
                            <!--=======  sidebar  =======-->

                            <div class="slider-sidebar">
                                <h3 class="slider-sidebar-title">SAKSIJE I BAŠTA</h3>
                                <div class="sidebar-list">
                                    <ul>
                                        <li th:each="subcategory:${categories.get(2).subcategories}"><a th:text="${subcategory.name}" th:onclick="'javascript:showFirstProductsBySubcategory(\''+ ${subcategory.id} +'\');'"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--=======  End of sidebar  =======-->
                        </div>
                        <div id="first_slider" class="col-lg-9 col-xl-10 col-md-8">

                            <div class="fl-slider banner-slider"></div>

                            <!--=======  slider banner  =======-->

                            <div class="slider-banner home-one-banner banner-bg banner-bg-1">
                                <div class="banner-text">
                                    <p>Proizvod nedelje</p>
                                    <p class="big-text">Saksija okrugla</p>
                                    <p>Samo 250 RSD</p>
                                </div>
                            </div>

                            <!--=======  End of slider banner  =======-->
                        </div>
                    </div>
                </div>

                <!--=======  End of slider with banner and sidebar container  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of slider with banner and sidebar  ======-->

<!--=============================================
=            slider with banner and sidebar         =
=============================================-->

<div class="slider-banner-sidebar-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  slider with banner and sidebar container  =======-->

                <div class="slider-banner-sidebar-container">
                    <div class="row no-gutters">
                        <div class="col-lg-3 col-xl-2 col-md-4">
                            <!--=======  sidebar  =======-->

                            <div class="slider-sidebar">
                                <h3 class="slider-sidebar-title">DEČIJI PROGRAM</h3>
                                <div class="sidebar-list">
                                    <ul>
                                        <li th:each="subcategory:${categories.get(5).subcategories}"><a th:text="${subcategory.name}" th:onclick="'javascript:showSecondProductsBySubcategory(\''+ ${subcategory.id} +'\');'"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--=======  End of sidebar  =======-->
                        </div>

                        <div id="second_slider" class="col-lg-9 col-xl-10 col-md-8">
                            <!--=======  banner slider  =======-->

                            <div class="fl-slider banner-slider"></div>

                            <!--=======  End of banner slider  =======-->

                            <!--=======  slider banner  =======-->

                            <div class="slider-banner home-one-banner banner-bg banner-bg-2">
                                <div class="banner-text">
                                    <p>Proizvod nedelje</p>
                                    <p class="big-text">Pertini Igračka</p>
                                    <p>Za samo 350 RSD</p>
                                </div>
                            </div>

                            <!--=======  End of slider banner  =======-->
                        </div>
                    </div>
                </div>
                <!--=======  End of slider with banner and sidebar container  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of slider with banner and sidebar  ======-->

<!--=============================================
=            slider with banner and sidebar         =
=============================================-->

<div class="slider-banner-sidebar-area mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  slider with banner and sidebar container  =======-->

                <div class="slider-banner-sidebar-container">
                    <div class="row no-gutters">
                        <div class="col-lg-3 col-xl-2 col-md-4">
                            <!--=======  sidebar  =======-->

                            <div class="slider-sidebar">
                                <h3 class="slider-sidebar-title">KUHINJA</h3>
                                <div class="sidebar-list">
                                    <ul>
                                        <li th:each="subcategory,iter:${categories.get(4).subcategories} " th:if="${iter.count<=10}"><a th:text="${subcategory.name}" th:onclick="'javascript:showThirdProductsBySubcategory(\''+ ${subcategory.id} +'\');'"></a></li>
                                    </ul>
                                </div>
                            </div>

                            <!--=======  End of sidebar  =======-->
                        </div>
                        <div id="third_slider" class="col-lg-9 col-xl-10 col-md-8">
                            <!--=======  banner slider  =======-->

                            <div class="fl-slider banner-slider"></div>

                            <!--=======  End of banner slider  =======-->

                            <!--=======  slider banner  =======-->

                            <div class="slider-banner home-one-banner banner-bg banner-bg-3">
                                <div class="banner-text">
                                    <p>Proizvod nedelje</p>
                                    <p class="big-text">Činija četvrtasta</p>
                                    <p>Za samo 79 RSD</p>
                                </div>
                            </div>

                            <!--=======  End of slider banner  =======-->
                        </div>
                    </div>
                </div>

                <!--=======  End of slider with banner and sidebar container  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of slider with banner and sidebar  ======-->

<!--FOOTER-->

<div th:replace="webapp/containers/footerContainer :: footerContainer"></div>

<!--END OF FOOTER-->

<!--SEARCH OVERLAY-->

<div class="search-overlay" id="search-overlay">
    <a href="#" class="search-overlay-close" id="search-overlay-close"><i class="fa fa-times"></i></a>
    <div class="search-box">
        <input type="search" placeholder="Search entire store here">
        <button><i class="icon ion-md-search"></i></button>
    </div>
</div>

<!--END OF SEARCH OVERLAY-->

<!--QUICK VIEW MODAL-->
<div class="modal fade quick-view-modal-container" id="quick-view-modal-container" tabindex="-1" role="dialog" aria-hidden="true"></div>

<!--END OF QUICK VIEW MODAL-->

<!-- SCROLL TO TOP  -->

<a href="#" class="scroll-top"></a>

<!-- END OF SCROLL TO TOP -->

<div th:insert="webapp/containers/scriptsContainer :: scriptsContainer"></div>

<script th:inline="javascript" type="text/javascript">

    $(document).ready(function () {
        showFirstProductsBySubcategory(9);
        showSecondProductsBySubcategory(37);
        showThirdProductsBySubcategory(19);
        $('.modal').on('shown.bs.modal', function (e) {
            $('.small-image-slider').resize();
            addProductSlider();
            console.log("on modal show");
        });
    });

    function openProductModal(productID) {
        $.ajax({
            url: '/product/product_modal/' + productID,
            type: 'get',
            success: function (response) {
                $(".modal").html(response);
                $(".modal").modal('show');
            }
        });
    }

    function showFirstProductsBySubcategory(subcategoryId) {
        $.ajax({
            url: '/product/products_by_sub_category/' + subcategoryId,
            type: 'get',
            success: function (response) {
                $('#first_slider').children().first().replaceWith(response);
                addBannerSlider($('#first_slider').children().first());
            }
        });
    }

    function showSecondProductsBySubcategory(subcategoryId) {
        $.ajax({
            url: '/product/products_by_sub_category/' + subcategoryId,
            type: 'get',
            success: function (response) {
                $('#second_slider').children().first().replaceWith(response);
                addBannerSlider($('#second_slider').children().first());
            }
        });
    }

    function showThirdProductsBySubcategory(subcategoryId) {
        $.ajax({
            url: '/product/products_by_sub_category/' + subcategoryId,
            type: 'get',
            success: function (response) {
                $('#third_slider').children().first().replaceWith(response);
                addBannerSlider($('#third_slider').children().first());
            }
        });
    }

    function addBannerSlider(slider) {
        var $this = slider;
        var $row = $this.attr("data-row") ? parseInt($this.attr("data-row"), 10) : 1;
        $this.slick({
            infinite: true,
            arrows: true,
            dots: false,
            slidesToShow: 4,
            slidesToScroll: 1,
            autoplay: false,
            rows: $row,
            prevArrow: '<button class="slick-prev"><i class="fa fa-angle-left"></i></button>',
            nextArrow: '<button class="slick-next"><i class="fa fa-angle-right"></i></button>',
            responsive: [{
                breakpoint: 1499,
                settings: {
                    slidesToShow: 4,
                }
            },
                {
                    breakpoint: 1199,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 991,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 575,
                    settings: {
                        slidesToShow: 2,
                    }
                },
                {
                    breakpoint: 479,
                    settings: {
                        slidesToShow: 1,
                    }
                }
            ]
        });
    }

    function addProductSlider() {
        $('.small-image-slider, .quickview-small-image-slider').slick({
            prevArrow: '<i class="fa fa-angle-left slick-prev"></i>',
            nextArrow: '<i class="fa fa-angle-right slick-next"></i>',
            arrows: true,
            dots: false,
            slidesToShow: 4,
            responsive: [
                {
                    breakpoint: 1499,
                    settings: {
                        slidesToShow: 4,
                    }
                },
                {
                    breakpoint: 1199,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 991,
                    settings: {
                        slidesToShow: 3,
                    }
                },
                {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 3,
                        arrows: false
                    }
                },
                {
                    breakpoint: 575,
                    settings: {
                        slidesToShow: 3,
                        arrows: false
                    }
                },
                {
                    breakpoint: 479,
                    settings: {
                        slidesToShow: 2,
                        arrows: false
                    }
                }
            ]
        });
    }

</script>
</body>

</html>