<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="webapp/containers/headContainer :: headContainer"></head>
<body>
<div th:replace="webapp/containers/headerContainer :: headerContainer" th:with="${categories}"></div>

<!--=============================================
	=            breadcrumb area         =
	=============================================-->

<div class="breadcrumb-area pt-15 pb-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb container  =======-->

                <div class="breadcrumb-container">
                    <nav>
                        <ul>
                            <li class="parent-page"><a th:href="@{/}">Početna</a></li>
                            <li>Prijava</li>
                        </ul>
                    </nav>
                </div>

                <!--=======  End of breadcrumb container  =======-->
            </div>
        </div>
    </div>
</div>

<!--=====  End of breadcrumb area  ======-->

<div class="page-section mb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                <!-- Login Form s-->
                <form th:action="@{/loginUser}" method="post">

                    <div class="login-form">
                        <h4 class="login-title">Prijava</h4>

                        <div class="row">
                            <div class="error" th:if="${param.error}"
                                 th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
                                Reason: <span th:text="${errorMsg}">Wrong input!</span>
                            </div>
                            <div class="col-md-12 col-12 mb-20">
                                <label>Korisničko ime</label>
                                <input th:name="username" class="mb-0" type="text" placeholder="Korisničko ime">
                            </div>
                            <div class="col-12 mb-20">
                                <label>Šifra</label>
                                <input th:name="password" class="mb-0" type="password" placeholder="Šifra">
                            </div>
                            <div class="col-md-8">
                                <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                                    <input type="checkbox" id="remember_me">
                                    <label for="remember_me">Zapamti me</label>
                                </div>
                            </div>
                            <div class="col-md-4 mt-10 mb-20 text-left text-md-right">
                                <a href="#"> Zaboravljena šifra</a>
                            </div>

                            <div class="col-md-12">
                                <button type="submit" class="register-button mt-0">Uloguj se</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!--FOOTER-->

<div th:replace="webapp/containers/footerContainer :: footerContainer"></div>

<!--END OF FOOTER-->

<div th:insert="webapp/containers/scriptsContainer :: scriptsContainer" ></div>

</body>
</html>