<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="cart-summary" th:fragment="summary">
    <div class="cart-summary-wrap">
        <h4 th:text="#{shopping}">Kupovina</h4>
        <p th:text="#{total}">Ukupno <span th:text="${session.cart.getTotal()}+' RSD'"></span></p>
        <p th:text="#{shipping.fee}">Poštarina <span
                th:text="${session.cart.getTotal()>=2000}?'Besplatna isporuka':'/'"></span></p>
        <h2 th:text="#{total.price}">Ukupan iznos za uplatu <span th:text="${session.cart.getTotal()}+' RSD'"></span>
        </h2>
    </div>
    <div class="cart-summary-button">
        <a th:href="@{/checkout/show_checkout}">
            <button class="checkout-btn" th:text="#{place.order}">Završi kupovinu</button>
        </a>
    </div>
</div>
</body>
</html>