<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="webapp/containers/headContainer :: headContainer(title='Plastika Drašković - Korpa')"></head>
<body>
<div th:replace="webapp/containers/headerContainer :: headerContainer" th:with="${categories}"></div>
<div class="breadcrumb-area pt-15 pb-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  breadcrumb container  =======-->

                <div class="breadcrumb-container">
                    <nav>
                        <ul>
                            <li class="parent-page"><a th:href="@{/}">Početna</a></li>
                            <li>Sadržaj Vaše korpe</li>
                        </ul>
                    </nav>
                </div>
                <!--=======  End of breadcrumb container  =======-->
            </div>
        </div>
    </div>
</div>
<div class="page-section mb-50" th:if="${session.cart!=null && session.cart.getCartItems().size()>0}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <!--=======  cart table  =======-->
                    <div class="cart-table table-responsive mb-40">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="pro-thumbnail">Slika</th>
                                <th class="pro-title">Proizvod</th>
                                <th class="pro-color">Boja</th>
                                <th class="pro-size">Veličina</th>
                                <th class="pro-price">Cena</th>
                                <th class="pro-quantity">Količina</th>
                                <th class="pro-subtotal">Ukupno</th>
                                <th class="pro-remove">Obriši</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${cart.getCartItems()}">
                                <td class="pro-thumbnail">
                                    <a th:href="@{/product/single_product/__${item.product.id}__}"><img alt="Product"
                                                                                                        class="img-fluid"
                                                                                                        th:onerror="'this.onerror==null; this.src=\'' + @{/img/not-found.png} + '\';'"
                                                                                                        th:src="@{'/images/' + ${item.product.images.get(0).name}}"></a>
                                </td>
                                <td class="pro-title"><a th:href="@{/product/single_product/__${item.product.id}__}"
                                                         th:text="${item.product.getName()}"></a></td>
                                <td class="pro-color"><span class="color-block"
                                                            th:style="'background-color:'+${item.product_color.code}+';'"
                                                            th:title="${item.product_color.name}"></span></td>
                                <td class="pro-size"><span th:text="${item.size}"></span></td>
                                <td class="pro-price"
                                    th:id="${item.product.id}+'-'+${item.getSize()}+'-'+${item.getPrice()}+'-'+${item.getColor()}">
                                    <span th:text="${item.price}+ ' RSD'"></span></td>
                                <td class="pro-quantity">
                                    <div class="pro-qty"
                                         th:classappend="${item.product.id}+'-'+${item.getSize()}+'-'+${item.getPrice()}+'-'+${item.getColor()}">
                                        <input id="input_value" onkeypress="onEnter(this,event);"
                                               th:value="${item.quantity}" type="text">
                                    </div>
                                </td>
                                <td class="pro-subtotal">
                                    <span th:id="${item.product.id}+'-'+${item.getSize()}+'-'+${item.getPrice()}+'-'+${item.getColor()}"
                                          th:text="${item.price*item.quantity}+' RSD'"></span>
                                </td>
                                <td class="pro-remove"><a
                                        th:href="@{/cart/delete_cart_item/__${item.getSize()}__/__${item.getPrice()}__/__${item.getColor()}__/__${item.getProduct().getCode()}__}"><i
                                        class="fa fa-trash-o"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
                    <!--=======  End of cart table  =======-->

                </form>

                <div class="row">

                    <div class="col-lg-6 col-12"></div>

                    <div class="col-lg-6 col-12 d-flex">
                        <!--=======  Cart summery  =======-->

                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h4>Kupovina</h4>
                                <p>Ukupno <span th:text="${session.cart.getTotal()}+ ' RSD'"></span></p>
                                <p>Poštarina <span
                                        th:text="${session.cart.getTotal()>=3000}?'Besplatna isporuka':'/'"></span></p>
                                <h2>Ukupan iznos za uplatu <span th:text="${session.cart.getTotal()}+' RSD'"></span>
                                </h2>
                            </div>
                            <div class="cart-summary-button">
                                <a th:href="@{/checkout/show_checkout}">
                                    <button class="checkout-btn">Završi kupovinu</button>
                                </a>
                            </div>
                        </div>
                        <!--=======  End of Cart summery  =======-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-section mb-50" th:unless="${session.cart!=null && session.cart.getCartItems().size()>0}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p style="text-align: center; line-height: 100px; font-weight: bold; font-size: 20px">Vaša korpa je
                    trenutno prazna</p>
            </div>
        </div>
    </div>
</div>

<div th:replace="webapp/containers/footerContainer :: footerContainer"></div>

<div class="search-overlay" id="search-overlay">
    <a class="search-overlay-close" href="#" id="search-overlay-close"><i class="fa fa-times"></i></a>
    <div class="search-box">
        <input placeholder="Search entire store here" type="search">
        <button><i class="icon ion-md-search"></i></button>
    </div>
</div>

<a class="scroll-top" href="#"></a>

<div th:insert="webapp/containers/scriptsContainer :: scriptsContainer"></div>

<script th:inline="javascript" type="text/javascript">
    $(document).ready(function () {
        $('.inc').on('click', function () {
            updateSubTotal($(this));
            var id = $(this).parent().attr('class').split(' ')[1];
            var value = $(this).parent().parent().next().children(":first").text().split(' RSD')[0];
            var quantity = $(this).parent().children(":first").val();
            updateMiniCart($(this).parent().children(":first"), id, value, quantity);
        });
        $('.dec').on('click', function () {
            updateSubTotal($(this));
            var id = $(this).parent().attr('class').split(' ')[1];
            var value = $(this).parent().parent().next().children(":first").text().split(' RSD')[0];
            var quantity = $(this).parent().children(":first").val();
            updateMiniCart($(this).parent().children(":first"), id, value, quantity);
        });
    });

    function updateMiniCart(input, id, value, quantity) {
        $.ajax({
            url: '/cart/update_minicart/' + id + '/' + value + '/' + quantity,
            type: 'get',
            success: function (response) {
                $(".navigation-menu-top").replaceWith(response);
                updateCartSummary();
                $("#cart-icon").on("click", function (event) {
                    event.stopPropagation();
                    $("#cart-floating-box").slideToggle();
                    $("#accountList").slideUp("slow");
                    $("#languageList").slideUp("slow");
                });

                $("body:not(#cart-icon)").on("click", function () {
                    $("#cart-floating-box").slideUp("slow");
                });
            }
        });
    }

    function updateCartSummary() {
        $.ajax({
            url: '/cart/update_cart_summary',
            type: 'get',
            success: function (response) {
                $(".cart-summary").replaceWith(response);
            }
        });
    }

    function updateSubTotal(inc) {
        var id = inc.parent().attr('class').split(' ')[1];
        var price = $('td#' + id + '').children().text().split(' ')[0];
        var quantity = inc.parent().children(":first").val();
        var subtotal = price * quantity;
        inc.parent().parent().next().children(":first").text(subtotal + ' RSD');
    }

    function updateSubTotalOnEnter(input) {
        var id = input.parent().attr('class').split(' ')[1];
        var price = $('td#' + id + '').children().text().split(' ')[0];
        var quantity = input.parent().children(":first").val();
        var subtotal = price * quantity;
        input.parent().parent().next().children(":first").text(subtotal + ' RSD');
    }

    function onEnter(input_value, event) {
        if (event.which == 13) {
            if ($(input_value).parent().children(":first").val() > 0) {
                updateSubTotalOnEnter($(input_value));
                var id = $(input_value).parent().attr('class').split(' ')[1];
                var value = $(input_value).parent().parent().next().children(":first").text().split(' RSD')[0];
                var quantity = $(input_value).parent().children(":first").val();
                updateMiniCart($(input_value).parent().children(":first"), id, value, quantity);
                return false;
            }
        }
    }

</script>
</body>
</html>