<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="administration/admin/adminLayoutHeader :: adminLayoutHeader(title='Plastika Drašković - Administracija')">
    <meta content="no-cache" http-equiv="Cache-control">
    <meta content="-1" http-equiv="Expires">
</head>
<body>

<nav class="navbar navbar-light navbar-expand-md navigation-clean-search" th:fragment="adminLayoutMenu">
    <div class="container"><a class="navbar-brand" href="#">Plastika Drašković</a>
        <button class="navbar-toggler" data-target="#navcol-1" data-toggle="collapse">
            <span class="sr-only"></span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item active" role="presentation"><a class="nav-link" th:href="@{/administration/product_list}">Proizvodi</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/administration/order_list}">Porudžbine</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/administration/customer_list}">Korisnici</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/administration/messages_list}">Poruke</a></li>
            </ul>
            <form class="form-inline mr-auto" target="_self">
                <div class="form-group"></div>
            </form>
            <a class="btn btn-light action-button" role="button" th:href="@{/}">E-prodavnica</a>
        </div>
    </div>
</nav>

<div class="container c1691">
    <div class="row c1859">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-4 col-12 c1867">
            <h4 data-type="header" id="ibxf1lw">UNOS PROIZVODA</h4>
            <hr>
            <div th:class="${'alert ' + alertClass}" th:if="${message}" th:text="${message}"/>
            <form enctype="multipart/form-data" id="i10l" method="post" name="form"
                  th:action="@{/administration/save_product}" th:object="${product}">
                <div class="form-group row" hidden><label class="col-sm-3 col-form-label" for="id">Id :</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="id" placeholder="Id" th:field="*{id}" type="text"/>
                    </div>
                </div>
                <div class="form-group row"><label class="col-sm-3 col-form-label" for="password">Šifra :</label>
                    <div class="col-sm-9">
                        <input class="form-control " id="password" placeholder="Šifra" th:field="*{code}"
                               th:name="code" th:readonly="${editing}" type="text"/>
                    </div>
                </div>
                <div class="form-group row"><label class="col-sm-3 col-form-label" for="name">Naziv :</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="name" placeholder="Naziv" th:field="*{name}" type="text"/>
                    </div>
                </div>
                <div class="form-group row"><label class="col-sm-3 col-form-label" for="description">Opis :</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="description" placeholder="Opis" rows="3"
                                  th:field="*{description}"></textarea>
                    </div>
                </div>
                <div class="form-group row"><label class="col-sm-3 col-form-label" for="manufacturer">Proizvođač
                    :</label>
                    <div class="col-sm-9">
                        <input class="form-control" id="manufacturer" placeholder="Proizvođač"
                               th:field="*{manufacturer}" type="text"/>
                    </div>
                </div>
                <div class="form-group row"><label class="col-form-label col-sm-3" for="category">Kategorija :</label>
                    <div class="col-sm-9">
                        <select class="selectpicker form-control" id="category" th:field="*{category.id}">
                            <option th:each="category :  ${categories}" th:text="${category.name}"
                                    th:value="${category.id}">
                        </select>
                    </div>
                </div>
                <div class="form-group row"><label class="col-form-label col-sm-3" for="subcategory">Pod :</label>
                    <div class="col-sm-9">
                        <select class="selectpicker form-control" id="subcategory" name="selValue"
                                th:field="*{subcategory.id}"></select>
                    </div>
                </div>
                <div class="form-group row"><label class="col-form-label col-sm-3" for="dimension">Dimenzije :</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="dimension" multiple th:field="*{sizes}">
                            <option th:each="size :  ${product.sizes}" th:text="${size}" th:value="${size}">
                        </select>
                    </div>
                </div>
                <div class="form-group row"><label class="col-form-label col-sm-3" for="price">Cene :</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="price" multiple th:field="*{prices}">
                            <option th:each="price :  ${product.prices}" th:text="${price}" th:value="${price}">
                        </select>
                    </div>
                </div>
                <div class="form-group row"><label class="col-form-label col-sm-3" for="price">Cene-akcija :</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="price-discounted" multiple th:field="*{discounted_prices}">
                            <option th:each="discounted_price :  ${product.discounted_prices}"
                                    th:text="${discounted_price}" th:value="${discounted_price}">
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label">Slika :</label>
                    <div class="col-sm-9 input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-danger btn-file" id="chooseBtn">
                                    Izaberi<input id="fileUpload" multiple required th:field="*{imgData}" type="file">
                                </span>
                            </span>
                        <input class="form-control" readonly type="text">
                    </div>
                </div>
                <div id="image-holder">
                    <img class="thumb-image" th:each="image:${product.images}" th:if="${editing}"
                         th:src="@{'/images/' + ${image.name}}">
                </div>
                <input id="edit" th:value='${editing}' type="hidden"/>

                <div class="form-group row" style="margin-top: 30px;"><label class="col-sm-3 col-form-label"
                                                                             for="multiple-checkboxes">Boja
                    :</label>
                    <div class="col-sm-9">
                        <select class="selectpicker form-control" data-actions-box="true"
                                data-deselect-all-text="Deselektuj sve"
                                data-dropup-auto="false"
                                data-none-selected-text="Izaberite boju"
                                data-select-all-text="Selektuj sve" data-selected-text-format="count"
                                data-size="6"
                                id="multiple-checkboxes"
                                multiple
                                name="colors"
                                th:field="*{selectedColors}">
                            <option th:each="c : ${allColors}"
                                    th:selected="${product.selectedColors.contains(c.id)}"
                                    th:style="'background:'+${c.code}+';'"
                                    th:value="${c.id}">
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">Stanje :</div>
                    <div class="col-sm-9">
                        <div class="form-check">
                            <input class="form-check-input" id="status" th:field="*{available}" type="checkbox"/>
                            <label class="form-check-label" for="status"> Na stanju </label></div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3">Akcija :</div>
                    <div class="col-sm-9">
                        <div class="form-check">
                            <input class="form-check-input" id="sale" th:field="*{sale}" type="checkbox"/>
                            <label class="form-check-label" for="sale"> Na akciji </label></div>
                    </div>
                </div>
                <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}"/>
                <div class="row c60069">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 c60077">
                        <button class="btn btn-primary btn-lg" id="saveBtn" type="submit">Sačuvaj</button>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 c60086">
                        <a class="btn btn-primary" id="btn-return" th:href="@{/administration/product_list}">Nazad</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="administration/admin/adminLayoutFooter :: adminLayoutFooter"></div>

<script crossorigin="anonymous"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<script src="/js/administration/imgUpload.js" type="text/javascript"></script>
<script src="/js/administration/productValidation.js" type="text/javascript"></script>
<script src="/js/webapp/bootbox.js" type="text/javascript"></script>

<script th:inline="javascript" type="text/javascript">
    $(document).ready(function () {
        //event na promenu kategorije
        $("#category").on('change', function () {
            sendAjaxRequest();
        });
        clearDuplicates();
        //okidanje event-a za dropdown kategorije
        $("#category").trigger('change');

        //aktivacija dropdown menija
        $('#multiple-checkboxes').selectpicker();
        $('#category').selectpicker();
        $('#subcategory').selectpicker();

        $('#price-discounted').prop('disabled', 'disabled');
        if ($("#sale").is(":checked")) {
            $('#price-discounted').prop('disabled', false);
        } else {
            $('#price-discounted').empty();
        }

        $('#dimension').select2({
            tags: true,
            allowClear: true,
            placeholder: "Unesite dimenzije"
        });

        $('#price').select2({
            tags: true,
            allowClear: true,
            placeholder: "Unesite cene"
        });

        $('#price-discounted').select2({
            tags: true,
            placeholder: "Unesite akcijske cene"
        });

        $('#sale').on('change', function () {
            if ($("#sale").is(":checked")) {
                $('#price-discounted').prop('disabled', false);
            } else {
                $('#price-discounted').prop('disabled', 'disabled');
                $('#price-discounted').empty();
            }
        });

        //validacija forme za unos proizvoda
        $('form').bootstrapValidator({
            excluded: [':disabled', ':hidden', ':not(:visible)'],

            feedbackIcons: {
                valid: 'fa fa-check',
                invalid: 'fa fa-times',
                validating: 'fa fa-refresh'
            },
            fields: {
                code: {
                    validators: {
                        remote: {
                            url: '/product/checkCode',
                            type: 'GET',
                            message: "Sifra proizvoda vec postoji"
                        },
                        notEmpty: {
                            message: 'Sifra proizvoda nije uneta'
                        },
                        integer: {
                            message: 'Morate uneti broj'
                        }
                    }
                },
                name: {
                    validators: {
                        notEmpty: {
                            message: 'Naziv proizoda nije unet'
                        }
                    }
                },
                sizes: {
                    validators: {
                        notEmpty: {
                            message: 'Veličina nije uneta'
                        }
                    }
                },
                prices: {
                    validators: {
                        notEmpty: {
                            message: 'Cena nije uneta'
                        }
                    }
                },
                // discounted_prices: {
                //     validators: {
                //         notEmpty: {
                //             message: 'Akcijska cena nije uneta'
                //         }
                //     }
                // },
                imgData: {
                    validators: {
                        notEmpty: {
                            message: 'Slike nisu unete'
                        }
                    }
                },
                selectedColors: {
                    validators: {
                        notEmpty: {
                            message: 'Boje nisu unete'
                        }
                    }
                },
                description: {
                    validators: {
                        notEmpty: {
                            message: 'Opis proizvoda nije unet'
                        },
                        stringLength: {
                            min: 5,
                            message: 'Opis proizvoda mora imati najmanje 15 karaktera'
                        }
                    }
                }
            }
        });
    });

    //slanje ajax zahteva za ucitavanje podkategorija
    function sendAjaxRequest() {
        /*<![CDATA[*/
        var subcategoryId = /*[[${subcategoryId}]]*/ 'SearchParam';
        /*]]>*/

        var category = $("#category").val();
        $.get("/administration/sub_categories?category=" + category, function (data) {
            $("#subcategory").empty();
            data.forEach(function (item) {
                $('#subcategory').append($("<option></option>").attr("value", item.id).text(item.name));
            });
            if (subcategoryId != null) {
                $('#subcategory').val(subcategoryId);
            }
            $('#subcategory').selectpicker('refresh');
        });
    }

    $('form').on("submit", function (event) {
        var edit = $('#edit').val();
        var dimensions = $('#dimension :selected').length;
        var prices = $('#price :selected').length;
        var discounted_prices = $('#price-discounted :selected').length;
        if (dimensions !== prices) {
            event.preventDefault();
            bootbox.alert({
                message: "Odnos veličina i cena mora biti isti!",
                callback: function () {
                    window.location.reload();
                }
            });
        }
        if ($('#sale').is(":checked")) {
            if (prices !== discounted_prices) {
                event.preventDefault();
                bootbox.alert({
                    message: "Odnos regularnih cena i cena na akciji mora biti isti!",
                    callback: function () {
                        window.location.reload();

                    }
                });
            }
        }
        if (edit) {
            $("#fileUpload").removeAttribute('required');
        }
    });

    //automatsko zatvaranje bootrstap popup-a
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 5000);

    function showWarningDialog(msg) {
        bootbox.dialog({
            title: 'Upozorenje!',
            message: 'Da li želite da obrišete porudžbinu?',
            size: 'medium',
            onEscape: false,
            buttons: {
                ok: {
                    label: "Potvrdi",
                    className: 'btn-success',
                    callback: function () {
                        window.location = '/administration/delete_order/' + orderID;
                    }
                },
                cancel: {
                    label: "Odustani",
                    className: 'btn-danger',
                    callback: function () {
                    }
                }
            }
        });
    }

    function clearDuplicates() {
        var a = [];
        $("#dimension").children("option").each(function (x) {
            test = false;
            b = a[x] = $(this).val();
            for (i = 0; i < a.length - 1; i++) {
                if (b == a[i]) test = true;
            }
            if (test) $(this).remove();
        });

        var c = [];
        $("#price").children("option").each(function (x) {
            test = false;
            b = c[x] = $(this).val();
            for (i = 0; i < c.length - 1; i++) {
                if (b == c[i]) test = true;
            }
            if (test) $(this).remove();
        });
    }

</script>
</body>
</html>