<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/adminLayoutHeader :: adminLayoutHeader">
</head>
<body>
<div class="row" id="body-row">
    <div th:replace="admin/adminLayoutBody :: adminLayoutBody">

    </div>
    <!-- MAIN -->
    <div class="col py-3">
        <h1>
            Edit Product
        </h1>

        <form enctype="multipart/form-data" method="POST" role="form"
              th:action="@{/admin/product/edit/{id}(id=${productForm.id})}" th:object="${productForm}">
            <div class="form-group">
                <label>Id: </label>
                <input class="form-control" th:field="${productForm.id}" type="hidden"/>
                <label>Name: </label>
                <input class="form-control" th:field="${productForm.name}" type="text"/>
                <label>Price: </label>
                <input class="form-control" th:field="${productForm.price}" type="text"/>
                <label>Description: </label>
                <input class="form-control"
                       th:field="${productForm.description}" type="text"/>
                <div th:if="${productForm.imageFileUrl}">
                    <img id="product-image" th:src="${productForm.imageFileUrl}">
                </div>
                <input accept="image/*" name="file" type="file"/>
                <button class="btn btn-success" type="submit">Edit Product</button>
            </div>
        </form>
        <div>
            <a class="btn btn-outline-primary" th:href="@{/admin/product/}" type="button">Cancel</a>
        </div>

    </div>
</div>

</body>
</html>