
/*=============================================
=            06. Banner            =
=============================================*/



/*----------  background banner style  ----------*/

.banner-bg-1{
    background-image: url('../images/banners/banner4.jpg');
}

.banner-bg-2{
    background-image: url('../images/banners/banner5.jpg');
}

.banner-bg-3{
    background-image: url('../images/banners/banner6.jpg');
}

.banner-bg-4{
    background-image: url('../images/banners/banner19.jpg');
}

.banner-bg-5{
    background-image: url('../images/banners/banner20.jpg');
}

.banner-bg-6{
    background-image: url('../images/banners/banner21.jpg');
}


.banner-bg-7{
    background-image: url('../images/banners/banner22.jpg');
}


.banner-bg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.home-one-banner{
    position: relative;
    z-index: 1;
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #000000;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        @media #{$tablet-device}{
            visibility: visible;
            opacity: 0.5;
        }
        @media #{$large-mobile}{
            visibility: visible;
            opacity: 0.5;
        }
    }
    .banner-text{
        padding: 30px 60px;
        z-index: 2;

        @media #{$extra-small-mobile}{
            padding-left: 20px;
        }
        
        p{
            font-size: 16px;
            font-weight: 400;
            color: $heading-text-color;
            margin-bottom: 5px;

            &:last-child{
                margin-bottom: 0;
            }
            
            @media #{$tablet-device}{
                color: #fff;
            }
            
            @media #{$large-mobile}{
                color: #fff;
            }

            &.big-text{
                font-size: 28px;
                font-weight: 400;
                margin-bottom: 20px;

                @media #{$extra-small-mobile}{
                    font-size: 20px;
                }
            }
        }
    }
}


.home-four-banner{

    position: relative;
    z-index: 1;
    @media #{$small-mobile}{
        background-position-x: 20%;
    }
    &:after{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: #000000;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        @media #{$tablet-device}{
            //visibility: visible;
            //opacity: 0.5;
        }
        @media #{$large-mobile}{
            //visibility: visible;
            //opacity: 0.5;
        }
    }
    .banner-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
        padding-left: 50px;

        @media #{$tablet-device}{
            padding: 50px 30px;
        }

        @media #{$large-mobile}{
            padding: 50px 30px;
        }

        @media #{$extra-small-mobile}{
            padding-left: 20px;
        }

        .separator-image{
            margin-bottom: 20px;

            @media #{$tablet-device}{
                margin-bottom: 10px;
            }

            @media #{$large-mobile}{
                margin-bottom: 10px;
            }
            img{
                width: auto;
            }
        }
        
        p{
            font-size: 16px;
            font-weight: 400;
            color: $heading-text-color;
            margin-bottom: 5px;

            &:last-child{
                margin-bottom: 0;
            }
            
            @media #{$tablet-device}{
                //color: #fff;
            }
            
            @media #{$large-mobile}{
                //color: #fff;
            }

            &.big-text{
                font-size: 28px;
                font-weight: 400;
                margin-bottom: 5px;



                @media #{$extra-small-mobile}{
                    font-size: 20px;
                }
            }
        }
    }
}


/*----------  three column banner  ----------*/

.banner-three-column{
    .single-banner{
        position: relative;
        .text-content{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 30px;

            h5{
                color: $heading-text-color;
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 0;

                @media #{$tablet-device}{
                    font-size: 13px;
                }
            }

            h3{
                color: $heading-text-color;
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 15px;

                @media #{$tablet-device}{
                    font-size: 15px;
                    margin-bottom: 10px;
                }
            }
            h4{
                color: $heading-text-color;
                font-weight: 400;
                font-size: 14px;
                margin-bottom: 0;

                @media #{$tablet-device}{
                    font-size: 13px;
                }
            }
        }
    }
}
/*----------  hover effect banner  ----------*/

.single-banner{
    a{
        display: block;
        overflow: hidden;
        position: relative;
        
        
        img{
            width: 100%;
            transform: scale(1);
            transition: 0.5s;
        }

        &:hover{
            img{
                transform: scale(1.1);
            }

            &:before{
                visibility: visible;
                opacity: 1;
            }
        }

        &:before{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            background-color: rgba(0,0,0,0.1);
            z-index: 1;
            visibility: hidden;
            opacity: 0;
            transition: 0.3s;
        }
    }
}


/*----------  slider banner  ----------*/

.slider-banner{

    &.slider-border{
        border-top: 1px solid #ebebeb;
    }
    img{
        width: 100%;
    }
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}



/*----------  tab banner  ----------*/

.tab-banner{
    img{
        width: 100%;
    }
    border-left: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;

    @media #{$large-mobile}{
        border-right: 1px solid #ebebeb;
    }
}



/*----------  banner text area  ----------*/

.banner-text-area{
    .single-banner{
        border-radius: 5px;
        position: relative; 

        .text{
            position: absolute;
            left: 0; 
            top: 40px;
            color: #fff;
            width: 100%;
            padding-left: 20px;

            @media #{$large-mobile}{
                top: 50%;
                transform: translateY(-50%);
            }

            h5{
                color: #fff;
                font-size: 1.714em;
                font-weight: 400;
                margin-bottom: 1.2em;
                line-height: 1;

                @media #{$desktop-device}{
                    line-height: 1.2;
                }

                @media #{$extra-small-mobile}{
                    font-size: 18px; 
                }
                &:after{
                    content: "";
                    border-bottom: 2px solid #fff;
                    display: block;
                    width: 40px;
                    margin-top: 1em;
                }
            }
        }

        &.center-text{
            text-align: center;
            .text{
                left: 50%;
                transform: translateX(-50%);
                padding-left: 0;

                @media #{$large-mobile}{
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                }

                @media #{$extra-small-mobile}{
                }
                h5{
                    position: relative;
                    padding-bottom: 25px;  
                    &:after{
                        position: absolute;
                        display: inline-block;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
       
    }
}
/*=====  End of 06. Banner  ======*/

