/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/

/*-- Google Font --*/
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i');

/*-- Common Style --*/
*, *::after, *::before {
  box-sizing: border-box;
}
html, body {
    height: 100%;
}

body{
    background-color: $body-bg-color;
    line-height: $body-line-height;
    font-size: $body-font-size;
    font-style: normal;
    font-weight: $body-font-weight;
    visibility: visible;
    font-family: $font-family-name;
    color: $body-text-color;
    position: relative;
    overflow-x: hidden;
    padding-top: 227px;  

    &.home-three{
        padding-top: 0;
    }

    &.grey-bg{
        background-color: #f8f8f8;
    }
    @media #{$desktop-device}{
        padding-top: 213px; 
    }

    @media #{$tablet-device}{
        padding-top: 0;
    }

    @media #{$large-mobile}{
        padding-top: 0;
    }    

}

h1, h2, h3, h4, h5, h6 {
    color: $heading-text-color;
    font-family: $heading-font-family-name;
    font-weight: $heading-font-weight;
    margin-top: 0;
}

h1 {
    font-size: 36px;
    line-height: 42px;
}

h2 {
    font-size: 30px;
    line-height: 36px;
}
h3 {
    font-size: 24px;
    line-height: 30px;
}
h4 {
    font-size: 18px;
    line-height: 24px;
}
h5 {
    font-size: 14px;
    line-height: 18px;
}
h6 {
    font-size: 12px;
    line-height: 14px;
}
p:last-child {
    margin-bottom: 0;
}
a, button {
    color: inherit;
    display: inline-block;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}
a, button, img, input, span {
    transition: all 0.3s ease 0s;
}
*:focus {
    outline: none !important;
}
a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: $hover-color;
}
button, input[type="submit"] {
    cursor: pointer;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}




/*-- 
    - Input Placeholder
-----------------------------------------*/
input:-moz-placeholder, textarea:-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}


/*-- Tab Content & Pane Fix --*/
.tab-content {
    width: 100%;
    & .tab-pane {
        display: block;
        height: 0;
        max-width: 100%;
        visibility: hidden;
        overflow: hidden;
        opacity: 0;
        &.active {
            height: auto;
            visibility: visible;
            opacity: 1;
            overflow: visible;
        }
    }
}

/*----------  Hide and show element  ----------*/

.hidden{
    display: none;
}

.show{
    display: block;
}




/*----------  container fix  ----------*/

@media(min-width: 1200px){
    .container{
        max-width: 1200px;
    }
}


/*----------  scroll to top  ----------*/

a.scroll-top {
    background: $theme-color;
    width: 45px;
    height: 45px; 
    display: none;
    text-align: center;
    color: #fff;
    font-family: 'FontAwesome';
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 50000;
    border-radius: 50%;
    border: 2px solid #ddd;

    &:after {
      content: "\f106"; 
      display: inline;
      font-size: 20px;
      line-height: 40px; 
    } 

    &:hover{
      background-color: $hover-color;
      color: #ffffff;
      border: 2px solid $hover-color;
    }

  }



  
  /*----------  section title  ----------*/
  
  .section-title{
      border: 1px solid #ebebeb;
      border-bottom: none;

      h2{
          margin-bottom: 0;
          font-size: 14px;
          font-weight: 700;
          color: $heading-text-color;
          padding: 10px 15px;
      } 
  }

  
  /*----------  section title two  ----------*/
  
  .section-title-two{
      h3{
          font-size: 24px;
          font-weight: 700;
          line-height: 26px; 
          color: $heading-text-color;

          @media #{$large-mobile}{
            font-size: 20px;
            line-height: 24px;
          }
      }
  }


  
  /*----------  section background one  ----------*/
  
  .section-bg-1{
      background-image: url('../images/backgrounds/bg1.jpg');
      background-position: center center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
  }

   /*----------  Quantity counter style  ----------*/

.pro-qty {
    display: inline-block;
    position: relative;
    width: 100px;
    border: 1px solid #ddd;
    height: 40px;

    input {
        padding-right: 25px;
        width: 100%;
        border: none;
        height: 100%;
        padding-left: 20px;
    }

    a {
        width: 20px;
        height: 20px;
        position: absolute;
        font-weight: normal;
        line-height: 20px;
        text-align: center;
        font-size: 18px;

        &:hover{
            color: $hover-color;
        }

        &.inc {
            top: 0;
            right: 0;
            border-left: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            
        }

        &.dec {
            bottom: 0;
            right: 0;
            border-left: 1px solid #ddd;
            padding-top: 2px;
        }
    }
}


/*----------  breadcrumb-area  ----------*/

.breadcrumb-area{
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 50px;
    .breadcrumb-container{
        nav{
            ul{
                li{
                    display: inline-block;
                    margin-right: 15px;
                    color: #91959b;
                    &.parent-page{
                        a{
                            position: relative;
                            &:after{
                                position: absolute;
                                top: 0;
                                right: -10px;
                                content: "\f105";
                                font-family: fontAwesome;
                                color: #91959b;
                            }
                        }
                    }
                    a{
                        color: #91959b;
                        &:hover{
                            color: $hover-color;
                        }
                    }
                }
            }
        }
    }
}


/*----------  shop feature area  ----------*/

.shop-feature-area{
    .header-feature-container{
        border: 1px solid #ebebeb; 
        @media #{$large-mobile}{
            display: block;
            border: none;
        }
        @media #{$small-mobile}{
            display: block;
            border: none;
        }
        @media #{$extra-small-mobile}{
            display: block;
            border: none;
        }
        
        .single-feature{
            padding: 20px 0; 
            border-right: 1px solid #ebebeb;
            justify-content: center;

            &:last-child{
                @media #{$large-mobile}{
                    border-bottom: 1px solid #ebebeb !important;
                }
                @media #{$small-mobile}{
                    border-bottom: 1px solid #ebebeb !important;
                }
            }

            @media #{$large-mobile}{
                justify-content: start;
                border: 1px solid #ebebeb !important;
                padding-left: 20px;
                border-bottom: none !important;
            }
            @media #{$small-mobile}{
                justify-content: start;
                border: 1px solid #ebebeb !important;
                padding-left: 20px;
                margin-bottom: 0;
                width: 100%;
                border-bottom: none !important;
            }
            @media #{$extra-small-mobile}{
                justify-content: start;
                border: 1px solid #ebebeb !important;
                padding-left: 20px;
            }

            @media #{$tablet-device}{
                flex-basis: 50%;
                &:nth-child(2){
                    border-right: 0;
                }
            }

            .image{
                i.icon{
                    color: #7A7A7A;
                }
            }

            .content{
                flex-basis: auto;
            }

            &:last-child{
                border-right: none;
            }
        }
    }
}


/*----------  pagination  ----------*/

.pagination-area{
    border: 1px solid #ebebeb;
    padding: 15px 25px;

    ul{
        text-align: center;
        li{
            display: inline-block;
            margin-right: 5px;
            a{
                background: #f1f1f1;
                border-radius: 3px;
                color: #7a7a7a;
                display: block;
                padding: 0;
                font-size: 1em;
                font-weight: normal;
                text-align: center;
                text-transform: uppercase;
                line-height: 32px;
                height: 32px;
                width: 32px;

                &:hover, &.active{
                    background-color: $hover-color;
                    color: $white;
                }

            }
        }
    }
}

.white-bg{
    background-color: #ffffff;
}

.featured-categories-area{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}