
/*=============================================
=           21. Footer            =
=============================================*/

.footer-container{
    background-color: #f9f9fb;
    border-top: 1px solid #ebebeb;
}

.footer-copyright{
    border-top: 1px solid #ebebeb;
}


/*----------  address block  ----------*/


.address-block{
    .image{
        a{
            display: block;
        }
        margin-bottom: 20px;
    }

    .address-text{
        margin-bottom: 15px; 
        ul{
            li{
                line-height: 30px;
            }
        }
    }
}


/*----------  social links  ----------*/


.social-links{
    ul{
        li{
            display: inline-block;
            margin-right: 10px;

            &:last-child{
                margin-right: 0;
            }
            a{
                position: relative;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #ebebeb;
                color: #b2b2b1;
                text-align: center;

                &.twitter{
                    &:hover{
                        i.fa{
                            color: $twitter;
                        }
                    }
                }
                &.facebook{
                    &:hover{
                        i.fa{
                            color: $facebook;
                        }
                    }
                }
                &.behance{
                    &:hover{
                        i.fa{
                            color: $behance;
                        }
                    }
                }
                &.pinterest{
                    &:hover{
                        i.fa{
                            color: $pinterest;
                        }
                    }
                }
                &.rss{
                    &:hover{
                        i.fa{
                            color: $rss;
                        }
                    }
                }

                i.fa{
                    font-size: 18px;
                    line-height: 40px;
                }

                &:before {
                    content: attr(data-tooltip);
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    margin-bottom: 12px;
                    transform: translateX(-50%);
                    font-size: 12px; 
                    font-weight: 400;
                    background-color: #444444;
                    color: #ffffff;
                    line-height: 16px;
                    padding: 5px 10px;
                    border-radius: 2px;
                    white-space: nowrap;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s;
                }
        
                &:after{
                    position: absolute;
                    left: 50%;
                    bottom: 100%;
                    margin-bottom: 8px;
                    margin-left: -4px;
                    content: "";
                    border-width: 4px 4px 0 4px;
                    border-style: solid;
                    border-color: #444444 transparent transparent transparent;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s;
                } 
        
                &:hover{
                    &:before, &:after{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
}


/*----------  widget block  ----------*/

.widget-block{
    .footer-widget-title{
        @include font-property(14px, 19px, 700, $heading-text-color);
        margin-bottom: 20px; 
        margin-top: 30px; 
    }

    p{
        line-height: 30px;

    }

    ul{
        li{
            line-height: 30px;
            a{
                font-weight: 400;
            }
        }
    }
}


/*----------  newsletter form    ----------*/

.newsletter-form{
    input{
        background: none;
        border: none;
        width: 100%;
        border-bottom: 1px solid #ebebeb;
        color: #ababab;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    button{

        @include fl-button;
        border: 1px solid $theme-color;
        background-color: $theme-color;
        color: $white;
        text-transform: uppercase;


        &:hover{
            @include fl-button-hover($heading-text-color);
            border: 1px solid $heading-text-color;
        }
    }

}

/*=====  End of 21. Footer  ======*/

