
/*=============================================
=           03.  Header            =
=============================================*/


/*----------  sticky style  ----------*/



.header-container{

    /*----------  home three header style  ----------*/
    
    &.home-three-header{
        @media #{$tablet-device}{
            background-color: #222222; 
        }
    
        @media #{$large-mobile}{
            background-color: #222222; 
        }

        .logo{
            @media #{$small-mobile}{ 
                text-align: center;
                margin-bottom: 30px; 
            }
        }

        &.is-sticky{
            background-color: rgba(0,0,0,0.7);
            
            &:hover{
                background-color: rgba(0,0,0,0.7);
            }

            padding-top: 20px !important;
            padding-bottom: 20px !important;
        }

        .container-fluid{
            padding-left: 75px !important;
            padding-right: 75px !important;

            @media #{$laptop-device}{
                padding-left: 15px !important;
                padding-right: 15px !important;
            }

            @media #{$desktop-device}{
                padding-left: 30px !important;
                padding-right: 30px !important;
            }

            @media #{$tablet-device}{
                padding-left: 30px !important;
                padding-right: 30px !important;
            }

            @media #{$large-mobile}{
                padding-left: 30px !important;
                padding-right: 30px !important;
            }
        }

        .main-menu {
            & nav {
                &>ul {
                    &>li {
                        &>.sub-menu{
                            left: -10px;
                        }
                        @media #{$desktop-device}{
                            margin-right: 15px;
                        }
                        &>a{
                            color: $white;

                            &:hover{
                                color: $hover-color;
                            }
                        }
                    }
                }
            }
        }

        .mega-menu.three-column{
            left: -20px;  
        }

        .mobile-menu{
            .meanmenu-reveal{
                top: -40px; 
                span{ 
                    &.mean-menu-text{
                        color: $white;

                    }

                    &.menu-bar{
                        background-color: $white;

                        &:before{
                            background-color: $white;
                        }

                        &:after{
                            background-color: $white;
                        }

                    }

                    &.menu-close{
                        &:before{
                            background-color: $white;
                        }

                        &:after{
                            background-color: $white;
                        }
                    }
                    
                }
                
            }

            .mean-nav{
                margin-top: 15px; 

                ul{
                    margin-bottom: 0;
                }
            }
        }

        .cart-floating-box{
            @media #{$laptop-device}{
                right: 0;
            }
            @media #{$desktop-device}{
                right: 0;
            }
            @media #{$tablet-device}{
                left: auto;
                right: -150px;
            }

            @media #{$small-mobile}{
                left: 0;
            }

            @media #{$extra-small-mobile}{
                left: -60px;
            }
        }

        
    }

    
    /*----------  home 4 header style  ----------*/
    
    &.header-container-home-4{
        &.is-sticky{
            .navigation-menu{
                .sticky-logo{
                    position: absolute;
                    top: 0;
                    left: 15px;
                    padding: 0;
                    padding-top: 5px;
                } 

                .main-menu{
                    transform: translateX(50%);

                    nav{
                        &>ul{
                            &>li{
                                &>a{
                                    line-height: 65px;
                                }
                            }
                        }
                    }
                }
            }

            .navigation-search{
                transform: translateX(73%);
            }
        }
    }
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    @media #{$tablet-device}{
        position: relative;
    }
    @media #{$large-mobile}{
        position: relative;
    }
    &.is-sticky{
        animation: 700ms ease-in-out 0s normal none 1 running fadeInDown;
        box-shadow: 0 1px 3px rgba(0,0,0,0.11);
        background: rgba(255,255,255,0.9);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 999;
        transition: 0.3s;

        &:hover{
            background-color: #ffffff;
        }

        .navigation-menu{
            border-bottom: 0;
            .main-menu{
                nav{
                    &>ul{
                        &>li{
                            &>a{
                                line-height: 54px; 
                            }
                        }
                    }
                }
            }

            .hero-side-category{
                display: none;
            }

            .sticky-logo{
                display: block;
                padding: 10px 0;
            }
        }
    }
}


/*----------  header top  ----------*/

.header-top {
    @include font-property(12px, 16px, 400, #2c2c2c);
    border-bottom: 1px solid #ededed;

    .header-top-text{
        p{
            i{
                font-size: 18px;
            }

            span{
                @media #{$extra-small-mobile}{
                    display: block;
                    margin-top: 5px;
                }
            }
        }
    }
}

.header-top-dropdown {

    span.separator {
        font-weight: 300;
        color: #ebebeb; 
    }

    .single-dropdown {
        position: relative;

        a {
            &:hover {
                color: $hover-color;
            }

            span{
                i.fa{
                    color: #d7d7d7;
                }
            }
        }

        .language-currency-list {
            padding: 5px 15px;
            border: none;
            text-align: center;
            position: absolute;
            top: 32px;
            left: auto;
            right: 0;
            min-width: 120px;
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            background-color: $white;
            z-index: 10;
            border-radius: 3px;

            @media #{$extra-small-mobile} {
                left: auto;
                right: -10px;
                min-width: 95px;
            }

            ul {
                li {
                    padding: 10px 0;
                    border-bottom: 1px solid #ebebeb;

                    a {
                        color: #7a7a7a; 
                        @include transition(0.2s); 
                        &:hover {
                            color: $hover-color;
                        }
                    }


                    &:last-child{
                        border-bottom: none;
                    }
                }
            }
        }
    }
}



/*----------  navigation menu top  ----------*/

.navigation-menu-top{
    border-bottom: 1px solid #ededed; 

    &.navigation-menu-top-home-4{
        .header-feature-container{
            transform: translateX(25%);
            margin-right: -15px;

            @media #{$tablet-device}{
                transform: none;
            }
        }
    }
}

/*----------  header feature container  ----------*/

.header-feature-container{
    display: flex;
    justify-content: flex-end; 

    @media #{$desktop-device}{
        justify-content: space-between;
    }

    @media #{$tablet-device}{
        flex-wrap: wrap;
        justify-content: space-between; 
    }
    @media #{$large-mobile}{
        flex-wrap: nowrap;  
        justify-content: space-between;
        display: none; 
    }
    @media #{$small-mobile}{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
  
    
}

/*----------  single feature  ----------*/

.single-feature{ 
    align-items: center;
    margin-right: 10px;
    flex-basis: 31%;
    
    @media #{$tablet-device}{
        margin-right: 0; 
        flex-basis: 33%;
    }
    @media #{$large-mobile}{
        margin-right: 0; 
        flex-basis: 33%;

    }

    @media #{$small-mobile}{
        margin-bottom: 15px;
        width: 60%;
    }
    @media #{$extra-small-mobile}{
        width: 80%;
    }

     
    
    .image{
        flex-basis: 50px;
        height: 50px;
        border: 2px solid #ebebeb;
        text-align: center;
        border-radius: 50%;
        margin-right: 5px;
        i{
            font-size: 21px;
            line-height: 50px;
            color: #2c2c2c;
            
        }
    }

    .content{
        flex-basis: calc(100% - 50px); 
        h5{
            @include font-property(12px, 16px, 500, #363f4d);
            margin-bottom: 0;
        }
        p{
            @include font-property(13px, 17px, 400, #91959b);
        }
    }
}

/*----------  minicart section  ----------*/

.minicart-section{ 

    &.minicart-section-home-4{

        
        position: absolute;
        top: 63px;
        left: 65px;

        @media #{$desktop-device}{
            left: 30px; 
        }

        @media #{$tablet-device}{
            position: relative;
            left: 0;
            top: 0;
        
        }

        @media #{$large-mobile}{
            position: relative;
            left: 0;
            top: 0;
        
        }

        &>a{
            @media #{$desktop-device}{
                padding-left: 50px;
            }
        }

        span{
            &.image{
                border: none;

                @media #{$large-mobile}{
                    border: 2px solid #ebebeb;
                }
                @media #{$tablet-device}{
                    border: 2px solid #ebebeb;
                }
            }
        }
    }
    
    &>a{
        display: block;
        position: relative;
        padding-left: 55px;
        padding-top: 5px;
        float: right; 

        h5{
            @include font-property(14px, 25px, 500, $theme-color);
            margin-bottom: 0;
        }

        p{
            @include font-property(13px, 16px, 400,  #838b98);
        }
    }

    span{
        &.image{
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 50px;
            border: 2px solid #ebebeb;
            text-align: center;
            border-radius: 50%;
            margin-right: 5px;

            i{
                font-size: 21px;
                line-height: 50px;
                color: #2c2c2c;
            }

        }
    }
    
}

/*----------  Cart floating box  ----------*/

.cart-floating-box {

    &.cart-floating-box-home-4{
        top: 55px;
        @media #{$desktop-device}{
            top: 55px;
        }
        right: 0;
    }
    position: absolute;
    top: 60px;
    z-index: 999999;
    right: 0;
    width: 360px;
    background-color: #ffffff;
    padding: 20px;
    padding-bottom: 35px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,0.15);
    border-radius: 3px;

    @media #{$laptop-device}{
        right: 10px;
    }

    @media #{$tablet-device}{
        left: 0;
        top: 60px; 
    } 

    @media #{$large-mobile} {
        right: 0;
    }
    @media #{$small-mobile} {
        right: 10px;
        left: auto; 
    }

    @media #{$extra-small-mobile} {
        width: 300px;
        left: auto;
        right: 10px;;
    } 


    .cart-items { 
        margin-bottom: 20px;
    }

    .cart-float-single-item {
        position: relative;
        border-bottom: 1px solid #ebebeb;
        padding: 15px 0; 
 

        span.remove-item {
            a{
                background-color: #eaeaea;
                color: #2c2c2c;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                line-height: 20px;
                text-align: center;
                &:hover{
                    color: $white;
                    background-color: $hover-color;
                }
            }
            position: absolute;
            top: 15px;;
            right: -5px;
            font-size: 15px;  
        }

        .cart-float-single-item-image {
            width: 150px;

            margin-right: 10px;

            a {
                display: inline-block;
                border: 1px solid #ddd;
                transition: 0.3s;

                &:hover {
                    border: 1px solid $theme-color;
                }

            }
        }

        .cart-float-single-item-desc {

            flex-basis: 100%;

            @media #{$extra-small-mobile} {
                padding-right: 10px;
            }

            p {
                margin-bottom: 5px;

                &.price{
                    font-size: 16px;
                    font-weight: 500;
                    color: $theme-color;
                }

                &.product-title {
                    a {
                        font-weight: 400;
                        color: #2c2c2c;
                        font-size: 14px;
                        line-height: 25px;
    
                        &:hover {
                            color: $hover-color;
                        }
                    }
                }
            }

            
        }
    }

    .cart-calculation {
        .calculation-details {
 
            margin-bottom: 20px;
            p {
                font-weight: 600;
                text-transform: uppercase;
                color: #2c2c2c;
                font-size: 18px;
                line-height: 20px;

                span {
                    float: right;
                }
            }

        }

        
    }

    .floating-cart-btn{
        a{
            &.fl-btn{
                @include fl-button;
                text-transform: uppercase;
                font-weight: 600;

                &:hover{
                    @include fl-button-hover;
                }
            }
        }
    }

}


/*----------  Navigation menu  ----------*/

.navigation-menu{

    &.navigation-menu-home-4{

        .sub-menu{
            left: 0;
        }

        .mega-menu{

            &.three-column{
                left: -115px;
            }
        }
        


        .main-menu{
            &>ul{
                &>li{
                    &>a{
                        @media #{$desktop-device}{
                            line-height: 55px;
                        }
                    }
                }
            }
        }

        .navigation-search{
            border-right: 1px solid #ebebeb;
            transform: translateX(25%);
        }

        .mobile-menu{
            .mean-bar{
                .meanmenu-reveal{
                    left: 0 !important;
                    width: 100px;

                    .mean-menu-text{
                        left: 35px;
                    }
                }
            }
        }
    }

    border-bottom: 1px solid #ededed;
    @media #{$tablet-device}{
        //border-bottom: none;
    }
    @media #{$large-mobile}{
        //border-bottom: none;
    }
}


/*----------  sticky logo  ----------*/


.sticky-logo{
    display: none;
}



/*----------  main menu  ----------*/


.main-menu {
    & nav {
        &>ul {
            &>li {
                display: inline-block;
                margin-right: 40px;
                position: relative;

                // Child Selector
                &:last-child {
                    margin-right: 0;
                }

                // Responsive
                @media #{$desktop-device} {
                    margin-right: 30px;
                }

                &>a {
                    display: block;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 500;
                    color: #363f4d;
                    line-height: 54px; 

                    @media #{$desktop-device}{
                        line-height: 40px; 
                    }
                }

                &.menu-item-has-children {
                    &>a {
                        &::after {
                            font-family: Fontawesome;
                            content: "\f107";
                            margin-left: 5px;
                            float: right;
                        }
                    }
                }

                // Hover & Active
                &.active,
                &:hover {
                    &>a {
                        color: $theme-color;
                        position: relative; 
                    }
                }

                &:hover {

                    &>.sub-menu,
                    &>.mega-menu {
                        transform: perspective(600px) rotateX(0deg);

                        @media #{$tablet-device} {
                            transform: none;
                        }

                        opacity: 1; 
                        visibility: visible;
                        margin-top: 0;
                        z-index: 999;
                    }
                }
            }
        }
    }


}

/* sub menu */

.sub-menu {
    position: absolute;
    left: -20px;
    top: 100%;
    background-color: $white;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: -999;
    width: 250px;
    padding: 15px 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
    transform: perspective(600px) rotateX(-90deg);

    @media #{$tablet-device} {
        transform: none;
    }

    @media #{$large-mobile} {
        transform: none;
    }

    @media #{$small-mobile} {
        transform: none;
    }

    @media #{$extra-small-mobile} {
        transform: none;
    }

    transform-origin: center top 0;

    & li {
        position: relative;

        & a {
            font-size: 13px;
            line-height: 24px;
            padding: 6px 20px;
            display: block;
            font-weight: 400;
            color: #7a7a7a;
            text-transform: capitalize;
        }

        &.menu-item-has-children {
            &>a {
                &::after {
                    font-family: Fontawesome;
                    content: "\f105";
                    margin-left: 5px;
                    float: right;
                }
            }
        }

        // Hover & Active
        &.active,
        &:hover {
            &>a {
                color: $theme-color;
                font-weight: 400; 
            }
        }

        &:hover {
            &>.sub-menu {
                transform: perspective(600px) rotateX(0deg);

                @media #{$tablet-device} {
                    transform: none;
                }

                @media #{$large-mobile} {
                    transform: none;
                }

                @media #{$small-mobile} {
                    transform: none;
                }

                @media #{$extra-small-mobile} {
                    transform: none;
                }

                transform-origin: center top 0;
                opacity: 1;
                visibility: visible;
                margin-top: 0;
                z-index: 999;
            }
        }
    }

    & .sub-menu {
        left: 100%;
        right: auto;
        top: 0;
        margin-top: 30px;
        transform: perspective(0) rotateX(0deg);

        @media #{$tablet-device} {
            transform: none;
        }

        @media #{$large-mobile} {
            transform: none;
        }

        @media #{$small-mobile} {
            transform: none;
        }

        @media #{$extra-small-mobile} {
            transform: none;
        }

        transform-origin: center top 0;

        & .sub-menu {
            left: auto;
            right: 100%;

            & .sub-menu {
                left: 100%;
                right: auto;
            }

            & .sub-menu {
                left: auto;
                right: 100%;
            }
        }
    }
}


/* mega menu */

.mega-menu {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: $white;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: -999;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;
    transform: perspective(600px) rotateX(-90deg);

    @media #{$tablet-device} {
        transform: none;
    }

    @media #{$large-mobile} {
        transform: none;
    }

    @media #{$small-mobile} {
        transform: none;
    }

    @media #{$extra-small-mobile} {
        transform: none;
    }

    transform-origin: center top 0;

    &.two-column {
        width: 440px;
        left: -20px;

        &>li {
            width: 50%;
            padding: 20px 15px;
        }
    }

    &.three-column {
        width: 700px;
        left: -300px;

        &>li {
            width: 33.33%;
            padding: 20px 15px;
        }
    }

    &>li {
        position: relative;
        float: left;

        &>a {
            font-size: 14px; 
            line-height: 24px;
            padding: 6px 20px;
            display: block;
            font-weight: 500; 
            color: #333333; 
            text-transform: capitalize;
        }

        // Hover & Active
        &.active,
        &:hover {
            &>a {
                color: $theme-color;
                font-weight: 500;
            }
        }

        & ul {
            & li {
                & a {
                    font-size: 13px;
                    line-height: 17px; 
                    padding: 6px 20px;
                    display: block;
                    font-weight: 400;
                    color: #7a7a7a;
                    text-transform: capitalize;
                }

                // Hover & Active
                &.active,
                &:hover {
                    &>a {
                        color: $theme-color;
                        font-weight: 400;
                    }
                }
            }
        }

        &.megamenu-banner{
            width: 100%;

            a{
                display: block;

                img{
                    width: 100%;
                    @media #{$tablet-device}{
                        display: none;
                    }
    
                    @media #{$large-mobile}{
                        display: none;
                    }
                }

            }
        }

    }
}


/* navigation search */

.navigation-search{
    position: relative;
    border-left: 1px solid #ebebeb;
    padding-left: 15px;
    padding-right: 25px;
    height: 30px; 

    input{
        background: none;
        border: none;
        width: 100%;
        height: 100%;
        font-size: 14px;
        line-height: 39px;
        color: #a4a4a4;
        font-weight: 400;

        
    }

    button{
        background: none; 
        border: none;
        position: absolute;
        top: 50%;
        right: 0;
        font-size: 24px; 
        margin-top: -10px;

        &:hover{
            color: $hover-color;
            font-weight: 400;
        }
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #a4a4a4;
        opacity: 1; /* Firefox */
        font-weight: 400;
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #a4a4a4;
        font-weight: 400;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #a4a4a4;
        font-weight: 400;
    }
}

/* Mobile Menu*/
.mobile-menu {
    & .mean-bar {
        position: relative;
        text-align: right;

        &:before{
            position: absolute;
            top: 0;  
            content: "MENU";
            left: 0;
            font-weight: 500;
            font-size: 16px; 
            color: #363f4d;
            display: none;

            @media #{$tablet-device}{
                left: 85%; 
                top: -40px;  
                width: 70px;
            }
            @media #{$large-mobile}{
                left: 80%;  
                top: -40px;  
                width: 70px;
            }
            @media #{$small-mobile}{
                left: 76%;  
                top: -40px;  
                width: 70px;
            }
            @media #{$extra-small-mobile}{
                left: 65%;  
                top: -40px;  
                width: 70px;
            }

        }
        

        & .meanmenu-reveal {
            position: absolute;
            top: -50px;

            

            @media #{$tablet-device} {
                top: -40px;   
            }

            @media #{$large-mobile} {
                top: -40px;
                z-index: 9;
            }

            & span {
                position: relative;

                /*---- Menu Open ----*/
                &.menu-bar {
                    height: 2px;
                    width: 26px;
                    background-color: $heading-text-color;
                    display: block;
                    margin: 8px 0;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $heading-text-color;
                    }

                    &::before {
                        top: -8px;
                    }

                    &::after {
                        bottom: -8px;
                    }
                }

                /*---- Menu Close ----*/
                &.menu-close {
                    height: 2px;
                    width: 26px;
                    background-color: transparent;
                    display: block;
                    margin: 8px 0;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: $heading-text-color;
                    }

                    &::before {
                        top: 0;
                        transform: rotate(45deg);
                    }

                    &::after {
                        bottom: 0;
                        transform: rotate(-45deg);
                    }
                }

                &.mean-menu-text{
                    position: absolute !important;
                    left: -50px;
                    top: -3px;
                    font-weight: 500;
                    font-size: 16px; 
                    color: #363f4d;

                }
            }
        }

        /*---- Mean Nav ----*/
        & .mean-nav {
            text-align: left;
            background-color: $white;
            margin-top: 50px; 

            @media #{$tablet-device}{
                margin-top: 0;
            }
            @media #{$large-mobile}{
                margin-top: 0;
            }

            &>ul {
                margin-bottom: 40px;
                border: 1px solid #eeeeee;
                border-top: 0px solid transparent;
                overflow-x: hidden;

                // Responsive
                @media #{$large-mobile} {
                    max-height: 180px;
                    overflow-y: auto;
                }

                @media #{$small-mobile} {
                    max-height: 220px;
                    overflow-y: auto;
                }

                & li {
                    position: relative;
                    display: block;
                    float: left;
                    width: 100%;

                    & a {
                        font-size: 13px;
                        display: block;
                        color: #363f4d;
                        font-weight: 400;
                        text-transform: uppercase;
                        line-height: 44px;
                        position: relative;
                        border-top: 1px solid #eeeeee;
                        padding: 0 40px 0 20px;

                        &::after {
                            display: none;
                        }

                        &:hover {
                            color: $heading-text-color;
                            padding-left: 25px;
                        }

                        /*---- Menu Expand For Sub Menu ----*/
                        &.mean-expand {
                            border: 1px solid #eeeeee;
                            position: absolute;
                            right: -1px;
                            top: 0;
                            font-size: 20px !important;
                            color: $body-text-color;
                            line-height: 44px;
                            height: 46px;
                            width: 40px;
                            text-align: center;
                            padding: 0;

                            &.mean-clicked {
                                line-height: 40px;
                            }
                        }
                    }

                    /*---- Sub Menu & Mega Menu ----*/
                    & .sub-menu,
                    .mega-menu,
                    ul {
                        position: static;
                        background-color: rgba(0, 0, 0, 0.03);
                        margin: 0;
                        padding: 0 !important;
                        width: 100%;
                        box-shadow: none;
                        display: none;
                        float: left;
                        opacity: 1;
                        visibility: visible;
                        z-index: 1;
                        transition: none;

                        & li {
                            padding: 0;
                            margin: 0;
                            flex: 0 0 100%;
                            border-right: 0px solid transparent;
                            width: 100%;
                            display: block !important;
                            float: left;

                            & a {
                                font-size: 12px;
                                display: block !important;

                                &::before {
                                    display: none;
                                }
                            }

                            & .sub-menu,
                            ul {
                                background-color: rgba(0, 0, 0, 0.04);

                                & li {
                                    & a {
                                        border-top: 1px solid #dddddd;

                                        &.mean-expand {
                                            border: 1px solid #dddddd;
                                        }
                                    }
                                }

                                & .sub-menu,
                                ul {
                                    background-color: rgba(0, 0, 0, 0.05);

                                    & li {
                                        & a {
                                            border-top: 1px solid #eeeeee;

                                            &.mean-expand {
                                                border: 1px solid #eeeeee;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }

}



/*----------  Category Menu  ----------*/

/*-- Category Toggle Wrap --*/
.category-toggle-wrap {
    width: 100%;   
    position: relative; 


    @media #{$tablet-device}{
        width: 50%;
    }
    @media #{$large-mobile}{
        width: 50%;
    }
    

    // Category Toggle
    & .category-toggle {
        
        padding: 17px 25px;   
        margin: 0;
        border: none;
        background-color: transparent;
        color: $white;
        font-size: 13px; 
        text-transform: capitalize;
        font-weight: 500; 
        line-height: 20px;
        width: 100%;
        text-align: left;
        border-left: 1px solid #ebebeb;
        border-right: 1px solid #ebebeb;

        @media #{$desktop-device}{
            font-size: 13px;
            padding: 10px 20px;
        }

        @media #{$tablet-device}{
            padding-left: 0;
            border-left: 0;
            border-right: 0;
        }
        // Responsive
        @media #{$large-mobile} {
            padding-left: 0;
            border-left: 0;
            border-right: 0; 
        }

        & i {
            font-size: 18px;
            margin-right: 5px;
            
            &.menu{

                margin-right: 5px;
                @media #{$desktop-device}{
                    margin-right: 0;
                    
                }
            }

            // Responsive
            @media #{$tablet-device} {
                font-size: 18px;
            }

            @media #{$large-mobile} {
                font-size: 18px;
            }
        }
    }
}

.hero-side-category {
    background-color: $white;
    width: 100%; 
    text-transform: capitalize; 
    position: relative;
    
    @media #{$large-mobile} {
        min-height: 50px;
    }

    // Responsive
    @media #{$tablet-device} {
        width: 100%;  
        position: relative;
    }

    @media #{$large-mobile} { 
        width: 100%;
        z-index: 9;
        position: relative;
        background-color: transparent;
    }


    & .category-toggle-wrap {
        background-color: $white; 
        

        &:hover{
           color: $theme-color;
        }

        & .category-toggle {
            color: #363f4d;
            & i {
                &::before {

                    // Responsive
                    @media #{$tablet-device} {
                        //content: "\e62a";
                    }

                    @media #{$large-mobile} {
                        //content: "\e62a";
                    }
                }

                // Responsive
                @media #{$tablet-device} {
                    font-size: 18px;
                }

                @media #{$large-mobile} {
                    font-size: 18px;
                }
            }
        }
    }

    & nav.category-menu {
        background-color: #ffffff;
        float: left;
        width: 100%;
        left: 0;
        top: 100%;  
        border: 1px solid #ebebeb;
        position: absolute;
        display: none;

        @media #{$desktop-device}{
            
        }

        // Responsive
        @media #{$tablet-device} {
            position: absolute; 
            top: 55px;
            z-index: 9;
        }

        @media #{$large-mobile} {
            position: absolute;
        }

        &>ul {

            // Responsive
            @media #{$large-mobile} {
                max-height: 180px;
                overflow-y: auto;
            }

            @media #{$small-mobile} {
                max-height: 220px;
                overflow-y: auto;
            }

            &>li {
                position: relative;                

                // Child Selector
                &:last-child {
                    &:before{
                        display: none;
                    }
                    &>a {
                        border-bottom: none !important;
                    }
                }

                // Responsive
                @media #{$tablet-device} {
                    position: relative;
                }

                @media #{$large-mobile} {
                    position: relative;
                }

                // Has Dropdown
                &.menu-item-has-children {
                    position: relative;

                    &>a {
                        &::before {
                            font-family: 'fontAwesome';
                            content: "\f054";
                            position: absolute;
                            right: 25px;
                            top: 0;
                            line-height: 50px;
                            font-size: 10px;

                            // Responsive
                            @media #{$tablet-device} {
                                display: none;
                            }

                            @media #{$large-mobile} {
                                display: none;
                            }
                        }
                    }
                }

                // Plus Icon For Tablet & Mobile Device
                & i {
                    position: absolute;
                    right: 0;
                    top: 0;
                    cursor: pointer;
                    height: 50px;
                    width: 40px;
                    line-height: 50px;
                    z-index: 9;

                    &::before {
                        background-color: #666b72;
                        width: 8px;
                        height: 2px;
                        content: "";
                        position: absolute;
                        left: 50%;
                        margin-left: -4px;
                        margin-top: -1px;
                        top: 50%;
                    }

                    &::after {
                        background-color: #666b72;
                        width: 2px;
                        height: 8px;
                        content: "";
                        position: absolute;
                        left: 50%;
                        margin-top: -4px;
                        margin-left: -1px;
                        top: 50%;
                        transition: all 0.3s ease 0s;
                        transform: scaleY(0);
                    }

                    &.expand {
                        &::after {
                            transform: scaleY(1);
                        }
                    }
                }

                &>a {
                    display: block;
                    padding: 10px 25px;
                    line-height: 30px;
                    font-size: 13px;
                    color: #666b72;
                    font-weight: 400;  
                    position: relative;
                    border-bottom: 1px solid #ebebeb;

                    @media #{$desktop-device}{
                        border-bottom: none;
                    }

                    // Hover
                    &:hover {
                        color: $theme-color;
                    }
                }

                &:hover {
                    & .category-mega-menu {
                        z-index: 9;
                        opacity: 1;
                        visibility: visible;
                    }

                    & .category-submenu{ 
                        z-index: 9;
                        opacity: 1;
                        visibility: visible;
                    }
                }

                & .banner {
                    padding: 15px;
                    max-width: 300px;
                }

            }
        }

        &.category-menu-5 {
            &>ul {
                &>li {
                    &>a {
                        padding: 12px 25px;
                    }
                }
            }
        }
    }

    & nav.shop-category-menu{
        background: none;
        display: block;
        ul{
            li{
                a{
                   padding: 5px 0;
                   display: block;
                   line-height: 30px;
                   font-size: 14px;
                   color: #606060;
                   font-weight: 500;
                   position: relative;
                   border-bottom: 1px solid #e8e8e8;
                    &:hover{
                        color: $hover-color;
                    }
                }
            }
        }
    } 

    &.shop-side-category{
        height: auto;
        min-height: 200px;
    }
}

/*-- Category Mega Menu --*/
.category-mega-menu {
    // position: absolute;
    // left: 253px;
    // top: 0;
    // width: 800px;
    // z-index: 999;
    // max-width: 910px;
    // display: flex;
    // flex-wrap: wrap;
    // background-color: #ffffff;
    // border: 1px solid #e5e5e5;
    // border-bottom: 2px solid $theme-color;

    position: absolute;
    left: 270px; 
    top: 0;
    background-color: $white;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1); 
    border-radius: 3px;
    z-index: 9;
    width: 250px;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease 0s;

    @media #{$desktop-device}{
        left: 210px; 

    }

    @media #{$tablet-device}{
        box-shadow: none;
    }
    // padding: 40px;
    // opacity: 0;
    // visibility: hidden;
    // transition: all 0.3s ease 0s;

    // Responsive
    @media #{$tablet-device} {
        position: static;
        z-index: 9;
        opacity: 1;
        visibility: visible;
        background-color: transparent;
        padding: 0;
        width: 100%;
        transition: none;
    }

    @media #{$large-mobile} {
        position: static;
        z-index: 9;
        opacity: 1;
        visibility: visible;
        background-color: transparent;
        padding: 0;
        width: 100%;
        transition: none;
    }

    &>li {
        // float: left;
        // width: 33.33%;
        // padding: 0 15px;

        border-bottom: 1px solid #ebebeb;

        a{
            padding: 10px 0;
            display: block;
            font-size: 13px;
        }

        &:first-child{
            a{
                padding-top: 0;
                @media #{$tablet-device}{
                    padding-top: 10px;
                }
                @media #{$large-mobile}{
                    padding-top: 10px;
                }
            }
        }

        &:last-child{
            border-bottom: 0;
            a{
                padding-bottom: 0;
                @media #{$tablet-device}{
                    padding-bottom: 10px;
                }
                @media #{$large-mobile}{
                    padding-bottom: 10px;
                }
            }
        }

        // Responsive
        @media #{$tablet-device} {
            flex: 1 0 100%;
            padding: 0;
            position: relative;

            // Before Selector
            &::before {
                content: "";
                float: left;
                height: 2px;
                width: 6px;
                background-color: #666b72;
                margin: 24px 0;
                position: relative;
                left: 25px;
            }
        }

        @media #{$large-mobile} {
            flex: 1 0 100%;
            padding: 0;
            position: relative;

            // Before Selector
            &::before {
                content: "";
                float: left;
                height: 2px;
                width: 6px;
                background-color: #666b72;
                margin: 24px 0;
                position: relative;
                left: 25px;
            }
        }

        &>a {
            // display: block;
            // font-size: 16px;
            // font-weight: 500; 
            // color: $theme-color;
            // text-transform: uppercase;

            &:hover{
                color: $hover-color;
            }
            
            @media #{$large-mobile}{
                border-bottom: 1px solid #e8e8e8;
            }

            @media #{$desktop-device}{
                border-bottom: none;
            }

            // Responsive
            @media #{$tablet-device} {
                padding: 10px 25px 10px 35px;
                line-height: 30px;
                font-size: 14px;
                color: #606060;
                font-weight: 400; 
                position: relative;
                margin: 0;
                text-transform: inherit;
            }

            @media #{$large-mobile} {
                padding: 10px 25px 10px 35px;
                line-height: 30px;
                font-size: 14px;
                color: #666b72;
                font-weight: 400;
                position: relative;
                margin: 0;
                text-transform: inherit;
            }

            // &.megamenu-head{
            //     font-size: 13px;
            //     font-weight: 500; 
            //     @media #{$tablet-device}{
            //         border-bottom: 1px solid #ddd;
            //     }
            //     @media #{$large-mobile}{
            //         border-bottom: 1px solid #ddd;
            //     }
            //     padding-bottom: 10px;
            // }

        border-bottom: 1px solid #ebebeb;

        a{
            padding: 10px 0;
            display: block;
            font-size: 13px;
        }

        &:first-child{
            a{
                padding-top: 0;
            }
        }

        &:last-child{
            border-bottom: 0;
            a{
                padding-bottom: 0;
                
            }
        }
        }

         

        &>ul {
            & li {
                // margin-bottom: 4px;

                // Responsive
                @media #{$tablet-device} {

                    // Before Selector
                    &::before {
                        content: "";
                        float: left;
                        height: 2px;
                        width: 6px;
                        background-color: #606060;
                        margin: 24px 0;
                        position: relative;
                        left: 35px;
                    }
                }

                @media #{$large-mobile} {

                    // Before Selector
                    &::before {
                        content: "";
                        float: left;
                        height: 2px;
                        width: 6px;
                        background-color: #666b72;
                        margin: 24px 0;
                        position: relative;
                        left: 35px;
                    }
                }

                // Child Selector
                // &:last-child {
                //     margin-bottom: 0;
                // }

                & a {
                    // display: block;
                    // font-size: 13px;
                    // color: #666b72;
                    // line-height: 20px;
                    // font-weight: 400;
                    @media #{$large-mobile}{
                        border-bottom: 1px solid #e8e8e8;
                    }

                    @media #{$desktop-device}{
                        border-bottom: none;
                    }

                    // Responsive
                    @media #{$tablet-device} {
                        padding: 10px 25px 10px 45px;
                        line-height: 30px;
                        font-size: 13px;
                        color: #666b72; 
                        font-weight: 400;
                        position: relative;
                    }

                    @media #{$large-mobile} {
                        padding: 10px 25px 10px 45px;
                        line-height: 30px;
                        font-size: 13px;
                        color: #666b72;
                        font-weight: 400;
                        position: relative;
                    }

                    // Hover
                    &:hover {
                        color: $hover-color;
                    }
                }
            }
        }

        // Menu Banner Add
        &.add {
            float: left;
            width: auto;
            padding: 0;
            border: none;
            margin: 30px -45px 0;

            & a {
                display: block;
                border: none;
                margin: 0;

                & img {
                    width: 100%;
                }
            }
        }

    }

    


}


/* category submenu */
.category-submenu{
    // position: absolute;
    // left: 252px;
    // top: 0;
    // background-color: $white;
    // box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1); 
    // border-radius: 3px;
    // z-index: 9;
    // width: 250px;
    // padding: 15px;
    // opacity: 0;
    // visibility: hidden;
    // transition: all 0.5s ease 0s;

    // @media #{$desktop-device}{
    //     left: 210px;
    // }

    // li{
    //     border-bottom: 1px solid #ebebeb;

    //     a{
    //         padding: 10px 0;
    //         display: block;
    //         font-size: 13px;
    //     }

    //     &:first-child{
    //         a{
    //             padding-top: 0;
    //         }
    //     }

    //     &:last-child{
    //         border-bottom: 0;
    //         a{
    //             padding-bottom: 0;
                
    //         }
    //     }
    // }
}


a#more-btn{
    font-weight: 500;
    font-size: 14px;
}


/*----------  search icon menutop  ----------*/

.search-icon-menutop-tablet{

    &.search-icon-menutop-tablet-home-4{
        top: -40px; 
        margin-top: 0;
        right: 15px;
    }

    position: absolute;
    top: 50%;
    margin-top: -14px;
    right: 120px;
    z-index: 9;

    a{
        font-size: 25px;
        color: #363f4d;
    }

}


/*----------  search overlay  ----------*/

.search-overlay{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 999999;
    opacity: 0.9;
    display: none;

    .search-overlay-close{
        position: absolute;
        top: 20px;
        right: 20px;
        color: #ffffff;
        font-size: 30px;

        &:hover{
            color: $hover-color;
        }
    }

    .search-box{
        position: absolute;
        top: 30vh; 
        left: 50%;;
        border: 1px solid #ffffff;
        padding: 10px 40px 10px 20px;
        width: 500px;
        margin-left: -250px;
        border-radius: 50px;

        @media #{$large-mobile}{
            width: 400px;
            margin-left: -200px;
        }

        @media #{$extra-small-mobile}{
            width: 250px;
            margin-left: -125px;
        }
        input{
            background: none;
            border: none;
            color: #ffffff;
            width: 100%; 
            font-size: 14px;
        }

        button{
            background: none;
            border: none;
            color: #ffffff;
            position: absolute;
            right: 10px;
            font-size: 25px;
            top: 50%;
            margin-top: -12px;
        }
    }
}




/*----------  header three icon style  ----------*/

.header-icons{

    @media #{$tablet-device}{
        margin-right: 120px;
    }
    @media #{$large-mobile}{
        margin-right: 100px; 
    }

    @media #{$small-mobile}{ 
        margin-right: 0;
        justify-content: flex-start !important;
    }

    /*----------  search icon  ----------*/
    
    .search-icon-menutop{
        &>a{
            color: $white;
            font-size: 24px;
            text-align: right;
            &:hover{
                color: $hover-color;
            }
        }
    }

    .minicart-icon{
        position: relative;
        display: inline-block;
        &>a{
            color: $white;
            font-size: 24px;
            &:hover{
                color: $hover-color;
            }
        }

        .cart-floating-box{
            top: 30px;

            @media #{$large-mobile}{
                right: -50px;
                top: 45px;
            }

            @media #{$small-mobile}{
                right: -200px;
            }

            @media #{$extra-small-mobile}{
                right: -225px;
            }
        }
    }

    .settings-icon{
        position: relative;
        display: inline-block;
        &>a{
            color: $white;
            font-size: 24px;
            &:hover{
                color: $hover-color;
            }
        }
    }

    .user-icon{
        position: relative;
        display: inline-block;
        &>a{
            color: $white;
            font-size: 24px;
            &:hover{
                color: $hover-color;
            }
        }
    }

    .language-currency-list {
        padding: 5px 15px;
        border: none;
        text-align: center;
        position: absolute;
        top: 32px;
        left: auto;
        right: 0;
        min-width: 120px;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
        background-color: $white;
        z-index: 20; 
        border-radius: 3px;

        @media #{$extra-small-mobile} {
            left: auto;
            right: -10px; 
        }

        ul {
            li {
                padding: 10px 0;
                border-bottom: 1px solid #ebebeb;

                a {
                    color: #7a7a7a; 
                    @include transition(0.2s); 
                    &:hover {
                        color: $hover-color;
                    }
                }


                &:last-child{
                    border-bottom: none;
                }
            }
        }
    } 
}

/*=====  End of 03. Header  ======*/