/*=============================================
=           08. Shop            =
=============================================*/


/*----------  shop header  ----------*/

.shop-header {
    border: 1px solid #ebebeb;
    padding: 15px 25px;



    /*----------  view mode icons  ----------*/

    .view-mode-icons {
        a {
            font-size: 25px;
            margin-right: 10px;
            color: #dbdbdb;

            &.active {
                color: $theme-color;
            }

            &:hover {
                color: $hover-color;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }


    .nice-select {
        height: 35px;
        line-height: 35px;
        border-radius: 0;

        ul {
            &.list {
                border-radius: 0;
                right: 0;
                left: auto;

                li {
                    &:hover {
                        background-color: $hover-color;
                        color: $white;
                    }
                }
            }
        }
    }
}

.shop-product-wrap {

    &.shop-grid-three{
        [class*="col-"] {

            .fl-product{
                box-shadow: 1px 0 0 0 #ebebeb !important;

                @media #{$small-mobile}{
                    box-shadow: none !important;
                }

            }

            &:nth-child(2n+2){
                .fl-product{
                    @media #{$tablet-device}{
                        box-shadow:none !important;
                    }
                    @media #{$large-mobile}{
                        box-shadow:none !important;
                    }
                }
            }

            &:nth-child(1n + 4) {
                border-top: 1px solid #ebebeb;
                margin-top: 30px;
                padding-top: 30px;
            }

            &:nth-child(3n+3) {
                .fl-product {

                    @media(min-width: 1200px){
                        box-shadow: none !important;
                    }

                    @media #{$laptop-device}{
                        
                        box-shadow: none !important; 
                    }

                    @media #{$desktop-device}{
                        
                        box-shadow: none !important; 
                    }

                    
                }
            }

        }
    }

    [class*="col-"] {
        
        &:nth-child(1n+2){
            @media #{$small-mobile}{
                border-top: 1px solid #ebebeb;
                margin-top: 30px;
                padding-top: 30px;
            }
        }
        .fl-product{
            @media #{$small-mobile}{
                box-shadow: none;
            }
        }

        &:nth-child(4n+4) {
            .fl-product {
                box-shadow: none;
            }
        }

        &:nth-child(2n+2){

            .fl-product{

                @media #{$tablet-device}{
                    box-shadow: none;
                }

                @media #{$large-mobile}{
                    box-shadow: none;
                }
            }
        }

        &:nth-child(1n + 5) {
            border-top: 1px solid #ebebeb;
            margin-top: 30px;
            padding-top: 30px;


        }

        &:nth-child(1n + 3){
            @media #{$tablet-device}{
                border-top: 1px solid #ebebeb;
                margin-top: 30px;
                padding-top: 30px;
            }
            @media #{$large-mobile}{
                border-top: 1px solid #ebebeb;
                margin-top: 30px;
                padding-top: 30px;
            }
        }
    }

    
}



/*----------  shop list switcher  ----------*/

.shop-product-wrap { 
    &.grid {


        .shop-list-view-product {
            display: none;
        }
        .shop-grid-view-product{
            animation-name: zoomIn;
            animation-duration: 1s;
        }
    }

    &.list {
        [class*="col-"] {

            &:nth-child(1n + 5) {
                border-top: none;
                margin-top: 0;
                padding-top: 0;
            }

            &:nth-child(1n + 2) {
                border-top: 1px solid #ebebeb;
                margin-top: 30px;
                padding-top: 30px;
            }   
        }

        .shop-grid-view-product {
            display: none;
        }
        .shop-list-view-product{
            animation-name: fadeInRight;
            animation-duration: 1s;
        }
    }
}


.shop-product-wrap.list {
    
    [class*="col"],
    [class*="col-"] {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
        flex: 1 0 100%;
        width: 100%;
        max-width: 100%;
    }
}


/*----------  shop grid view product style  ----------*/

.shop-grid-view-product{
    .image{
        @media #{$tablet-device}{
            width: calc(100% - 9px);
        }

        @media #{$small-mobile}{ 
            left: 0;
            transform: none;
            margin: 0;
        }
    }
}


/*----------  shop list view product style  ----------*/

.shop-list-view-product{
    box-shadow: none; 
    display: flex;
    justify-content: start;

    @media #{$large-mobile}{
        flex-direction: column;
    }

    .image{
        width: 270px;
        left: 0;
        transform: none;
        border: 1px solid #ebebeb;

        @media #{$large-mobile}{
            margin-bottom: 30px;
        }
    }

    .content{
        text-align: left;
        padding: 0;
        padding-left: 15px;
        width: calc(100% - 270px);

        @media #{$large-mobile}{
            width: 100%;
        }

        h2.product-title{
            margin-bottom: 10px; 
        }

        p.product-price{
            margin-bottom: 20px; 
        }

        p.product-description{
            margin-bottom: 40px;
        }

        .hover-icons{
            visibility: visible;
            opacity: 1;
            position: relative;
            width: 100%;
            left: 0;
            transform: none;
            bottom: 0;
            ul{
                li{
                    &:nth-child(1){
                        a{
                            width: 120px; 
                            border-radius: 30px;
                            height: 40px;
                            line-height: 40px;
                        }
                    }

                    &:nth-child(2){
                        a{
                            &:hover{
                                &:before{
                                    visibility: hidden;
                                }
                                &:after{
                                    visibility: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*=====  End of 08. Shop  ======*/