
/*=============================================
=           09. Sidebar            =
=============================================*/


/*----------  slider with banner sidebar  ----------*/


.slider-sidebar{

    background-color: #f9f9fb;
    height: 100%;
    border-left: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    background-image: url('../images/icons/sidebar1.png');
    background-position: 0 100%;
    background-repeat: no-repeat;

    @media #{$large-mobile}{
        background-position: 100% 100%;
    }
    
    h3{
        &.slider-sidebar-title{
            font-size: 14px;
            line-height:25px;
            font-weight: 700;
            color: $white;
            background-color: $theme-color;
            padding: 15px;
            margin-bottom: 0;
            position: relative;

            &:after{
                content: "";
                position: absolute;
                border-width: 27px 0 27px 10px; 
                border-style: solid;
                border-color: transparent;
                border-left-color: #9acf6a;
                right: -10px;   
                top: 0;
                z-index: 9; 
            }
        }
    }

    .sidebar-list{
        ul{
            padding: 10px 30px;
            li{
                border-bottom: 1px solid #ebebeb;
                &:last-child{
                    border-bottom: 0;
                }
                a{
                    font-size: 14px;
                    line-height: 35px;
                    display: block;

                }
            }
        }
    }


}



/*----------  tab sidebar  ----------*/

.tab-sidebar{
    h3{
        &.tab-sidebar-title{
            font-size: 14px;
            line-height:25px;
            font-weight: 700;
            color: $white;
            background-color: $theme-color;
            padding: 15px;
            margin-bottom: 0;
            position: relative;

            &:after{
                content: "";
                position: absolute;
                border-width: 27px 0 27px 10px; 
                border-style: solid;
                border-color: transparent;
                border-left-color: #9acf6a;
                right: -10px;   
                top: 0;
                z-index: 9; 
            }
        }
    }
}





/*-- Sidebar Price --*/

.sidebar-price {
    & #price-range {
        width: 100%;
        height: 7px;
        margin: 7px 0;
        background-color: #2c2c2c;  
        position: relative;
        border-radius: 50px;

        & .ui-slider-range {
            position: absolute;
            height: 100%;
            top: 0;
            background-color: $theme-color;
        }

        & .ui-slider-handle {
            background-color: $theme-color;
            position: absolute;
            width: 21px;
            height: 21px;
            border-radius: 50px;
            display: block;
            top: -7px;
            transition: none;
            box-shadow: 2px 4px 4px rgba($black, 0.15);
        }
    }

}


/*----------  single sidebar  ----------*/

.single-sidebar{
    border: 1px solid #e5e5e5;
    padding: 20px;


    
    /*---------- sidebar title  ----------*/
    
    

    h3{
        &.sidebar-title{
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            border-bottom: 1px solid #ebebeb;
            padding-bottom: 15px;
            margin-bottom: 20px; 
        }

        &.filter-price-title{
            font-weight: 500;
            border-bottom: none;
        }

        &.color-title{
            font-weight: 500;
            border-bottom: none;
            padding-bottom: 0;
        }
    }


    
    /*----------  category  ----------*/
    
    .category{
        ul{
            li{
                display: block;
                border-bottom: 1px solid #ebebeb;
                line-height: 44px;

                &:last-child{
                    border-bottom: none;
                }
                a{
                    color: $heading-text-color;

                    &:hover{
                        color: $hover-color;
                    }
                }
            }
        }
    }

    
    /*----------  price range  ----------*/
    
    &.price-range-bg{
        background-color: #F6F6F6; 
        border-top: none;
        border-bottom: none;

        .sidebar-price{
            .price-amount{
                font-size: 14px;
                font-weight: 400;
                color: $heading-text-color;
                line-height: 24px;
                padding: 0;
                background-color: transparent;
                border: none;
                margin-top: 12px;
            }
        }
    }

    
    /*----------  color   ----------*/
    
    .color-category{
        ul{
            li{
                position: relative; 
                display: block;
                margin-bottom: 15px;
                a{
                    color: $heading-text-color;

                    &:hover{
                        color: $hover-color;
                    }
                }

                span{
                    &.counter{
                        float: right;
                        color: #9b9b9b;
                    }
                }

                &:before{
                    content: "";
                    display: inline-block;
                    height: 17px;
                    width: 17px;
                    border-radius: 3px;
                    border: 1px solid #ebebeb;
                    margin-right: 10px;
                    vertical-align: middle;
                }

                &:hover{
                    &:before{
                        background: #9acf6a;
                        border-color: #9acf6a;
                    }
                }

                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }

    
    /*----------  compare  ----------*/
    
    .product-list{
        margin-bottom: 20px;
        li{
            display: block;
            border-bottom: 1px solid #ebebeb;
            position: relative;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-top: 10px;
            
            a{
                color: #333333;
                font-size: 14px;
                line-height: 20px;
                &.remove{
                    position: absolute;
                    right: 0;
                    font-size: 20px;
                    font-weight: 500;
                    color: #808080;
                    top: 10px;

                    &:hover{
                        color: $hover-color;
                    }
                }
            }
        } 
    }

    .compare-btns{
        overflow: hidden;
        .compare{
            @include fl-button;
            text-transform: uppercase;
            background-color: #1a1a1a;
            color: $white;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 15px;
            padding-right: 15px;
            float: right;
            
            &:hover{
                @include fl-button-hover;
            }
        }
    }

    
    /*----------  tag container  ----------*/
    
    .tag-container{
        li{
            display: inline-block;
            margin-right: 5px;
            margin-bottom: 10px;
            a{
                border: 1px solid #ebebeb;
                padding: 5px 10px;
                border-radius: 3px;
                color: #555; 

                &:hover{
                    background-color: $hover-color;
                    border-color: $hover-color;
                    color: $white; 
                }
            }
        }
    }

}

/*----------  Sidebar search box  ----------*/

.sidebar-search-box{
    border: 1px solid #e0e0e0; 
    position: relative;
    padding-right: 10px;
    input{
        border: none;
        padding: 10px;
        padding-left: 10px;
        width: 100%;
    }
    button{
        position: absolute;
        top: 10px;
        right: 0;
        background: none;
        border: none;

        &:hover{
            color: $theme-color;
        }
    }
} 


/*----------  single block  ----------*/
    
.single-block{
    border-bottom: 1px solid #ddd;
    padding: 15px 0;

    &:first-child{
        padding-top:0; 
    }

    &:last-child{
        padding-bottom:0;
        border-bottom: 0; 
    }
    .image{
        flex-basis: 100px;
        margin-right: 5px;
        a{
            border: 2px solid transparent;
            display: block;

            img{
                width: 100%;
            }

            &:hover{
                border: 2px solid $theme-color;
            }
        }
        
    }

    .content{
        flex-basis: 100%;
        p{
            margin-bottom: 0;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px; 
            color: $heading-text-color;

            a{
                &:hover{
                    color: $hover-color;
                }
            }

            span{
                font-size: 12px;
                line-height: 16px;
                color: #999;
                font-weight: 400;
                margin-top: 5px;
                display: block;
            }
        }
    }

    &.comment-block{
        .image{
            flex-basis: 80px;
        }
        .content{
            p{
                span{
                    font-size: 14px;
                    line-height: 20px;
                    color: #666666;
                }

                a{
                    font-size: 12px;
                    line-height: 16px;
                    font-weight: 400;
                    color: #808080;
                    &:hover{
                        color: $hover-color;
                    }

                }
            }
        }
    }
} 



/*=====  End of 09. Sidebar  ======*/

