
/*=============================================
=            10. Single Product            =
=============================================*/


/*----------  single product content  ----------*/

.single-product-content-area{
    .product-feature-details{

        .group-product-form {
            .table-content table {
                background: #fff none repeat scroll 0 0;
                border-color: #e5e5e5;
                border-radius: 0;
                border-style: solid;
                border-width: 1px 0 0 1px;
                text-align: center;
                width: 100%;
    
                td {
                    padding: 12px 10px;
                    border-bottom: 1px solid #e5e5e5;
                    border-right: 1px solid #e5e5e5;
                    width: 33.33%;
    
                    &.product-name {
                        font-weight: 500;
                        a{
                            font-size: 14px;
                            &:hover{
                                color: $theme-color;
                            }
                        }
                    }
    
                    p {
                        span {
                            display: block;
                            margin-top: 10px;
    
                        }
                    }
    
    
                }
            }
    
        }
    
        .rating{ 
            i.fa{
                color: #E1E1E1;
            }
            i.active{
                color: #F9BA48;
            }
        }

        .review-link{
            a{
                color: $theme-color;
            }
        }

        .product-description{
            border-top: none;
        }

        
    .size {
        font-weight: 400;
        color: #666;
        font-size: 14px;
        line-height: 16px;

        span{
            &.title{
                font-weight: 500;
            }
        }

        .nice-select {
            width: 100px;
            border: 1px solid #ddd;
            padding: 5px;
            margin-top: 5px;
            float: none;

            span{

                &.current{
                    padding-left: 10px;
                }
            }
        }
    }

    .color {
        font-weight: 400;
        color: #666;
        font-size: 14px;
        line-height: 16px;

        span{
            &.title{
                font-weight: 500;
            }
        }

        span.color-block {
            width: 30px;
            height: 30px;
            display: inline-block; 
            margin-right: 5px;
            margin-top: 10px;
        }

        span.color-choice-1 {
            background-color: #B09603;
        }

        span.color-choice-2 {
            background-color: #C8BDBB;
        }
 
        span.color-choice-3 {
            background-color: #225170;
        }

        span.active {
            border: 2px solid $theme-color;
            width: 32px;
            height: 32px;
        }
    }


        .cart-buttons{
            .quantity-title{
                font-weight: 500;
            }
        }

        .add-to-cart-btn{
            a{
                border-radius: 30px;
                background-color: $theme-color;
                &:hover{
                    background-color: $heading-text-color;
                }
            }
        }

        .wishlist-link{
            border-bottom: 1px solid #ddd;
            a{
                i.icon{
                    margin-right: 5px;
                }
                margin-right: 20px;
            }
        }

        .category-list-container{
            span{
                font-weight: 500;
            }
            ul{
                display: inline-block;
                margin-left: 5px;

                @media #{$tablet-device}{
                    margin-left: 0;
                }

                @media #{$large-mobile}{
                    margin-left: 0;
                }
                li{
                    display: inline-block;
                    margin-right: 5px;
                }
            }
        }

        .social-share-buttons{
            ul{
                margin-bottom: 0;
                li{
                    a{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.fl-product-image-slider{ 
    .fl-product-large-image-list{
        .single-product-img{
            position: relative;
            /*----------  big image popup  ----------*/
    
            a.big-image-popup {
                position: absolute;
                top: 50%;
                left: 50%;
                background-color: #373737;
                color: #ffffff;
                padding: 10px 15px;
                border-radius: 5px;
                visibility: hidden;
                opacity: 0;
                margin-left: -20px;
                margin-top: -20px;
    
                &:hover {
                    background-color: $theme-color;
                }
            }

            &:hover{
                a.big-image-popup{
                    visibility: visible;
                    opacity: 1;
                }
            }
    
        }
    }
}


/*----------  product description tab  ----------*/

.product-description-review-container{
    nav{
        .nav-tabs{
            @media #{$extra-small-mobile}{
                flex-direction: row;
                .nav-link{
                    @media #{$extra-small-mobile}{
                        border-right: 1px solid #ebebeb !important;
                    }

                    &:last-child{
                        @media #{$extra-small-mobile}{
                            border-right: none !important;
                        }
                    }
                }
            }

        }
    }
    .tab-content{
        .tab-pane{

            &.active{
                padding: 20px 30px;
            }

            .product-description{
                p{
                    line-height: 28px;
                }
            }
        }
    }
}

 /*-- Single Product Rating --*/
 .product-ratting-wrap {
    overflow: hidden;
}

.pro-avg-ratting {
    margin-bottom: 20px;
    float: left;
    width: 100%;

    & h4 {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        margin: 0 0 7px;

        & span {
            color: $body-text-color;
            font-size: 12px;
            font-weight: 400;
            line-height: 10px;
        }
    }

    &>span {
        display: block;
        font-size: 12px;
        line-height: 10px;
    }
}

.ratting-list {
    margin-bottom: 30px;
    float: left;
    width: 100%;

    & .sin-list {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }

        & i {
            color: $body-text-color;
            font-size: 12px;
        }

        & span {
            color: #666666;
        }
    }
}

.rattings-wrapper {
    margin-bottom: 40px;
    float: left;
    width: 100%;
}

.sin-rattings {
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }

    & .ratting-author {
        float: left;
        width: 100%;
        margin-bottom: 10px;

        & h3 {
            float: left;
            font-size: 16px;
            font-weight: 500;
            margin: 0;
            line-height: 18px;
            margin-right: 15px;
        }

        & .ratting-star {

            // Responsive
            @media #{$small-mobile} {
                float: left;
                width: 100%;
                margin-top: 5px;
            }

            & i,
            & span {
                color: $body-text-color;
                font-size: 12px;
                line-height: 18px;
                float: left;
            }

            & span {
                margin-left: 5px;
            }
        }
    }

    & p {
        color: #666666; 
        font-size: 15px;
        line-height: 24px;
    }
}


/*-- Ratting Form Wrap --*/
.ratting-form-wrapper {
    float: left;
    width: 100%;

    & h3 {
        font-size: 16px;
        margin: 0 0 30px;
        text-transform: uppercase;
        font-weight: 500;
        line-height: 16px;
    }
}

/*-- Ratting Form --*/
.ratting-form {
    & h5 {
        float: left;
        font-size: 14px;
        line-height: 18px;
        margin-right: 10px;
    }

    & .ratting-star {
        & i {
            font-size: 14px;
            float: left;
            line-height: 18px;
            display: block;
            margin-right: 3px;

            &:last-child {
                margin: 0;
            }
        }
    }

    & label {
        display: block;
        font-size: 14px;
        color: #666666;
        margin-bottom: 3px;
    }

    & input {
        width: 100%;
        background-color: transparent;
        border: 1px solid #dddddd;
        font-size: 13px;
        line-height: 24px;
        padding: 8px 15px;
        color: #666666;

        &[type="submit"] {
            width: auto;
            padding: 8px 30px;
            border-radius: 3px;
            border-color: $heading-text-color;
            background-color: $heading-text-color;
            text-transform: uppercase;
            font-weight: 600;
            color: $white;

            &:hover {
                border-color: $hover-color;
                background-color: $hover-color;
                color: #ffffff;
            }
        }

    }

    & textarea {
        width: 100%;
        background-color: transparent;
        border: 1px solid #dddddd;
        font-size: 13px;
        line-height: 24px;
        padding: 8px 15px;
        color: #666666;
        height: 80px;
        resize: none;
    }
}


/*----------  product image gallery   ----------*/

.product-image-gallery{

    .single-product-img{
        border: 1px solid #ddd;
    }
}
 
.single-product-img{
    position: relative;
    /*----------  big image popup  ----------*/

    a.big-image-popup {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: #373737;
        color: #ffffff;
        padding: 10px 15px;
        border-radius: 5px;
        visibility: hidden;
        opacity: 0;
        margin-left: -20px;
        margin-top: -20px;

        &:hover {
            background-color: $theme-color;
        }
    }

    &:hover{
        a.big-image-popup{
            visibility: visible;
            opacity: 1;
        }
    }

}

/*----------  left side image slider  ----------*/

.left-side-tab{
    flex-direction: row-reverse;

    @media #{$extra-small-mobile}{
        flex-direction: column;
    }
    .pts1-product-large-image-list{
        width: calc(100% - 130px);

        @media #{$desktop-device}{
            width: calc(100% - 100px);
        }

        @media #{$small-mobile}{
            width: calc(100% - 100px);
        }
        @media #{$extra-small-mobile}{
            width: 100%;
        }
    }

    .pts1-product-small-image-list{
        width: 130px;

        @media #{$desktop-device}{
            width: 100px;
        }

        @media #{$small-mobile}{
            width: 100px;
        }

        @media #{$extra-small-mobile}{
            width: 100%;
        }

        .pts1-small-image-slider{
            .slick-arrow{
                left: 40%;
            }
        }
    }

    
}

/*----------  right side image slider  ----------*/

.pts1-product-image-slider{
    display: flex;
    align-items: center;
    margin-bottom: 0;

    @media #{$extra-small-mobile}{
        flex-direction: column;
        
    }
}



.pts1-product-large-image-list{
    width: calc(100% - 150px);

    @media #{$desktop-device}{
        width: calc(100% - 120px);
    }

    @media #{$small-mobile}{
        width: calc(100% - 120px);
    }

    @media #{$extra-small-mobile}{
        width: 100%;
        margin-bottom: 15px;
    }

    .single-product-img{
        img{
            border: 1px solid #ebebeb;
        }
    }
}

.pts1-small-image-slider{
    @media #{$extra-small-mobile}{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

.pts1-product-small-image-list{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    width: 150px;

    @media #{$desktop-device}{
        width: 120px;
    }

    @media #{$small-mobile}{
        width: 120px;
    }
    @media #{$extra-small-mobile}{
        width: 100%;
    }
    .single-small-image{
        a{
            img{
                border: 1px solid #ebebeb;
            }
        }
    }

    .slick-slide > div > div {
        @media #{$extra-small-mobile}{
            vertical-align: middle;
        }
      }

    .slick-arrow{
        border-radius: 50%;
        visibility: hidden;
        opacity: 0;

        &.slick-prev{
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
        }

        &.slick-next{ 
            top: 95%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &:hover{
        .slick-arrow{
            visibility: visible;
            opacity: 1;
        }
    }
}

 


/*=====  End of 10. Single Product  ======*/

